force-app/main/default/flows/AccountCreateMT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>X1</name>
        <label>MT User？</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>X1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueName.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eRC000003dKLJYA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateMT</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【取引先】日東紡レコード作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【取引先】日東紡レコード作成</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateMT</name>
        <label>取引先日東紡を作成</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>MT_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>UniqueName</name>
        <label>取得</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>取引先に日東紡を関連付け</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>NTAccount__c</field>
            <value>
                <elementReference>CreateMT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012BV0000004JNhYAM</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
