force-app/main/default/flows/Account_OwnerIdANDTargetUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckProfile</name>
        <label>プロファイルチェック</label>
        <locationX>842</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>それ以外</defaultConnectorLabel>
        <rules>
            <name>ProfileCW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e5h0000016OmI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwnerIdANDTargetCW</targetReference>
            </connector>
            <label>プロファイルCW</label>
        </rules>
        <rules>
            <name>ProfileJU</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eBV000000LrQC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e5h0000016wkK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e5h0000016OmD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwnerIdANDTargetJU</targetReference>
            </connector>
            <label>プロファイルJU</label>
        </rules>
        <rules>
            <name>profileDX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eBV000000Lr5Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwnerIdANDTargetDX</targetReference>
            </connector>
            <label>プロファイルDX</label>
        </rules>
        <rules>
            <name>profileEN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eBV000000LqpM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwnerIdANDTargetEN</targetReference>
            </connector>
            <label>プロファイルEN</label>
        </rules>
        <rules>
            <name>profileMT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eRC000003dKLJ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_MT</targetReference>
            </connector>
            <label>プロファイルMT</label>
        </rules>
        <rules>
            <name>profileST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00eRC000000mJ6n</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_ST</targetReference>
            </connector>
            <label>プロファイルST</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【得意先】個社別所有者、管理対象項目更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【得意先】個社別所有者、管理対象項目更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateOwnerIdANDTargetCW</name>
        <label>個社別所有者と管理対象を更新CW</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>CW_ManagementTarget__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwnerIdANDTargetDX</name>
        <label>個社別所有者と管理対象を更新DX</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>DX_ManagementTarget__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_OwnerId__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwnerIdANDTargetEN</name>
        <label>個社別所有者と管理対象を更新EN</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>EN_ManagementTarget__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EN_OwnerId__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwnerIdANDTargetJU</name>
        <label>個社別所有者と管理対象を更新JU</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>JU_ManagementTarget__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JU_OwnerId__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X1_MT</name>
        <label>個社別所有者と管理対象を更新MT</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>MT_ManagementTarget__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MT_OwnerId__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X2_ST</name>
        <label>個社別所有者と管理対象を更新ST</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>ST_ManagementTarget__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ST_OwnerId__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckProfile</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
