force-app/main/default/flows/Asset_Update_SetSupplyItemWhenEnterShippingDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetAssetRecordValiable</name>
        <label>納入商品レコード変数に値をセット</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>vsRecAsset.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecAsset.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SupplyItem__r.SerialNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SupplyItem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.SelectedAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecAsset.Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SupplyItem__r.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_EnterShippingDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSupplyItemValiable</name>
        <label>仕入商品レコード変数に値をセット</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.ShippingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1</name>
        <label>1/納入商品レコード変数に値をセット をコピー</label>
        <locationX>1018</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SupplyItem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.ShippingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateSupplyItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_1</name>
        <label>納入商品レコード変数に値をセット</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>vsRecAsset.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecAsset.SerialNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.SupplyItem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.SelectedAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Asset__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Description__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecAsset.Description__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecAsset.ShippingDate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecAsset.Cost__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_EnterShippingDate</name>
        <label>出荷日に値があるか</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>UpdateAsset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>EnterShippingDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SupplyItem__r.ShippingDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSupplyItemValiable</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>納入商品側に値がある　かつ　出荷日に値がない</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_SetOrDeleteSupplyItem</name>
        <label>仕入商品を割当てたか削除したか</label>
        <locationX>732</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SupplyItem__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SupplyItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SupplyItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAssetRecordValiable</targetReference>
            </connector>
            <label>新規割り当て</label>
        </rules>
        <rules>
            <name>ChangeAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SupplyItem__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SupplyItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SupplyItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetAssetRecordValiable</targetReference>
            </connector>
            <label>割り当て変更</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SupplyItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SupplyItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_1</targetReference>
            </connector>
            <label>削除</label>
        </rules>
        <rules>
            <name>NotChangeAssignmentAndShippingDateDescription</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SupplyItem__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SupplyItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1</targetReference>
            </connector>
            <label>割り当ての変更なし＆出荷日・備考を更新</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【納入商品】更新_出荷日を仕入商品に反映 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【納入商品】更新_出荷日を仕入商品に反映</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateAsset</name>
        <label>納入商品を更新</label>
        <locationX>732</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>UpdateSupplyItem</targetReference>
        </connector>
        <inputReference>vsRecAsset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSupplyItem</name>
        <label>仕入商品を更新</label>
        <locationX>732</locationX>
        <locationY>1031</locationY>
        <inputReference>vsRecSupplyItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_SetOrDeleteSupplyItem</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>vsRecAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>vsRecSupplyItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SupplyItem__c</objectType>
    </variables>
</Flow>
