force-app/main/default/flows/BA_Perception.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>a_set</name>
        <label>a_set</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_a_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>a_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>b_set</name>
        <label>b_set</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_b_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_a_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>a_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>c_set</name>
        <label>c_set</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_c_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_b_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_a_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>a_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>d_set</name>
        <label>d_set</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_d_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>d_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_c_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_b_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_a_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>a_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DateUpdSet</name>
        <label>更新日設定</label>
        <locationX>1370</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_z</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_d</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_f</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_8__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_h</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_9__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_i</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Genba_Date_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Genba_z</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Genba_Date_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Genba_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Genba_Date_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Genba_b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Genba_Date_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Genba_d</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Genba_Date_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Genba_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Honsha_Date_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Honsha_z</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Honsha_Date_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Honsha_a</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Honsha_Date_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Honsha_b</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Honsha_Date_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Honsha_c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Suishin_Date_71__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Suishin_g</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_Genba_Date_31__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_Genba_c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>h</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>e_set</name>
        <label>e_set</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_e_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>e_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_d_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>d_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_c_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_b_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_a_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>a_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>f_set</name>
        <label>f_set</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_f_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_e_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>e_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_d_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>d_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_c_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_b_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_a_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>a_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>g_set</name>
        <label>g_set</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_g_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>g_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_f_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_e_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>e_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_d_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>d_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_c_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_b_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_a_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>a_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>h_set</name>
        <label>h_set</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_h_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>h_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_g_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>g_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_f_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_e_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>e_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_d_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>d_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_c_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_b_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_a_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>a_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>i_set</name>
        <label>i_set</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_h_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>h_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_g_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>g_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_f_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_e_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>e_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_d_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>d_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_c_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_b_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>b_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_a_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>a_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_i_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>i_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>uppLastUpdDate</name>
        <label>最新更新日更新</label>
        <locationX>1370</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_Last_UpdDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>z_set</name>
        <label>z_set</label>
        <locationX>2426</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>$Record.DX_LV_z_updDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>z_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>uppLastUpdDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>h</name>
        <label>h</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>uppLastUpdDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>i_hv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_9__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_9__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>i_set</targetReference>
            </connector>
            <label>i_hv</label>
        </rules>
        <rules>
            <name>h_lv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_8__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_8__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>h_set</targetReference>
            </connector>
            <label>h_lv</label>
        </rules>
        <rules>
            <name>g_lv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_71__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_71__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>g_set</targetReference>
            </connector>
            <label>g_lv</label>
        </rules>
        <rules>
            <name>f_lv</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_7__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_7__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>f_set</targetReference>
            </connector>
            <label>f_lv</label>
        </rules>
        <rules>
            <name>e_lv</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_6__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_6__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_5__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>e_set</targetReference>
            </connector>
            <label>e_lv</label>
        </rules>
        <rules>
            <name>d_lv</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_5__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>d_set</targetReference>
            </connector>
            <label>d_lv</label>
        </rules>
        <rules>
            <name>c_lv</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Honsha_5__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Honsha_5__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_31__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_31__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c_set</targetReference>
            </connector>
            <label>c_lv</label>
        </rules>
        <rules>
            <name>b_lv</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Honsha_4__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Honsha_4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>b_set</targetReference>
            </connector>
            <label>b_lv</label>
        </rules>
        <rules>
            <name>a_lv</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Honsha_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Honsha_2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>a_set</targetReference>
            </connector>
            <label>a_lv</label>
        </rules>
        <rules>
            <name>z_lv</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_Honsha_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Honsha_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Genba_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DX_Suishin_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>z_set</targetReference>
            </connector>
            <label>z_lv</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>a_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_a_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_a_updDate__c})</expression>
    </formulas>
    <formulas>
        <name>b_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_b_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_b_updDate__c})</expression>
    </formulas>
    <formulas>
        <name>c_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_c_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_c_updDate__c})</expression>
    </formulas>
    <formulas>
        <name>d_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_d_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_d_updDate__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_a</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Genba_2__c}) , {!$Record.DX_Genba_2__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_2__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_b</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Genba_3__c}) , {!$Record.DX_Genba_3__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_3__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_c</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Genba_31__c}) , {!$Record.DX_Genba_31__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_31__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_d</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Genba_4__c}) , {!$Record.DX_Genba_4__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_4__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_e</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Genba_5__c}) , {!$Record.DX_Genba_5__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_5__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_z</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Genba_1__c}) , {!$Record.DX_Genba_1__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_1__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Honsha_a</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Honsha_2__c}) , {!$Record.DX_Honsha_2__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_2__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Honsha_b</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Honsha_4__c}) , {!$Record.DX_Honsha_4__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_4__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Honsha_c</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Honsha_5__c}) , {!$Record.DX_Honsha_5__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_5__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Honsha_z</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Honsha_1__c}) , {!$Record.DX_Honsha_1__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_1__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_a</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_2__c}) , {!$Record.DX_Suishin_2__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_2__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_b</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_3__c}) , {!$Record.DX_Suishin_3__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_3__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_c</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_4__c}) , {!$Record.DX_Suishin_4__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_4__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_d</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_5__c}) , {!$Record.DX_Suishin_5__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_5__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_e</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_6__c}) , {!$Record.DX_Suishin_6__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_6__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_f</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_7__c}) , {!$Record.DX_Suishin_7__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_7__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_g</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_71__c}) , {!$Record.DX_Suishin_71__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_71__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_h</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_8__c}) , {!$Record.DX_Suishin_8__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_8__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_i</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_9__c}) , {!$Record.DX_Suishin_9__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_9__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_z</name>
        <dataType>Date</dataType>
        <expression>IF ( AND (ISCHANGED({!$Record.DX_Suishin_1__c}) , {!$Record.DX_Suishin_1__c})
, {!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_1__c})</expression>
    </formulas>
    <formulas>
        <name>e_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_e_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_e_updDate__c})</expression>
    </formulas>
    <formulas>
        <name>F_AccountStage_All</name>
        <dataType>String</dataType>
        <expression>IF({!PerceptionLv_Num} &lt;= 0.1 , &apos;未接触&apos; 
,IF({!PerceptionLv_Num} &lt;= 0.2 , &apos;1回目のアポイント承諾&apos; 
,IF({!PerceptionLv_Num} &lt;= 1 , &apos;2回目のアポイント承諾&apos; 
,IF({!PerceptionLv_Num} &lt;= 2 , &apos;BuildAppを理解させる&apos; 
,IF({!PerceptionLv_Num} &lt;= 4 , &apos;課題特定&apos; 
,IF({!PerceptionLv_Num} &lt;= 5 , &apos;トライアル採用支援&apos; 
,IF({!PerceptionLv_Num} &lt;= 6 , &apos;契約締結&apos; 
,IF({!PerceptionLv_Num} &lt;= 7 , &apos;自社とBuildAppの成功確認&apos; 
,IF({!PerceptionLv_Num} &lt;= 8 , &apos;商用利用契約&apos; ,&apos;&apos;)))))))))</expression>
    </formulas>
    <formulas>
        <name>f_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_f_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_f_updDate__c})</expression>
    </formulas>
    <formulas>
        <name>F_PerceptionLv_Num</name>
        <dataType>Number</dataType>
        <expression>CASE({!$Record.DX_PerceptionLv__c}
,&apos;zz&apos;, 1
,&apos;z&apos;, 2
,&apos;a&apos;, 3
,&apos;b&apos;, 4
,&apos;c&apos;, 5
,&apos;d&apos;, 5
,&apos;e&apos;, 6
,&apos;f&apos;, 8
,&apos;g&apos;, 9
,&apos;h&apos;, 10
,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>F_PerceptionLvStr</name>
        <dataType>String</dataType>
        <expression>IF({!PerceptionLv_Num}=0 , &apos;&apos; ,TEXT( {!PerceptionLv_Num}))</expression>
    </formulas>
    <formulas>
        <name>F_Subject</name>
        <dataType>String</dataType>
        <expression>IF ( OR(ISBLANK(TEXT({!$Record.Account__r.AccountStage_All__c} )) , ISPICKVAL({!$Record.Account__r.AccountStage_All__c},&apos;中止&apos;)) , {!$Record.Subject__c}
,IF( ISPICKVAL({!$Record.Contact__r.BuildAppKeyman__c}, &apos;DX推進者&apos; )
,IF( VALUE(TEXT({!$Record.Account__r.AccountStage_All__c}))  &gt;= {!F_PerceptionLv_Num}, &apos;パーセプションLvUP&apos; , {!$Record.Subject__c})
,{!$Record.Subject__c}
 ) )</expression>
    </formulas>
    <formulas>
        <name>g_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_g_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_g_updDate__c})</expression>
    </formulas>
    <formulas>
        <name>h_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_h_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_h_updDate__c})</expression>
    </formulas>
    <formulas>
        <name>i_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_i_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_i_updDate__c})</expression>
    </formulas>
    <formulas>
        <name>z_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.DX_LV_z_updDate__c}) , {!$Flow.CurrentDate} , {!$Record.DX_LV_z_updDate__c})</expression>
    </formulas>
    <label>【パーセプション】指標日付更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>LV_DX_text</name>
        <label>パーセプションLV_DX(text)更新</label>
        <locationX>2866</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>DX_PerceptionLvText__c</field>
            <value>
                <elementReference>$Record.DX_PerceptionLv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>F_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdRecord</name>
        <label>レコード更新</label>
        <locationX>1370</locationX>
        <locationY>792</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1992</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DateUpdSet</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DX_Suishin_1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Suishin_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Suishin_3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Suishin_4__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Suishin_5__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Suishin_6__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Suishin_7__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Suishin_8__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Suishin_9__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Genba_1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Genba_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Genba_3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Genba_4__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Genba_5__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Honsha_1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Honsha_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Honsha_4__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Honsha_5__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Genba_31__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DX_Suishin_71__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BA_Perception__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>LV_DX_text</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PerceptionLv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PerceptionLv_Num</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
