force-app/main/default/flows/BudgetSubmissionNewcreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_1</name>
        <label>割り当てー仮予算</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>loop_1.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>仮予算</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_1.BudgetSubmission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1</name>
        <label>割り当て ーリストに追加</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_2</name>
        <label>割り当てー実行予算</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>loop_2.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>実行予算</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_2.BudgetSubmission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_1</name>
        <label>割り当て ーリストに追加2</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_phase</name>
        <label>フェーズの値</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>X3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>「実行予算」</defaultConnectorLabel>
        <rules>
            <name>tentative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>仮予算</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phase__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_1</targetReference>
            </connector>
            <label>「仮予算」</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【予算申請】予算レコード作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【予算申請】予算レコード作成</label>
    <loops>
        <name>loop_1</name>
        <label>ループ 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>get_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_budget</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_2</name>
        <label>ループ 2</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <collectionReference>X3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>X1_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_execution</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_budget</name>
        <label>create_budget</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>var_list</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_execution</name>
        <label>create_execution</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <inputReference>var_list</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_1</name>
        <label>取得</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetSubmission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>name__c</queriedFields>
        <queriedFields>quantity__c</queriedFields>
        <queriedFields>unitprice__c</queriedFields>
        <queriedFields>note__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X3</name>
        <label>取得 2</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BudgetSubmission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>仮予算</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>name__c</queriedFields>
        <queriedFields>quantity__c</queriedFields>
        <queriedFields>unitprice__c</queriedFields>
        <queriedFields>note__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_phase</targetReference>
        </connector>
        <filterLogic>(1 and 3) OR (2 and 3)</filterLogic>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>仮予算</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>実行予算</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phase__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BudgetSubmission__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget__c</objectType>
    </variables>
</Flow>
