force-app/main/default/flows/ClaimRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendCustomNotification</name>
        <label>カスタム通知を送信</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendOutlookEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomBell.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Var_members</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>【{!$Record.Account__r.Name}】の【{!$Record.Opportunity__r.Name}】で発生したクレームの確認依頼</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ConfirmationRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendOutlookEmail</name>
        <label>メール送信</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CW_OwnerId__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>【{!$Record.Account__r.Name}】の【{!$Record.Opportunity__r.Name}】で発生したクレームの確認依頼</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetMember</name>
        <label>通知メンバーを設定</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Var_members</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CW_OwnerId__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendCustomNotification</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>【クレーム報告書】確認依頼 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【クレーム報告書】確認依頼_カスタム通知＋Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomBell</name>
        <label>カスタム通知を取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ConfirmationRequest</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_request</name>
        <label>通知済みに変更</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ConfirmationRequest__c</field>
            <value>
                <stringValue>確認依頼通知済み</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>phase__c</field>
            <value>
                <stringValue>営業担当者確認中</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCustomBell</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConfirmationRequest__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConfirmationRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>確認依頼を通知</stringValue>
            </value>
        </filters>
        <object>ComplaintReport__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ConfirmationRequest</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>お疲れ様です。【{!$Record.Account__r.Name}】の【{!$Record.Opportunity__r.Name}】でクレームが発生しました。「営業担当者の見解」の入力後、承認申請を行なってください</text>
    </textTemplates>
    <textTemplates>
        <name>SendEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;お疲れ様です。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;【{!$Record.Account__r.Name}】の【{!$Record.Opportunity__r.Name}】で&lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;クレームが発生しました&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;。&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;「営業担当者の見解」の入力後、承認申請を行なってください。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;https://forcecom175.lightning.force.com/lightning/r/ComplaintReport__c/{!$Record.Id}/view&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>sendUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ComplaintReport__c</objectType>
    </variables>
    <variables>
        <name>Var_members</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
