force-app/main/default/flows/CreateSalesPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add1</name>
        <label>add1</label>
        <locationX>655</locationX>
        <locationY>76</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add10</name>
        <label>add10</label>
        <locationX>978</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add11</name>
        <label>add11</label>
        <locationX>153</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add12</name>
        <label>add12</label>
        <locationX>316</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add13</name>
        <label>add13</label>
        <locationX>487</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add14</name>
        <label>add14</label>
        <locationX>649</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add15</name>
        <label>add15</label>
        <locationX>821</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add16</name>
        <label>add16</label>
        <locationX>983</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add17</name>
        <label>add17</label>
        <locationX>137</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add18</name>
        <label>add18</label>
        <locationX>300</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add19</name>
        <label>add19</label>
        <locationX>467</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add2</name>
        <label>add2</label>
        <locationX>801</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add20</name>
        <label>add20</label>
        <locationX>652</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set21</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add21</name>
        <label>add21</label>
        <locationX>812</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set22</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add22</name>
        <label>add22</label>
        <locationX>985</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set23</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add23</name>
        <label>add23</label>
        <locationX>136</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set24</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add24</name>
        <label>add24</label>
        <locationX>292</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Salesplan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add3</name>
        <label>add3</label>
        <locationX>947</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add4</name>
        <label>add4</label>
        <locationX>1094</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add5</name>
        <label>add5</label>
        <locationX>169</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add6</name>
        <label>add6</label>
        <locationX>341</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add7</name>
        <label>add7</label>
        <locationX>519</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add8</name>
        <label>add8</label>
        <locationX>667</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add9</name>
        <label>add9</label>
        <locationX>824</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>SalePlanList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalePlanObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set1</name>
        <label>set1</label>
        <locationX>572</locationX>
        <locationY>80</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varThisTermFirstDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalePlanObj.Oppotunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalePlanObj.Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDepartment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set10</name>
        <label>set10</label>
        <locationX>903</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set11</name>
        <label>set11</label>
        <locationX>73</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set12</name>
        <label>set12</label>
        <locationX>231</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set13</name>
        <label>set13</label>
        <locationX>405</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set14</name>
        <label>set14</label>
        <locationX>570</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set15</name>
        <label>set15</label>
        <locationX>738</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set16</name>
        <label>set16</label>
        <locationX>905</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set17</name>
        <label>set17</label>
        <locationX>62</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set18</name>
        <label>set18</label>
        <locationX>227</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set19</name>
        <label>set19</label>
        <locationX>387</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set2</name>
        <label>set2</label>
        <locationX>727</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set20</name>
        <label>set20</label>
        <locationX>570</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set21</name>
        <label>set21</label>
        <locationX>732</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add21</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set22</name>
        <label>set22</label>
        <locationX>893</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add22</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set23</name>
        <label>set23</label>
        <locationX>61</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add23</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set24</name>
        <label>set24</label>
        <locationX>211</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add24</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set3</name>
        <label>set3</label>
        <locationX>877</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set4</name>
        <label>set4</label>
        <locationX>1027</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set5</name>
        <label>set5</label>
        <locationX>84</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set6</name>
        <label>set6</label>
        <locationX>253</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set7</name>
        <label>set7</label>
        <locationX>438</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set8</name>
        <label>set8</label>
        <locationX>602</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set9</name>
        <label>set9</label>
        <locationX>747</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>SalePlanObj.YearMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add9</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exist</name>
        <label>Exist</label>
        <locationX>420</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>set1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Exist1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Salesplan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Salesplan</targetReference>
            </connector>
            <label>Exist1</label>
        </rules>
    </decisions>
    <formulas>
        <name>calcDate</name>
        <dataType>Date</dataType>
        <expression>addmonths({!varThisTermFirstDate}, {!monthCount})</expression>
    </formulas>
    <interviewLabel>CreateSalesPlan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateSalesPlan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Salesplan</name>
        <label>Create Salesplan</label>
        <locationX>390</locationX>
        <locationY>590</locationY>
        <inputReference>SalePlanList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Salesplan</name>
        <label>Delete Salesplan</label>
        <locationX>507</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>set1</targetReference>
        </connector>
        <inputReference>Select_Salesplan</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Select_Salesplan</name>
        <label>Select Salesplan</label>
        <locationX>331</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oppotunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CW_SalesPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Salesplan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>monthCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SalePlanList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CW_SalesPlan__c</objectType>
    </variables>
    <variables>
        <name>SalePlanObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CW_SalesPlan__c</objectType>
    </variables>
    <variables>
        <name>varDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varThisTermFirstDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
