force-app/main/default/flows/CS_property_accountrate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>a_1_add</name>
        <label>A 1加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>a_1_by_received_order_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>a_2_add</name>
        <label>A 2加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>a_2_by_received_order_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>a_3_add</name>
        <label>A 3加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>a_3_by_received_order_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_a_1_by_received_order_is</name>
        <label>A 1受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_a_2_by_received_order_is</name>
        <label>A 2受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_a_3_by_received_order_is</name>
        <label>A 3受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCSproperty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_b_1_by_received_order_is</name>
        <label>B 1受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionB4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_b_2_by_received_order_is</name>
        <label>B 2受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionB5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_b_3_by_received_order_is</name>
        <label>B 3受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_c_1_by_received_order_is</name>
        <label>C 1受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionC4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_c_2_by_received_order_is</name>
        <label>C 2受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionC5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_c_3_by_received_order_is</name>
        <label>C 3受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DecisionB1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmenB2</name>
        <label>B-2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentA1</name>
        <label>工事店A-1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varA1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentA2</name>
        <label>工事店A-2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varA2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentA3</name>
        <label>A-3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varA3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentB1</name>
        <label>B-1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentB3</name>
        <label>B-3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentC1</name>
        <label>AssignmentC1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentC2</name>
        <label>C-2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentC3</name>
        <label>C-3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentReset</name>
        <label>計算前分子リセット</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_grasp_rate_denominator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentSogoA</name>
        <label>総合内装A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSogoA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>b_1_add</name>
        <label>B 1加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>b_1_by_received_order_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>b_2_add</name>
        <label>B 2加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>b_2_by_received_order_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>b_3_add</name>
        <label>B 3加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>b_3_by_received_order_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>c_1_add</name>
        <label>C 1加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>c_1_by_received_order_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>c_2_add</name>
        <label>C 2加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>c_2_by_received_order_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>c_3_add</name>
        <label>C 3加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>c_3_by_received_order_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>comprehensive_interior_a_addition</name>
        <label>総合内装A加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>comprehensive_interior_a_additionB</name>
        <label>総合内装B加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>orderB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>comprehensive_interior_a_additionC</name>
        <label>総合内装C加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>orderC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>comprehensive_interior_order_addition</name>
        <label>総合内装の受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>comprehensive_interior_order_additionB</name>
        <label>総合内装の受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionB3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>comprehensive_interior_order_additionC</name>
        <label>総合内装の受注加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOrderNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionC3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cs_property_prime_contractor_addition</name>
        <label>CS物件.元請加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cs_property_prime_contractor_additionB</name>
        <label>B/CS物件.元請加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionB2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>cs_property_prime_contractor_additionC</name>
        <label>C/CS物件.元請加算</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingNumerator</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionC2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>denominatorA</name>
        <label>分母A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingDenominator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderDenominator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>denominatorB</name>
        <label>分母B</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingDenominator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderDenominator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionB1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>denominatorC</name>
        <label>分母C</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUnderstandingDenominator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderDenominator</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SogoB</name>
        <label>総合内装B</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSogoB</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SogoC</name>
        <label>総合内装C</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSogoC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>a_1_by_received_order_is</name>
        <label>A 1で受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>YES_a_1_by_received_order_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varA1.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varA1.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001RC00001MkQNJYA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_a_1_by_received_order_is</targetReference>
            </connector>
            <label>A1_受注扱い</label>
        </rules>
    </decisions>
    <decisions>
        <name>a_2_by_received_order_is</name>
        <label>A 2で受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>YES_a_2_by_received_order_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varA2.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varA2.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001RC00001MkQNJYA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_a_2_by_received_order_is</targetReference>
            </connector>
            <label>A2_受注扱い</label>
        </rules>
    </decisions>
    <decisions>
        <name>a_3_by_received_order_is</name>
        <label>A 3で受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateCSproperty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>YES_a_3_by_received_order_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varA3.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varA3.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001RC00001MkQNJYA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_a_3_by_received_order_is</targetReference>
            </connector>
            <label>A3_受注扱い</label>
        </rules>
    </decisions>
    <decisions>
        <name>b_1_by_received_order_is</name>
        <label>B 1で受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionB4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>YES_b_1_by_received_order_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varB1.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varB1.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001RC00001MkQNJYA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_b_1_by_received_order_is</targetReference>
            </connector>
            <label>B1_受注扱い</label>
        </rules>
    </decisions>
    <decisions>
        <name>b_2_by_received_order_is</name>
        <label>B 2で受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionB5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>YES_b_2_by_received_order_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varB2.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varB2.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001RC00001MkQNJYA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_b_2_by_received_order_is</targetReference>
            </connector>
            <label>B2_受注扱い</label>
        </rules>
    </decisions>
    <decisions>
        <name>b_3_by_received_order_is</name>
        <label>B 3で受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>YES_b_3_by_received_order_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varB3.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varB3.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001RC00001MkQNJYA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_b_3_by_received_order_is</targetReference>
            </connector>
            <label>B3_受注扱い</label>
        </rules>
    </decisions>
    <decisions>
        <name>c_1_by_received_order_is</name>
        <label>C 1で受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionC4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>YES_c_1_by_received_order_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varC1.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varC1.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001RC00001MkQNJYA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_c_1_by_received_order_is</targetReference>
            </connector>
            <label>C1_受注扱い</label>
        </rules>
    </decisions>
    <decisions>
        <name>c_2_by_received_order_is</name>
        <label>C 2で受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionC5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>YES_c_2_by_received_order_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varC2.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varC2.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001RC00001MkQNJYA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_c_2_by_received_order_is</targetReference>
            </connector>
            <label>C2_受注扱い</label>
        </rules>
    </decisions>
    <decisions>
        <name>c_3_by_received_order_is</name>
        <label>C 3で受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DecisionB1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>YES_c_3_by_received_order_is</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varC3.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varC3.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001RC00001MkQNJYA3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_c_3_by_received_order_is</targetReference>
            </connector>
            <label>C3_受注扱い</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>工事種別判定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>SogoA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>総合内装A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentSogoA</targetReference>
            </connector>
            <label>総合内装A</label>
        </rules>
        <rules>
            <name>A_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>工事店A-1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentA1</targetReference>
            </connector>
            <label>工事店A-1</label>
        </rules>
        <rules>
            <name>A_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>工事店A-2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentA2</targetReference>
            </connector>
            <label>工事店A-2</label>
        </rules>
        <rules>
            <name>A_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>工事店A-3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentA3</targetReference>
            </connector>
            <label>工事店A-3</label>
        </rules>
        <rules>
            <name>B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>総合内装B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SogoB</targetReference>
            </connector>
            <label>総合内装B</label>
        </rules>
        <rules>
            <name>B_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>工事店B-1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentB1</targetReference>
            </connector>
            <label>工事店B-1</label>
        </rules>
        <rules>
            <name>B_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>工事店B-2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmenB2</targetReference>
            </connector>
            <label>工事店B-2</label>
        </rules>
        <rules>
            <name>B_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>工事店B-3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentB3</targetReference>
            </connector>
            <label>工事店B-3</label>
        </rules>
        <rules>
            <name>C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>総合内装C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SogoC</targetReference>
            </connector>
            <label>総合内装C</label>
        </rules>
        <rules>
            <name>C_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>工事店C-1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentC1</targetReference>
            </connector>
            <label>工事店C-1</label>
        </rules>
        <rules>
            <name>C_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>工事店C-2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentC2</targetReference>
            </connector>
            <label>工事店C-2</label>
        </rules>
        <rules>
            <name>C_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.account_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>工事店C-3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentC3</targetReference>
            </connector>
            <label>工事店C-3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision1</name>
        <label>CS物件に元請情報があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>元請情報なし</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.property__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cs_property_prime_contractor_addition</targetReference>
            </connector>
            <label>元請あり の 結果</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision2</name>
        <label>総合内装A_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSogoA.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>comprehensive_interior_a_addition</targetReference>
            </connector>
            <label>総合内装A_得意先あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision3</name>
        <label>A1_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varA1.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>a_1_add</targetReference>
            </connector>
            <label>A 1に得意先がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision4</name>
        <label>A2_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varA2.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>a_2_add</targetReference>
            </connector>
            <label>A 2に得意先がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision5</name>
        <label>A3_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateCSproperty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varA3.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>a_3_add</targetReference>
            </connector>
            <label>A 3に得意先がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_grasp_rate_denominator</name>
        <label>対象範囲を判定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>denominatorA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aのみ</defaultConnectorLabel>
        <rules>
            <name>accountC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSogoC.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>denominatorC</targetReference>
            </connector>
            <label>Cあり</label>
        </rules>
        <rules>
            <name>accountB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSogoB.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>denominatorB</targetReference>
            </connector>
            <label>Bあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionB1</name>
        <label>B/CS物件に元請情報があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionB2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>元請情報なし</defaultConnectorLabel>
        <rules>
            <name>YESB1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.property__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cs_property_prime_contractor_additionB</targetReference>
            </connector>
            <label>元請あり の 結果</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionB2</name>
        <label>総合内装B_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionB3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>YesB2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSogoB.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>comprehensive_interior_a_additionB</targetReference>
            </connector>
            <label>総合内装B_得意先あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionB3</name>
        <label>B1_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>b_1_by_received_order_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>YesB3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB1.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>b_1_add</targetReference>
            </connector>
            <label>B1に得意先がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionB4</name>
        <label>B2_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>b_2_by_received_order_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>YesB4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB2.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>b_2_add</targetReference>
            </connector>
            <label>B 2に得意先がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionB5</name>
        <label>B3_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>YesB5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB3.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>b_3_add</targetReference>
            </connector>
            <label>B 3に得意先がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionC1</name>
        <label>C/CS物件に元請情報があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionC2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>元請情報なし</defaultConnectorLabel>
        <rules>
            <name>YESC1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.property__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cs_property_prime_contractor_additionC</targetReference>
            </connector>
            <label>元請あり の 結果</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionC2</name>
        <label>総合内装C_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionC3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>YesC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSogoC.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>comprehensive_interior_a_additionC</targetReference>
            </connector>
            <label>総合内装C_得意先あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionC3</name>
        <label>C1_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>c_1_by_received_order_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>YesC3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varC1.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c_1_add</targetReference>
            </connector>
            <label>C1に得意先がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionC4</name>
        <label>C2_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>c_2_by_received_order_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>YesC4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varC2.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c_2_add</targetReference>
            </connector>
            <label>C 2に得意先がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionC5</name>
        <label>C3_得意先があるか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DecisionB1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>得意先なし</defaultConnectorLabel>
        <rules>
            <name>YesC5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varC3.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c_3_add</targetReference>
            </connector>
            <label>C 3に得意先がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>order</name>
        <label>受注しているか？</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未受注</defaultConnectorLabel>
        <rules>
            <name>YESorder1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSogoA.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>comprehensive_interior_order_addition</targetReference>
            </connector>
            <label>受注</label>
        </rules>
    </decisions>
    <decisions>
        <name>orderB</name>
        <label>受注しているか？B</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionB3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未受注</defaultConnectorLabel>
        <rules>
            <name>YESorder1B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSogoB.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>comprehensive_interior_order_additionB</targetReference>
            </connector>
            <label>受注</label>
        </rules>
    </decisions>
    <decisions>
        <name>orderC</name>
        <label>受注しているか？C</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DecisionC3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未受注</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSogoC.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>comprehensive_interior_order_additionC</targetReference>
            </connector>
            <label>受注</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varOrderRate</name>
        <dataType>Number</dataType>
        <expression>{!varOrderNumerator} / {!varOrderDenominator}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varUnderstandingRate</name>
        <dataType>Number</dataType>
        <expression>{!varUnderstandingNumerator} / {!varUnderstandingDenominator}*100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>【物件/得意先】CS物件_把握率受注率再計算 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【物件/得意先】CS物件_把握率受注率再計算</label>
    <loops>
        <name>Loop</name>
        <label>ループ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetParentCS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignmentReset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetParentCS</name>
        <label>同じCS物件に紐づくレコードを取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.property__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>property_account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCSproperty</name>
        <label>CS物件更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.property__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PropertyOrderDenominator__c</field>
            <value>
                <elementReference>varOrderDenominator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyOrderNumerator__c</field>
            <value>
                <elementReference>varOrderNumerator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyOrderRate__c</field>
            <value>
                <elementReference>varOrderRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyUnderstandingDenominator__c</field>
            <value>
                <elementReference>varUnderstandingDenominator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyUnderstandingNumerator__c</field>
            <value>
                <elementReference>varUnderstandingNumerator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PropertyUnderstandingRate__c</field>
            <value>
                <elementReference>varUnderstandingRate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.property__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParentCS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>property__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>property_account__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varA1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varA2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varA3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varB1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varB2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varB3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varC1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varC2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varC3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varCSProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property__c</objectType>
    </variables>
    <variables>
        <name>varOrderDenominator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOrderNumerator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSogoA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varSogoB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varSogoC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>property_account__c</objectType>
    </variables>
    <variables>
        <name>varUnderstandingDenominator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUnderstandingNumerator</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
