force-app/main/default/flows/CW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>D→CAE</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_D→CAE</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_D→CAE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>C→AE</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_C→AE</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_C→AE</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>C→次回確認日が入力</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>FALSE_C→次回確認日が入力</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C（確認）</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.cw_mitsumorikakuninbi__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_C→次回確認日が入力</label>
        </rules>
    </decisions>
    <description>複数の条件を使用して 【商談】CW_フェーズ/次回確認日の変更日付を格納 プロセスから移行されました。</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_1_myRule_1_A1_7322597334</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_4_A1_9098765318</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_7_A1_9640690217</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
PRIORVALUE( {!$Record.StageName} ) = &quot;D(見積提出)&quot; 
, OR( 
ISPICKVAL( {!$Record.StageName} ,&quot;C（確認）&quot; ) 
,ISPICKVAL( {!$Record.StageName} ,&quot;A (受注)&quot; ) 
,ISPICKVAL( {!$Record.StageName} ,&quot;E (失注)&quot; ) 
) )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
PRIORVALUE( {!$Record.StageName} ) = &quot;C（確認）&quot; 
, OR( 
ISPICKVAL( {!$Record.StageName} ,&quot;A (受注)&quot; ) 
,ISPICKVAL( {!$Record.StageName} ,&quot;E (失注)&quot; ) 
) )</expression>
    </formulas>
    <label>【商談】CW_フェーズ/次回確認日の変更日付を格納</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>D→CAEの変更日を格納</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>cw_ChangeD_CAE__c</field>
            <value>
                <elementReference>formula_1_myRule_1_A1_7322597334</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_4_A1</name>
        <label>C→AEの変更日を格納</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>cw_ChangeC_AE__c</field>
            <value>
                <elementReference>formula_2_myRule_4_A1_9098765318</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>C→次回確認日を入力</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>cw_insertC_nextday__c</field>
            <value>
                <elementReference>formula_3_myRule_7_A1_9640690217</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125h000000Y9RTAA0</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
