force-app/main/default/flows/DepCategory_LvDateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckStatus</name>
        <label>状態判定</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Lv0</defaultConnectorLabel>
        <rules>
            <name>Lv1True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lv1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lv1DateSet</targetReference>
            </connector>
            <label>Lv1</label>
        </rules>
        <rules>
            <name>Lv2True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lv2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lv2DateSet</targetReference>
            </connector>
            <label>Lv2</label>
        </rules>
        <rules>
            <name>Lv3True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lv3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lv3DateSet</targetReference>
            </connector>
            <label>Lv3</label>
        </rules>
        <rules>
            <name>Lv4True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lv4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lv4DateSet</targetReference>
            </connector>
            <label>Lv4</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>【部署カテゴリ】関係構築度セット_JU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【部署カテゴリ】Lv更新日セット</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Lv1DateSet</name>
        <label>Lv1更新日セット</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>StatusChangeDateLv1__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lv2DateSet</name>
        <label>Lv2更新日セット</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>StatusChangeDateLv2__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lv3DateSet</name>
        <label>Lv3更新日セット</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>StatusChangeDateLv3__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lv4DateSet</name>
        <label>Lv4更新日セット</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>StatusChangeDateLv4__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <object>DepCategory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
