force-app/main/default/flows/DupulicateRecordSet_Create_SolutionSales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendMail</name>
        <label>メール送信</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>t.goto@tgtech.day</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>cTextNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>cTextNotificationBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetSLLeadOrContact_Contact</name>
        <label>SL対象かどうか・所有者IDをセット_得意先担当者</label>
        <locationX>534</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>vsBoolSLLeadOrContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vcTextNotificationUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetContact.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_GetDupulicateRecordItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSLLeadOrContact_Lead</name>
        <label>SL対象かどうか・所有者IDをセット_リード</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>vsBoolSLLeadOrContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vcTextNotificationUser</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLead.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_GetDupulicateRecordItem</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>cTextNotificationTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>重複レコードが作成されました</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decition_IsContainSLRecord</name>
        <label>SLレコードを含むか</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>含まない</defaultConnectorLabel>
        <rules>
            <name>ContaionSL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vsBoolSLLeadOrContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendMail</targetReference>
            </connector>
            <label>SLを含む</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decition_IsLeadOfTargetRecord</name>
        <label>対象のレコードIDはソリューション営業のリードか得意先担当者化</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_GetDupulicateRecordItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>対象外</defaultConnectorLabel>
        <rules>
            <name>SL_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLead.SL_FirstContact_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSLLeadOrContact_Lead</targetReference>
            </connector>
            <label>SL対象_リード</label>
        </rules>
        <rules>
            <name>SL_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.SL_FirstContact_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSLLeadOrContact_Contact</targetReference>
            </connector>
            <label>SL対象_得意先担当者</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【重複レコードセット】作成_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【重複レコードセット】作成_ソリューション営業のレコードの場合通知する</label>
    <loops>
        <name>Loop_GetDupulicateRecordItem</name>
        <label>Loop_GetDupulicateRecordItem</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>GetDupulicateRecordItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetLead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decition_IsContainSLRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContact</name>
        <label>得意先担当者を取得</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decition_IsLeadOfTargetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_GetDupulicateRecordItem.RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotification</name>
        <label>カスタム通知を取得</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDupulicateRecordItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SL_CreateDuplicateRecord</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDupulicateRecordItem</name>
        <label>重複レコード項目を取得</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_GetDupulicateRecordItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DuplicateRecordSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DuplicateRecordItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLead</name>
        <label>リードを取得</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_GetDupulicateRecordItem.RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomNotification</targetReference>
        </connector>
        <object>DuplicateRecordSet</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>cTextNotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;重複データと思われるレコードが作成されました。&lt;/p&gt;&lt;p&gt;ご確認をお願いします。&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;下記レコードの関連リスト&amp;gt;重複レコード項目&amp;gt;レコード　より、対象のリード及び得意先担当者を確認してください。&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;重複レコードセット:&lt;/p&gt;&lt;p&gt;https://forcecom175.lightning.force.com/lightning/r/DuplicateRecordSet/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>vcTextNotificationUser</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vsBoolSLLeadOrContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
