force-app/main/default/flows/DX_BuildApp_Perception.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>BuildAppKeyManCheck</name>
        <label>BuildAppキーマンチェック</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>DX1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BuildAppKeyman__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DX推進者</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckNo</targetReference>
            </connector>
            <label>DX推進者</label>
        </rules>
        <rules>
            <name>DX2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BuildAppKeyman__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>決裁者_現場</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check2</targetReference>
            </connector>
            <label>決裁者_現場</label>
        </rules>
        <rules>
            <name>DX3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BuildAppKeyman__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>決裁者_本社</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check3</targetReference>
            </connector>
            <label>決裁者_本社</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check2</name>
        <label>パーセプション№チェック</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>X11</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>X1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X13</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X12</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X1_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X14</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X1_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X15</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>X1_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X16</targetReference>
            </connector>
            <label>6</label>
        </rules>
        <rules>
            <name>X1_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X17</targetReference>
            </connector>
            <label>7</label>
        </rules>
        <rules>
            <name>X1_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X18</targetReference>
            </connector>
            <label>8</label>
        </rules>
        <rules>
            <name>X1_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X19</targetReference>
            </connector>
            <label>9</label>
        </rules>
        <rules>
            <name>X1_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X20</targetReference>
            </connector>
            <label>10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check3</name>
        <label>パーセプション№チェック</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>X21</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>X2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X22</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X23</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X2_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X24</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X2_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X25</targetReference>
            </connector>
            <label>6</label>
        </rules>
        <rules>
            <name>X2_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X26</targetReference>
            </connector>
            <label>7</label>
        </rules>
        <rules>
            <name>X2_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X27</targetReference>
            </connector>
            <label>8</label>
        </rules>
        <rules>
            <name>X2_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X28</targetReference>
            </connector>
            <label>9</label>
        </rules>
        <rules>
            <name>X2_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X29</targetReference>
            </connector>
            <label>10</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNo</name>
        <label>パーセプション№チェック</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Upd_D0</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D3</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D4</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D5</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>X6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D6</targetReference>
            </connector>
            <label>6</label>
        </rules>
        <rules>
            <name>X7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D7</targetReference>
            </connector>
            <label>7</label>
        </rules>
        <rules>
            <name>X8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D8</targetReference>
            </connector>
            <label>8</label>
        </rules>
        <rules>
            <name>X9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D9</targetReference>
            </connector>
            <label>9</label>
        </rules>
        <rules>
            <name>X10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DX_PerceptionNo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd_D10</targetReference>
            </connector>
            <label>10</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F_DX_Genba_Date_0</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_0__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_0__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Genba_Date_1</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_1__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_1__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Genba_Date_10</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_10__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_10__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Genba_Date_2</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_2__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_2__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Genba_Date_3</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_3__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_3__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Genba_Date_5</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_5__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_5__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Genba_Date_6</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_6__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_6__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Genba_Date_7</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_7__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_7__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Genba_Date_8</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_8__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_8__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Genba_Date_9</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Genba_Date_9__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Genba_Date_9__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Honsha_Date_0</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Honsha_Date_0__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_0__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Honsha_Date_1</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Honsha_Date_1__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_1__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Honsha_Date_10</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Honsha_Date_10__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_10__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Honsha_Date_2</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Honsha_Date_2__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_2__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Honsha_Date_3</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Honsha_Date_3__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_3__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Honsha_Date_6</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Honsha_Date_6__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_6__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Honsha_Date_7</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Honsha_Date_7__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_7__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Honsha_Date_8</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Honsha_Date_8__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_8__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Honsha_Date_9</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Honsha_Date_9__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Honsha_Date_9__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_0</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_0__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_0__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_1</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_1__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_1__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_10</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_10__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_10__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_2</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_2__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_2__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_3</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_3__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_3__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_4</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_4__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_4__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_5</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_5__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_5__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_6</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_6__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_6__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_7</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_7__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_7__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_8</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_8__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_8__c})</expression>
    </formulas>
    <formulas>
        <name>F_DX_Suishin_Date_9</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.DX_Suishin_Date_9__c})
,{!$Flow.CurrentDate}
,{!$Record.DX_Suishin_Date_9__c})</expression>
    </formulas>
    <interviewLabel>【取引先担当者】 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【取引先担当者】BuildApp_パーセプションフロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Upd_D0</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_0__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D1</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_1__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D10</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_10__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D2</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_2__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D3</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_3__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D4</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_4__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_4</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D5</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_5__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_5</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D6</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_6__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_6</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D7</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_7__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_7</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D8</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_8__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_8</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd_D9</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Suishin_Date_9__c</field>
            <value>
                <elementReference>F_DX_Suishin_Date_9</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X11</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_0__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X12</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_2__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X13</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_1__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X14</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_3__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X15</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_5__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_5</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X16</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_6__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_6</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X17</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_7__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_7</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X18</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_8__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_8</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X19</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_9__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_9</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X20</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Genba_Date_10__c</field>
            <value>
                <elementReference>F_DX_Genba_Date_10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X21</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Honsha_Date_0__c</field>
            <value>
                <elementReference>F_DX_Honsha_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X22</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Honsha_Date_1__c</field>
            <value>
                <elementReference>F_DX_Honsha_Date_1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X23</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Honsha_Date_2__c</field>
            <value>
                <elementReference>F_DX_Honsha_Date_2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X24</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Honsha_Date_3__c</field>
            <value>
                <elementReference>F_DX_Honsha_Date_3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X25</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Honsha_Date_6__c</field>
            <value>
                <elementReference>F_DX_Honsha_Date_6</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X26</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Honsha_Date_7__c</field>
            <value>
                <elementReference>F_DX_Honsha_Date_7</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X27</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Honsha_Date_8__c</field>
            <value>
                <elementReference>F_DX_Honsha_Date_8</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X28</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Honsha_Date_9__c</field>
            <value>
                <elementReference>F_DX_Honsha_Date_9</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X29</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>DX_Honsha_Date_10__c</field>
            <value>
                <elementReference>F_DX_Honsha_Date_10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BuildAppKeyManCheck</targetReference>
        </connector>
        <filterFormula>OR(
ISNEW()
,ISCHANGED({!$Record.BuildAppKeyman__c})
,ISCHANGED({!$Record.DX_ScoringIndicators__c})
)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
