force-app/main/default/flows/DX_Event_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set1</name>
        <label>得意先責任者設定</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ContactSet.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactSet.BuildAppKeyman__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BuildAppKeyman__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactSet.DX_ScoringIndicators__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DX_ScoringIndicators__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>upd</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>DX_Genba_1</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Genba_1&apos;) , true , {!WhoId.DX_Genba_1__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_2</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Genba_2&apos;) , true , {!WhoId.DX_Genba_2__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_3</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Genba_3&apos;) , true , {!WhoId.DX_Genba_3__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_31</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Genba_31&apos;) , true , {!WhoId.DX_Genba_31__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_4</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Genba_4&apos;) , true , {!WhoId.DX_Genba_4__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Genba_5</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Genba_5&apos;) , true , {!WhoId.DX_Genba_5__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Honsha_1</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Honsha_1&apos;) , true , {!WhoId.DX_Honsha_1__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Honsha_2</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Honsha_2&apos;) , true , {!WhoId.DX_Honsha_2__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Honsha_3</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Honsha_3&apos;) , true , {!WhoId.DX_Honsha_3__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Honsha_4</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Honsha_4&apos;) , true , {!WhoId.DX_Honsha_4__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Honsha_5</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Honsha_5&apos;) , true , {!WhoId.DX_Honsha_5__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_1</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_1&apos;) , true , {!WhoId.DX_Suishin_1__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_2</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_2&apos;) , true ,{!WhoId.DX_Suishin_2__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_3</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_3&apos;) , true , {!WhoId.DX_Suishin_3__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_4</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_4&apos;) , true , {!WhoId.DX_Suishin_4__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_5</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_5&apos;) , true , {!WhoId.DX_Suishin_5__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_6</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_6&apos;) , true , {!WhoId.DX_Suishin_6__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_7</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_7&apos;) , true , {!WhoId.DX_Suishin_7__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_71</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_71&apos;) , true , {!WhoId.DX_Suishin_71__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_8</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_8&apos;) , true , {!WhoId.DX_Suishin_8__c})</expression>
    </formulas>
    <formulas>
        <name>DX_Suishin_9</name>
        <dataType>Boolean</dataType>
        <expression>IF ( ISPICKVAL({!$Record.BuildApp_scoringindex__c},&apos;DX_Suishin_9&apos;) , true , {!WhoId.DX_Suishin_9__c})</expression>
    </formulas>
    <interviewLabel>【行動】_作成_DX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【行動】_作成_DX</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>WhoId</name>
        <label>名前</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>upd</name>
        <label>更新</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>ContactSet</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhoId</targetReference>
        </connector>
        <filterFormula>AND(
NOT(ISBLANK({!$Record.WhoId}))
,BEGINS({!$Record.WhoId},&apos;003&apos;)
,{!$Record.RecordType.DeveloperName} = &apos;RecordType_koudou_dx&apos;
,OR(
ISNEW()
,ISCHANGED({!$Record.BuildAppKeyman__c})
,ISCHANGED({!$Record.DX_ScoringIndicators__c})
))</filterFormula>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
