force-app/main/default/flows/EN_Opportunity_yojitsu_CU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AccumulatedAmount</name>
        <label>積み上げ金額</label>
        <locationX>1062</locationX>
        <locationY>5135</locationY>
        <assignmentItems>
            <assignToReference>jyutyuKingaku</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.en_juchu12__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jyutyuuKingakuArari</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.en_jutyuarari__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uriageKingaku</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.en_uriagekingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uriageKingakuArari</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.En_uriara__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddNew1</name>
        <label>新規レコード追加</label>
        <locationX>1664</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>AddList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>add1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addUpd1</name>
        <label>更新レコード追加</label>
        <locationX>1400</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>UpdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SeleteJ1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addUpdList</name>
        <label>完成期更新対象追記</label>
        <locationX>758</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>updObjChangeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updChangeENTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>S11</name>
        <label>割り当て 1</label>
        <locationX>1400</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>SeleteJ1.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_zyutyukingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeleteJ1.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_zyutyuararigaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SeleteJ1.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_zyutyuubi__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addUpd1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setKanseiki</name>
        <label>完成期設定</label>
        <locationX>758</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>updChangeENTemp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updChangeENTemp.EN_kanseiki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EN_kanseiki__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addUpdList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X10</name>
        <label>更新レコード追加</label>
        <locationX>1400</locationX>
        <locationY>3287</locationY>
        <assignmentItems>
            <assignToReference>UpdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1009</name>
        <label>新規レコード追加</label>
        <locationX>1664</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>AddList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>add1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X54</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X11</name>
        <label>更新レコード追加</label>
        <locationX>1400</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>UpdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X18</name>
        <label>新規レコード追加</label>
        <locationX>1664</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>AddList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>add1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X19</name>
        <label>更新レコード追加</label>
        <locationX>1400</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>UpdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X54</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_1</name>
        <label>割り当て</label>
        <locationX>1400</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>S1.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyukingaku1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S1.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuuarari1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S1.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuubi1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_1_1</name>
        <label>割り当て</label>
        <locationX>1400</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>S2.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyukingaku2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S2.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuuarari2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S2.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuubi2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_1_3</name>
        <label>割り当て</label>
        <locationX>1664</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>add1.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyukingaku2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuuarari2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_zissekikubun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>追加追加②</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_yojitu2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>実績</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tokuisaki_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tantobusyo1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_shodans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_koujihinsyu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_koujihinsyu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_ankenkubun_yozitsu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_ankenkubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuubi2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.EN_kanseiki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EN_kanseiki__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_3</name>
        <label>割り当て</label>
        <locationX>1664</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>add1.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyukingaku1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuuarari1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_zissekikubun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>追加受注①</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_yojitu2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>実績</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tokuisaki_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tantobusyo1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_shodans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_koujihinsyu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_koujihinsyu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_ankenkubun_yozitsu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_ankenkubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuubi1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.EN_kanseiki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EN_kanseiki__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_1_1_1</name>
        <label>割り当て</label>
        <locationX>1400</locationX>
        <locationY>3887</locationY>
        <assignmentItems>
            <assignToReference>S3.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyukingaku3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S3.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuuarari3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S3.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuubi3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_1_1_3</name>
        <label>割り当て</label>
        <locationX>1664</locationX>
        <locationY>3887</locationY>
        <assignmentItems>
            <assignToReference>add1.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyukingaku3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuuarari3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_zissekikubun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>追加受注③</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_yojitu2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>実績</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tokuisaki_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tantobusyo1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_shodans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_koujihinsyu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_koujihinsyu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_ankenkubun_yozitsu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_ankenkubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_tsuikazyutyuubi3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.EN_kanseiki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EN_kanseiki__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1009</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_51</name>
        <label>割り当て</label>
        <locationX>578</locationX>
        <locationY>4811</locationY>
        <assignmentItems>
            <assignToReference>Z1.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_zougenseisankingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Z1.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_ararizougenseisankingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Z1.en_uriagekingaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_uriagekingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Z1.En_uriara__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_uriageararigaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Z1.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_uriagebi__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_52</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_52</name>
        <label>更新レコード追加</label>
        <locationX>578</locationX>
        <locationY>4919</locationY>
        <assignmentItems>
            <assignToReference>UpdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Z1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdChk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3</name>
        <label>割り当て 3</label>
        <locationX>1664</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>add1.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_zyutyukingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_zyutyuararigaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_zissekikubun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>初回受注</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_yojitu2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>実績</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tokuisaki_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tantobusyo1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_shodans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_koujihinsyu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_koujihinsyu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_ankenkubun_yozitsu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_ankenkubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_zyutyuubi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.EN_kanseiki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EN_kanseiki__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddNew1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X56</name>
        <label>割り当て</label>
        <locationX>842</locationX>
        <locationY>5435</locationY>
        <assignmentItems>
            <assignToReference>donechk.en_uriagekingaku__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>uriageSagaku</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donechk.En_uriara__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>uriageArariSagaku</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donechk.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_uriagebi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donechk.en_juchu12__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>uriageSagaku</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donechk.en_jutyuarari__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>uriageArariSagaku</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X61</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X59</name>
        <label>割り当て</label>
        <locationX>1106</locationX>
        <locationY>5435</locationY>
        <assignmentItems>
            <assignToReference>add1.en_zissekikubun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>再完成</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_yojitu2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>実績</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tokuisaki_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tantobusyo1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_shodans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_koujihinsyu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_koujihinsyu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_ankenkubun_yozitsu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_ankenkubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_uriagebi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.EN_kanseiki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EN_kanseiki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_uriagekingaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>uriageSagaku</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.En_uriara__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>uriageArariSagaku</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>uriageSagaku</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>uriageArariSagaku</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X62</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X60</name>
        <label>新規レコード追加</label>
        <locationX>1370</locationX>
        <locationY>4919</locationY>
        <assignmentItems>
            <assignToReference>AddList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>add1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdChk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X6011</name>
        <label>割り当て</label>
        <locationX>1370</locationX>
        <locationY>4811</locationY>
        <assignmentItems>
            <assignToReference>add1.en_juchu12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_zougenseisankingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_jutyuarari__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_ararizougenseisankingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_zissekikubun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>増減精算</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_yojitu2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>実績</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tokuisaki_s__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_tantobusyo1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_shodans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_koujihinsyu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_koujihinsyu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_ankenkubun_yozitsu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_ankenkubun__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.Yeaemonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_uriagebi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.EN_kanseiki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EN_kanseiki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.en_uriagekingaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_uriagekingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>add1.En_uriara__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.en_uriageararigaku__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X60</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X61</name>
        <label>更新レコード追加</label>
        <locationX>842</locationX>
        <locationY>5543</locationY>
        <assignmentItems>
            <assignToReference>UpdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>donechk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdChk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X62</name>
        <label>新規レコード追加</label>
        <locationX>1106</locationX>
        <locationY>5543</locationY>
        <assignmentItems>
            <assignToReference>AddList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>add1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdChk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X8</name>
        <label>新規レコード追加</label>
        <locationX>1664</locationX>
        <locationY>3287</locationY>
        <assignmentItems>
            <assignToReference>AddList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>add1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X13</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>C11</name>
        <label>売上日チェック</label>
        <locationX>1502</locationX>
        <locationY>4703</locationY>
        <defaultConnector>
            <targetReference>UpdChk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>is11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_uriagebi__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>X6011</targetReference>
            </connector>
            <label>売上日あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>chk1</name>
        <label>あり</label>
        <locationX>1532</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>X3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>is1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SeleteJ1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S11</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>chk_uriage0</name>
        <label>売上額なしチェック</label>
        <locationX>1474</locationX>
        <locationY>4379</locationY>
        <defaultConnector>
            <targetReference>UpdChk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>売上額なし</defaultConnectorLabel>
        <rules>
            <name>uriage_ari</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_uriagekingaku__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Z1</targetReference>
            </connector>
            <label>売上額あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>chkChanged</name>
        <label>更新対象あり</label>
        <locationX>802</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>del</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ari</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getChangedEnList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop2</targetReference>
            </connector>
            <label>更新対象あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>chkMonth</name>
        <label>売上日月変更確認</label>
        <locationX>776</locationX>
        <locationY>4703</locationY>
        <defaultConnector>
            <targetReference>donechk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>thisMonth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkMonth1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_51</targetReference>
            </connector>
            <label>同一月</label>
        </rules>
    </decisions>
    <decisions>
        <name>del</name>
        <label>「辞退」or「失注」</label>
        <locationX>956</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>J1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>delChk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>辞退</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>失注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectDelList</targetReference>
            </connector>
            <label>「辞退」or「失注」</label>
        </rules>
    </decisions>
    <decisions>
        <name>delListChk</name>
        <label>削除対象チェック</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>delIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectDelList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delTargetEn</targetReference>
            </connector>
            <label>削除対象り</label>
        </rules>
    </decisions>
    <decisions>
        <name>doneMonthChk</name>
        <label>再完成年月チェック</label>
        <locationX>974</locationX>
        <locationY>5327</locationY>
        <defaultConnector>
            <targetReference>X59</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isDone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>donechk</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X56</targetReference>
            </connector>
            <label>再完成データあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>J1</name>
        <label>受注金額</label>
        <locationX>1730</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>X2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Set1</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuubi__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_zyutyuubi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_zyutyuubi__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_zyutyukingaku__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_zyutyukingaku__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_zyutyuararigaku__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_zyutyuararigaku__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SeleteJ1</targetReference>
            </connector>
            <label>受注金額設定</label>
        </rules>
    </decisions>
    <decisions>
        <name>newchk</name>
        <label>新規あり</label>
        <locationX>1730</locationX>
        <locationY>6371</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>newis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addCreate</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName</name>
        <label>完成期変更</label>
        <locationX>956</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>del</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>changed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EN_kanseiki__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EN_kanseiki__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getChangedEnList</targetReference>
            </connector>
            <label>完成期変更あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdChk</name>
        <label>更新あり</label>
        <locationX>1730</locationX>
        <locationY>6071</locationY>
        <defaultConnector>
            <targetReference>newchk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X13</name>
        <label>追加受注日③</label>
        <locationX>1730</locationX>
        <locationY>3563</locationY>
        <defaultConnector>
            <targetReference>X54</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X12</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_tsuikazyutyuubi3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_tsuikazyutyuubi3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_tsuikazyutyukingaku3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_tsuikazyutyukingaku3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_tsuikazyutyuuarari3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_tsuikazyutyuuarari3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3</targetReference>
            </connector>
            <label>追加受注日③</label>
        </rules>
    </decisions>
    <decisions>
        <name>X15</name>
        <label>あり</label>
        <locationX>1532</locationX>
        <locationY>3779</locationY>
        <defaultConnector>
            <targetReference>X2_1_1_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>X14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_1_1_1</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1_5</name>
        <label>あり</label>
        <locationX>1532</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>X1_1_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>X9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_1_1</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2</name>
        <label>追加受注日①</label>
        <locationX>1730</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>X7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_tsuikazyutyuubi1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_tsuikazyutyuubi1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_tsuikazyutyukingaku1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_tsuikazyutyukingaku1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_tsuikazyutyuuarari1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_tsuikazyutyuuarari1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1</targetReference>
            </connector>
            <label>追加受注日①</label>
        </rules>
    </decisions>
    <decisions>
        <name>X5</name>
        <label>あり</label>
        <locationX>1532</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>X1_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_1</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X54</name>
        <label>売上日</label>
        <locationX>1730</locationX>
        <locationY>4271</locationY>
        <defaultConnector>
            <targetReference>UpdChk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X53</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_uriagebi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_uriagebi__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_uriagekingaku__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_uriagekingaku__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_uriageararigaku__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_uriageararigaku__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chk_uriage0</targetReference>
            </connector>
            <label>売上日</label>
        </rules>
    </decisions>
    <decisions>
        <name>X58</name>
        <label>あり</label>
        <locationX>1139</locationX>
        <locationY>4595</locationY>
        <defaultConnector>
            <targetReference>C11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>X57</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Z1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>chkMonth</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X7</name>
        <label>追加受注日②</label>
        <locationX>1730</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>X13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_tsuikazyutyuubi2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_tsuikazyutyuubi2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_tsuikazyutyukingaku2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_tsuikazyutyukingaku2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.en_tsuikazyutyuuarari2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.en_tsuikazyutyuuarari2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2</targetReference>
            </connector>
            <label>追加受注日②</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>chkMonth1</name>
        <dataType>Boolean</dataType>
        <expression>(TEXT(YEAR({!$Record.en_uriagebi__c})) &amp; TEXT(MONTH({!$Record.en_uriagebi__c})))
 = (TEXT(YEAR({!Z1.Yeaemonth__c})) &amp; TEXT(MONTH({!Z1.Yeaemonth__c})))</expression>
    </formulas>
    <formulas>
        <name>uriageArariSagaku</name>
        <dataType>Number</dataType>
        <expression>{!$Record.en_uriageararigaku__c} - {!uriageKingakuArari}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>uriageSagaku</name>
        <dataType>Number</dataType>
        <expression>{!$Record.en_uriagekingaku__c} -  {!uriageKingaku}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UriageYearMonth</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.en_uriagebi__c})) &amp; TEXT(MONTH({!$Record.en_uriagebi__c}))</expression>
    </formulas>
    <interviewLabel>【商談】作成・編集時（住環境） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】 EN予実管理自動作成・編集（エンジ）</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>974</locationX>
        <locationY>5027</locationY>
        <collectionReference>getEnLists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccumulatedAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>doneMonthChk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2</name>
        <label>ループ</label>
        <locationX>670</locationX>
        <locationY>647</locationY>
        <collectionReference>getChangedEnList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setKanseiki</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdEn</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>addCreate</name>
        <label>新規処理</label>
        <locationX>1598</locationX>
        <locationY>6479</locationY>
        <inputReference>AddList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delTargetEn</name>
        <label>削除 EN予実管理対象</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <inputReference>SelectDelList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>donechk</name>
        <label>再完成チェック</label>
        <locationX>974</locationX>
        <locationY>4811</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEnLists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>en_shodans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>YearMonthText__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UriageYearMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>en_yojitsu__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChangedEnList</name>
        <label>EN予実管理取得_完成期更新</label>
        <locationX>802</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chkChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>en_shodans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>en_yojitsu__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnLists</name>
        <label>EN予実管理取得</label>
        <locationX>974</locationX>
        <locationY>4919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>1 AND NOT(2 AND 3)</filterLogic>
        <filters>
            <field>en_shodans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>YearMonthText__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UriageYearMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>en_zissekikubun__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>再完成</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>en_yojitsu__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>S1</name>
        <label>追加受注日①</label>
        <locationX>1532</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>en_shodans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>en_zissekikubun__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>追加受注①</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>en_yojitsu__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>S2</name>
        <label>追加受注日②</label>
        <locationX>1532</locationX>
        <locationY>2963</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>en_shodans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>en_zissekikubun__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>追加追加②</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>en_yojitsu__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>S3</name>
        <label>追加受注日③</label>
        <locationX>1532</locationX>
        <locationY>3671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X15</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>en_shodans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>en_zissekikubun__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>追加受注③</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>en_yojitsu__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SelectDelList</name>
        <label>削除EN予実管理対象抽出</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>delListChk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>en_shodans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>en_yojitsu__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SeleteJ1</name>
        <label>受注金額</label>
        <locationX>1532</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>chk1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>en_zissekikubun__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>初回受注</stringValue>
            </value>
        </filters>
        <filters>
            <field>en_shodans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>en_yojitsu__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Z1</name>
        <label>売上日</label>
        <locationX>1139</locationX>
        <locationY>4487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X58</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>en_shodans__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>en_zissekikubun__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>増減精算</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>en_yojitsu__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upd</name>
        <label>更新処理</label>
        <locationX>1598</locationX>
        <locationY>6179</locationY>
        <connector>
            <targetReference>newchk</targetReference>
        </connector>
        <inputReference>UpdList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdEn</name>
        <label>更新</label>
        <locationX>670</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>del</targetReference>
        </connector>
        <inputReference>updObjChangeList</inputReference>
    </recordUpdates>
    <start>
        <locationX>830</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012BV0000004HckYAE</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>add1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>en_yojitsu__c</objectType>
    </variables>
    <variables>
        <name>AddList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>en_yojitsu__c</objectType>
    </variables>
    <variables>
        <name>jyutyuKingaku</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>jyutyuuKingakuArari</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updChangeENTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>en_yojitsu__c</objectType>
    </variables>
    <variables>
        <name>UpdList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>en_yojitsu__c</objectType>
    </variables>
    <variables>
        <name>updObjChangeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>en_yojitsu__c</objectType>
    </variables>
    <variables>
        <name>uriageKingaku</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>uriageKingakuArari</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
