force-app/main/default/flows/EN_Opportunity_Osaka_2q.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MailSend</name>
        <label>メール送信</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>SendMailAddressList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Loop.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MailContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Loop.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Department</name>
        <dataType>String</dataType>
        <value>
            <stringValue>大阪</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>MailContent</name>
        <dataType>String</dataType>
        <expression>&apos;下記商談が請負着工日〇カ月前になりましたのでお知らせいたします。&apos; + BR() +
&apos;商談：&apos; + LEFT({!$Api.Enterprise_Server_URL_570} , FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_570})) &amp; &quot;lightning/r/Opportunity/&quot;&amp; {!Loop.Id} &amp;&quot;/view&quot;+ BR()</expression>
    </formulas>
    <formulas>
        <name>SendMailAddressList</name>
        <dataType>String</dataType>
        <expression>{!Loop.Owner.Email} + &apos;,t-kudou@nohara-inc.co.jp&apos;</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&apos;請負着工日の&apos; + if ( {!Loop.EN_Alert_BeforeMonth__c} != null 
, TEXT({!Loop.EN_Alert_BeforeMonth__c})
,IF ({!Loop.en_zyutyuumokuhyougaku__c} &gt;= 50000000 , &apos;12&apos; ,&apos;6&apos; ) ) + &apos;カ月前になりました&apos;</expression>
    </formulas>
    <interviewLabel>【商談】エンジ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】エンジ大阪_2Q対応</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>AlertTarget</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MailSend</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AlertTarget</name>
        <label>アラート対象</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EN_Alert_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Department__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>大阪</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AlertTarget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EN_AlertTarget__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-25</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
