force-app/main/default/flows/EstimateLog_CreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetOpportunity</name>
        <label>商談設定</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>OpportunityUpd.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Oppestimate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityUpd.CS_TotalAddPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityUpd.CS_TotalPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEstimateLogFirst.amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityUpd.LatestQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEstimateLogFirst.Estimatememo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getList1_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOpportunity4</name>
        <label>商談設定</label>
        <locationX>440</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>OpportunityUpd.CS_TotalAddPrice__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityUpd.CS_TotalPrice__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityUpd.LatestAdditionalQuote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Estimatememo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>【見積履歴】_新規更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【見積履歴】_新規更新</label>
    <loops>
        <name>Loop</name>
        <label>ループ</label>
        <locationX>352</locationX>
        <locationY>600</locationY>
        <collectionReference>getList1_5</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetOpportunity4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdOpportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getEstimateLogFirst</name>
        <label>追加見積「初回見積」or「再見積」取得</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOpportunity</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Oppestimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oppestimate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>初回見積</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>再見積</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EstimateLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getList1_5</name>
        <label>追加見積①～⑤取得</label>
        <locationX>352</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oppestimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Oppestimate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>初回見積</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>再見積</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EstimateLog__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdOpportunity</name>
        <label>商談更新q</label>
        <locationX>352</locationX>
        <locationY>900</locationY>
        <inputReference>OpportunityUpd</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Estimatememo__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EstimateLog__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getEstimateLogFirst</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityUpd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
