force-app/main/default/flows/EventUpdateToDo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>EventAction1</name>
        <label>宿題1チェック</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>EventAction2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>change1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dx_deadline1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dx_AccountTask1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get1</targetReference>
            </connector>
            <label>宿題1変更あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>EventAction2</name>
        <label>宿題2チェック</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>EventAction3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>change2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dx_deadline2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dx_AccountTask2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get2</targetReference>
            </connector>
            <label>宿題2変更あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>EventAction3</name>
        <label>宿題3チェック</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>EventAction4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>change3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dx_deadline3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dx_AccountTask3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get3</targetReference>
            </connector>
            <label>宿題3変更あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>EventAction4</name>
        <label>宿題4チェック</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>change4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dx_deadline4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dx_AccountTask4__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get4</targetReference>
            </connector>
            <label>宿題4変更あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【行動】作成したToDo更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【行動】作成したToDo更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get1</name>
        <label>該当レコードを取得</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!$Record.Id}_NO1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get2</name>
        <label>該当レコードを取得</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!$Record.Id}_NO2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get3</name>
        <label>該当レコードを取得</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!$Record.Id}_NO3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get4</name>
        <label>該当レコードを取得</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!$Record.Id}_NO4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update1</name>
        <label>レコードを更新</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>EventAction2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get1.EventID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.dx_deadline1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.dx_AccountTask1__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update2</name>
        <label>更新</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>EventAction3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get2.EventID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.dx_deadline2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.dx_AccountTask2__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update3</name>
        <label>更新</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>EventAction4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get3.EventID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.dx_deadline3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.dx_AccountTask3__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update4</name>
        <label>更新</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get4.EventID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.dx_deadline4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.dx_AccountTask4__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EventAction1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
