force-app/main/default/flows/EventDeleteFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_0_0_0_0</name>
        <label>Set</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>Select_Contact_0_0_0.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Select_Contact_0_0_0.CW_LastVisitDay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_LatestEvent.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeJudgment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_0_0_0_0_0</name>
        <label>Set</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>Select_Contact_0_0_0.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Select_Contact_0_0_0.JU_LastVisitDay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_LatestEvent.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RecordTypeJudgment</name>
        <label>レコードタイプ判定</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>RecordTypeJudgment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>RecordTypeCsweb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_LatestEvent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSWEB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_0_0_0_0</targetReference>
            </connector>
            <label>レコードタイプCSWEB</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeJudgment_0</name>
        <label>レコードタイプ判定</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Update_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>RecordTypeJyukankyo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_LatestEvent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jyukankyo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_0_0_0_0_0</targetReference>
            </connector>
            <label>レコードタイプ住環境</label>
        </rules>
    </decisions>
    <interviewLabel>Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EventDeleteFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Select_Contact_0_0_0</name>
        <label>Select_Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeJudgment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_LatestEvent.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Select_LatestEvent</name>
        <label>Select_LatestEvent</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Contact_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>訪問</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_0</name>
        <label>Update</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <inputReference>Select_Contact_0_0_0</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_LatestEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Select_Event</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
