force-app/main/default/flows/flowSplitOutOfContractRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setValNewContractRecord</name>
        <label>setValNewContractRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newST_DeliveryRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempNewContractRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setValTempNewNonContractRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValNewNonContractRecord</name>
        <label>setValNewNonContractRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newST_DeliveryRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempNewNonContractRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updTriggerRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValTempNewContractRecord</name>
        <label>setValTempNewContractRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempNewContractRecord.BillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_BillingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewContractRecord.ST_item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewContractRecord.ST_specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_specification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewContractRecord.splitSourceRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVsl_splitSourceRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewContractRecord.ST_field_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_field_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewContractRecord.ST_shipping_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_shipping_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewContractRecord.ST_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewContractRecord.ST_unit_price_wao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_unit_price_wao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setValNewContractRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValTempNewNonContractRecord</name>
        <label>setValTempNewNonContractRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempNewNonContractRecord.ST_item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewNonContractRecord.ST_specification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_specification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewNonContractRecord.BillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_BillingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewNonContractRecord.splitSourceRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVsl_splitSourceRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewNonContractRecord.ST_field_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_field_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewNonContractRecord.isOutOfContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewNonContractRecord.ST_shipping_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_shipping_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewNonContractRecord.ST_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempNewNonContractRecord.ST_unit_price_wao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newVal_ST_unit_price_wao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setValNewNonContractRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>newVal_BillingDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.BillingDate__c}</expression>
    </formulas>
    <formulas>
        <name>newVal_ST_field_name</name>
        <dataType>String</dataType>
        <expression>{!$Record.ST_field_name__c}</expression>
    </formulas>
    <formulas>
        <name>newVal_ST_item</name>
        <dataType>String</dataType>
        <expression>{!$Record.ST_item__c}</expression>
    </formulas>
    <formulas>
        <name>newVal_ST_shipping_date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.ST_shipping_date__c}</expression>
    </formulas>
    <formulas>
        <name>newVal_ST_specification</name>
        <dataType>String</dataType>
        <expression>{!$Record.ST_specification__c}</expression>
    </formulas>
    <formulas>
        <name>newVal_ST_unit</name>
        <dataType>String</dataType>
        <expression>{!$Record.ST_unit__c}</expression>
    </formulas>
    <formulas>
        <name>newVal_ST_unit_price_wao</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ST_unit_price_wao__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newVsl_splitSourceRecord</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>【納入実績】契約外レコードの分割処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【納入実績】契約外レコードの分割処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createSplitRecords</name>
        <label>createSplitRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>newST_DeliveryRecord</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>updTriggerRecord</name>
        <label>updTriggerRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createSplitRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>splitRecordCreatedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setValTempNewContractRecord</targetReference>
        </connector>
        <filterFormula>OR(
  /* 新規作成時 */
  AND(
    ISNEW(),
    {!$Record.isOutOfContract__c},
    {!$Record.isOutOfContractSplit__c},
    ISBLANK({!$Record.splitSourceRecord__c})
  ),

  /* 更新時 */
  AND(
    NOT(ISNEW()),
    {!$Record.isOutOfContract__c},
    {!$Record.isOutOfContractSplit__c},
    ISBLANK({!$Record.splitSourceRecord__c}),
    OR(
      ISCHANGED({!$Record.isOutOfContract__c}),
      ISCHANGED({!$Record.isOutOfContractSplit__c}),
      ISCHANGED({!$Record.splitSourceRecord__c})
    )
  )
)</filterFormula>
        <object>ST_DeliveryRecord__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newST_DeliveryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ST_DeliveryRecord__c</objectType>
    </variables>
    <variables>
        <name>tempNewContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ST_DeliveryRecord__c</objectType>
    </variables>
    <variables>
        <name>tempNewNonContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ST_DeliveryRecord__c</objectType>
    </variables>
</Flow>
