force-app/main/default/flows/flowNotifyBuildAppEvent_forUpdMinutes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendEmail_ownerEmail_relAccount_cement</name>
        <label>メール送信：ownerEmail_relAccount_cement</label>
        <locationX>50</locationX>
        <locationY>2963</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ownerEmail_relAccount_cement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>hiroki-matsui@nohara-inc.co.jp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>mailText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>sendEmail_ownerEmail_relAccount_engOsaka</name>
        <label>メール送信：ownerEmail_relAccount_engOsaka</label>
        <locationX>94</locationX>
        <locationY>2663</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkHasOwnerEmail_relAccount_cement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ownerEmail_relAccount_engOsaka</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>hiroki-matsui@nohara-inc.co.jp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>mailText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>sendEmail_ownerEmail_relAccount_engTokyo</name>
        <label>メール送信：ownerEmail_relAccount_engTokyo</label>
        <locationX>94</locationX>
        <locationY>2363</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkHasOwnerEmail_relAccount_engOsaka</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ownerEmail_relAccount_engTokyo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>hiroki-matsui@nohara-inc.co.jp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>mailText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>sendEmail_ownerEmail_relAccount_steel</name>
        <label>メール送信：ownerEmail_relAccount_steel</label>
        <locationX>94</locationX>
        <locationY>2063</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkHasOwnerEmail_relAccount_engTokyo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ownerEmail_relAccount_steel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>hiroki-matsui@nohara-inc.co.jp</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>mailText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setEventWhoIdName_Contact</name>
        <label>setEventWhoIdName_Contact</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>eventWhoIdName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTargetWhoIdContact.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIsOwnerIdEqualUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEventWhoIdName_Lead</name>
        <label>setEventWhoIdName_Lead</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>eventWhoIdName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTargetWhoIdLead.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIsOwnerIdEqualUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOwnerName</name>
        <label>setOwnerName</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>eventOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEventOwner.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIsWhatIdEqualAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkHasOwnerEmail_relAccount_cement</name>
        <label>checkHasOwnerEmail_relAccount_cement</label>
        <locationX>314</locationX>
        <locationY>2855</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ownerEmail_relAccount_cement_true</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ownerEmail_relAccount_cement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhoIdEqualContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhatIdEqualOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhatIdEqualAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailNotificationExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail_ownerEmail_relAccount_cement</targetReference>
            </connector>
            <label>ownerEmail_relAccount_cement_true</label>
        </rules>
        <rules>
            <name>isWhoIdEqualLead_xCement_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWhoIdEqualLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailNotificationExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>isWhoIdEqualLead_xCement_true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkHasOwnerEmail_relAccount_engOsaka</name>
        <label>checkHasOwnerEmail_relAccount_engOsaka</label>
        <locationX>314</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>checkHasOwnerEmail_relAccount_cement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ownerEmail_relAccount_engOsaka_true</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ownerEmail_relAccount_engOsaka</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhoIdEqualContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhatIdEqualOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhatIdEqualAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailNotificationExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail_ownerEmail_relAccount_engOsaka</targetReference>
            </connector>
            <label>ownerEmail_relAccount_engOsaka_true</label>
        </rules>
        <rules>
            <name>isWhoIdEqualLead_xEngOsaka_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWhoIdEqualLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailNotificationExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkHasOwnerEmail_relAccount_cement</targetReference>
            </connector>
            <label>isWhoIdEqualLead_xEngOsaka_true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkHasOwnerEmail_relAccount_engTokyo</name>
        <label>checkHasOwnerEmail_relAccount_engTokyo</label>
        <locationX>314</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>checkHasOwnerEmail_relAccount_engOsaka</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ownerEmail_relAccount_engTokyo_true</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ownerEmail_relAccount_engTokyo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhoIdEqualContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhatIdEqualOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhatIdEqualAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailNotificationExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail_ownerEmail_relAccount_engTokyo</targetReference>
            </connector>
            <label>ownerEmail_relAccount_engTokyo_true</label>
        </rules>
        <rules>
            <name>isWhoIdEqualLead_xEngTokyo_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWhoIdEqualLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailNotificationExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkHasOwnerEmail_relAccount_engOsaka</targetReference>
            </connector>
            <label>isWhoIdEqualLead_xEngTokyo_true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkHasOwnerEmail_relAccount_steel</name>
        <label>checkHasOwnerEmail_relAccount_steel</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>checkHasOwnerEmail_relAccount_engTokyo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>OwnerEmail_relAccount_steel_true</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>ownerEmail_relAccount_steel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhoIdEqualContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhatIdEqualOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWhatIdEqualAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailNotificationExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail_ownerEmail_relAccount_steel</targetReference>
            </connector>
            <label>OwnerEmail_relAccount_steel_true</label>
        </rules>
        <rules>
            <name>isWhoIdEqualLead_xSteel_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWhoIdEqualLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailNotificationExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkHasOwnerEmail_relAccount_engTokyo</targetReference>
            </connector>
            <label>isWhoIdEqualLead_xSteel_true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsNotifyTarget</name>
        <label>checkIsNotifyTarget</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isNotifyTarget_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNotifyTarget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isTargetChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isEmailNotificationExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkIsWhoIdEqualXxx</targetReference>
            </connector>
            <label>isNotifyTarget_True</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsOwnerIdEqualUser</name>
        <label>checkIsOwnerIdEqualUser</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>checkIsWhatIdEqualAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>checkIsOwnerIdEqualUser_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isOwnerIdEqualUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEventOwner</targetReference>
            </connector>
            <label>checkIsOwnerIdEqualUser_true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsWhatIdEqualAccount</name>
        <label>checkIsWhatIdEqualAccount</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>checkHasOwnerEmail_relAccount_steel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>checkIsWhatIdEqualAccount_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWhatIdEqualAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEventAccountViaWhatId</targetReference>
            </connector>
            <label>checkIsWhatIdEqualAccount_true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsWhoIdEqualXxx</name>
        <label>checkIsWhoIdEqualXxx</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>checkIsOwnerIdEqualUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isWhoIdEqualLead_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWhoIdEqualLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTargetWhoIdLead</targetReference>
            </connector>
            <label>リード</label>
        </rules>
        <rules>
            <name>isWhoIdEqualContact_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWhoIdEqualContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountContactRelatio</targetReference>
            </connector>
            <label>取引先責任者</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWhatIdEqualXxx</name>
        <label>checkWhatIdEqualXxx</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>checkIsNotifyTarget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isWhatIdEqualOpp_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isWhatIdEqualOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOppRelEvent</targetReference>
            </connector>
            <label>商談</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>channelnfoForSubject</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate})) &amp;
RIGHT(&quot;0&quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})), 2) &amp;
RIGHT(&quot;0&quot; &amp; TEXT(DAY({!$Flow.CurrentDate})), 2) &amp;
&quot;_&quot; &amp;
IF(
  ISBLANK(TEXT({!$Record.channelType__c})),
  &quot;議事録&quot;,
  TEXT({!$Record.channelType__c})
)</expression>
    </formulas>
    <formulas>
        <name>isEmailNotificationExcluded</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.minutesNotSharedWithOtherBusiness__c}</expression>
    </formulas>
    <formulas>
        <name>isMinutes</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(TEXT({!$Record.channelType__c}))</expression>
    </formulas>
    <formulas>
        <name>isNotifyTarget</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record.Account.isNotificationTarget__c}, {!getOppRelEvent.Account.isNotificationTarget__c})</expression>
    </formulas>
    <formulas>
        <name>isOwnerIdEqualUser</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.OwnerId}, 3) = &quot;005&quot;</expression>
    </formulas>
    <formulas>
        <name>isTargetChannel</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    {!isMinutes},
    NOT(ISBLANK({!$Record.DocumentExportDate__c})),
    ISBLANK({!$Record__Prior.DocumentExportDate__c})
  )</expression>
    </formulas>
    <formulas>
        <name>isTestTarget</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND({!$Record.Account.Account_ID_18__c} == &quot;0015h00000Qbu35AAB&quot;, {!$Record.Owner:User.Id} == &quot;005BV000000J75pYAC&quot;),
{!getOppRelEvent.Account.Account_ID_18__c} == &quot;0015h00000Qbu35AAB&quot;
)</expression>
    </formulas>
    <formulas>
        <name>isWhatIdEqualAccount</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.WhatId}, 3) = &quot;001&quot;</expression>
    </formulas>
    <formulas>
        <name>isWhatIdEqualOpp</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.WhatId}, 3) = &quot;006&quot;</expression>
    </formulas>
    <formulas>
        <name>isWhoIdEqualContact</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.WhoId}, 3) = &quot;003&quot;</expression>
    </formulas>
    <formulas>
        <name>isWhoIdEqualLead</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!$Record.WhoId}, 3)  = &quot;00Q&quot;</expression>
    </formulas>
    <formulas>
        <name>ownerEmail_relAccount_cement</name>
        <dataType>String</dataType>
        <expression>IF(
    {!isWhatIdEqualOpp} == true, 
    {!getOppRelEvent.Account.CE_Mail__c},

    IF(
        {!isWhatIdEqualAccount} == true,
        {!getEventAccountViaWhatId.CE_Mail__c},
        {!$Record.Account.CE_Mail__c}
    )
)</expression>
    </formulas>
    <formulas>
        <name>ownerEmail_relAccount_engOsaka</name>
        <dataType>String</dataType>
        <expression>IF(
    {!isWhatIdEqualOpp} == true, 
    {!getOppRelEvent.Account.relAccount_engOsaka__r.Owner.Email},

    IF(
        {!isWhatIdEqualAccount} == true,
        {!getEventAccountViaWhatId.relAccount_engOsaka__r.Owner.Email},
        {!getAccountContactRelatio.Account.relAccount_engOsaka__r.Owner.Email}
    )
)</expression>
    </formulas>
    <formulas>
        <name>ownerEmail_relAccount_engTokyo</name>
        <dataType>String</dataType>
        <expression>IF(
    {!isWhatIdEqualOpp} == true, 
    {!getOppRelEvent.Account.relAccount_engTokyo__r.Owner.Email},

    IF(
        {!isWhatIdEqualAccount} == true,
        {!getEventAccountViaWhatId.relAccount_engTokyo__r.Owner.Email},
        {!getAccountContactRelatio.Account.relAccount_engTokyo__r.Owner.Email}
    )
)</expression>
    </formulas>
    <formulas>
        <name>ownerEmail_relAccount_steel</name>
        <dataType>String</dataType>
        <expression>IF(
    {!isWhatIdEqualOpp} == true, 
    {!getOppRelEvent.Account.relAccount_steel__r.Owner.Email},

    IF(
        {!isWhatIdEqualAccount} == true,
        {!getEventAccountViaWhatId.relAccount_steel__r.Owner.Email},
        {!getAccountContactRelatio.Account.relAccount_steel__r.Owner.Email}
    )
)</expression>
    </formulas>
    <formulas>
        <name>targetEventUrl</name>
        <dataType>String</dataType>
        <expression>&quot;https://forcecom175.lightning.force.com/lightning/r/Event/&quot;&amp;{!$Record.Id}&amp;&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>【行動】非BuildApp部門管理の取引先への通知フロー（議事録用） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【行動】非BuildApp部門管理の取引先への通知フロー（議事録用）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountContactRelatio</name>
        <label>getAccountContactRelatio</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTargetWhoIdContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEventAccountViaWhatId</name>
        <label>対象行動の取引先(WhatId)を取得</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkHasOwnerEmail_relAccount_steel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEventOwner</name>
        <label>対象行動の割り当て先を取得</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setOwnerName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOppRelEvent</name>
        <label>getOppRelEvent</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIsNotifyTarget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetWhoIdContact</name>
        <label>対象行動のName割り当てContactを取得</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setEventWhoIdName_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetWhoIdLead</name>
        <label>対象行動のName割り当てLeadを取得</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setEventWhoIdName_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkWhatIdEqualXxx</targetReference>
        </connector>
        <filterFormula>    AND(
        NOT({!$Record.minutesNotSharedWithOtherBusiness__c}),
        NOT(ISBLANK({!$Record.DocumentExportDate__c})), 
        ISBLANK({!$Record__Prior.DocumentExportDate__c}), 
        TEXT({!$Record.channelType__c}) == &quot;&quot;
        )</filterFormula>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>【{!$Record.Account.Name}】でBuildApp関連の行動が作成されました。（{!channelnfoForSubject}）</text>
    </textTemplates>
    <textTemplates>
        <name>mailText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text># 件名：
{!$Record.Subject}

# 目的・概要：
{!$Record.dx_katsudou_mokuteki__c}

{!$Record.DX_outline__c}

# 先方参加者：
{!eventWhoIdName}

# 行動作成者：
{!eventOwnerName}

# URL：
{!targetEventUrl}</text>
    </textTemplates>
    <variables>
        <name>eventOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>該当者なし</stringValue>
        </value>
    </variables>
    <variables>
        <name>eventWhoIdName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>該当なし</stringValue>
        </value>
    </variables>
</Flow>
