force-app/main/default/flows/flowCreateOrUpdOpp_0125h000000Y9RTAA0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>all_Phase</name>
        <label>Opportunity.all_Phase</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Event.ActionEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>updCloseDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event.ActionEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>branchIsTargetOppPhase</name>
        <label>分岐：特定の商談フェーズへの移行</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>updCloseDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueIsTargetOppPhase</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Z(新規問合)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y(お礼電話)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>X(積算中)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>W(仕入見積依頼)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V(見積作成中)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.all_Phase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>all_Phase</targetReference>
            </connector>
            <label>特定の商談フェーズへの移行</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>newCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF(OR(TEXT({!$Record.StageName}) = &quot;A (受注)&quot;, TEXT({!$Record.StageName}) = &quot;E (失注)&quot;), today(), DATEVALUE(&quot;2026-06-30&quot;))</expression>
    </formulas>
    <interviewLabel>【CSWEB】商談作成・更新時の処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【CSWEB】商談作成・更新時の処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updCloseDate</name>
        <label>完了予定日を更新</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>newCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>branchIsTargetOppPhase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125h000000Y9RTAA0</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
