force-app/main/default/flows/flowApplyDiscountCalculatingToCurrentMonthDelivery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addToSumVal</name>
        <label>addToSumVal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sumVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopApplyDiscountCalculatingToCurrentMonthDelivery.ShippingAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopApplyDiscountCalculatingToCurrentMonthDelivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setIdToIsExistingItemNameDiscount</name>
        <label>setIdToIsExistingItemNameDiscount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>existingItemNameDiscountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopApplyDiscountCalculatingToCurrentMonthDelivery.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopApplyDiscountCalculatingToCurrentMonthDelivery</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIsExistingItem_ST_Discount_Calculating</name>
        <label>checkIsExistingItem_ST_Discount_Calculating</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_checkIsExistingItem_ST_Discount_Calculating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExistingItem_ST_Discount_Calculating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getObjRecord_ST_DeliveryRecord</targetReference>
            </connector>
            <label>caseTrue_checkIsExistingItem_ST_Discount_Calculating</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsExistingItemNameDiscount</name>
        <label>checkIsExistingItemNameDiscount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>createDiscountItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueIsExistingItemNameDiscount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExistingItemNameDiscount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updAmountAfterDiscount</targetReference>
            </connector>
            <label>caseTrueIsExistingItemNameDiscount</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsItemsExcluded</name>
        <label>checkIsItemsExcluded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>addToSumVal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueIsItemsExcluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isItemsExcluded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setIdToIsExistingItemNameDiscount</targetReference>
            </connector>
            <label>caseTrueIsItemsExcluded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>amountAftDiscount</name>
        <dataType>Number</dataType>
        <expression>CASE(
    TEXT({!$Record.ST_discount_calculating__c}),
    &quot;下2桁カット&quot;, floor({!sumVal}/100)*100,
    &quot;下3桁カット&quot;, floor({!sumVal}/1000)*1000,
    &quot;下4桁カット&quot;, floor({!sumVal}/10000)*10000,
    {!sumVal}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>createVal_BillingDate</name>
        <dataType>Date</dataType>
        <expression>{!endDate}</expression>
    </formulas>
    <formulas>
        <name>createVal_ST_item</name>
        <dataType>String</dataType>
        <expression>&quot;値引(システム)&quot;</expression>
    </formulas>
    <formulas>
        <name>createVal_ST_quantity</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>createVal_ST_unit</name>
        <dataType>String</dataType>
        <expression>&quot;式&quot;</expression>
    </formulas>
    <formulas>
        <name>createVal_ST_unit_price_wao</name>
        <dataType>Number</dataType>
        <expression>{!amountAftDiscount}-{!sumVal}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR(TODAY()),
  MONTH(TODAY()) + 1,
  1
) - 1</expression>
    </formulas>
    <formulas>
        <name>isExistingItem_ST_Discount_Calculating</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
    ISBLANK(
        TEXT({!$Record.ST_discount_calculating__c})
    )
)</expression>
    </formulas>
    <formulas>
        <name>isExistingItemNameDiscount</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
    ISBLANK({!existingItemNameDiscountId})
)</expression>
    </formulas>
    <formulas>
        <name>isItemsExcluded</name>
        <dataType>Boolean</dataType>
        <expression>{!loopApplyDiscountCalculatingToCurrentMonthDelivery.ST_item__c} == {!createVal_ST_item}</expression>
    </formulas>
    <formulas>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR(TODAY()),
  MONTH(TODAY()),
  1
)</expression>
    </formulas>
    <interviewLabel>【現場】当月納入実績に対する割引計算パターンの適用 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【現場】当月納入実績に対する割引計算パターンの適用</label>
    <loops>
        <name>loopApplyDiscountCalculatingToCurrentMonthDelivery</name>
        <label>loopApplyDiscountCalculatingToCurrentMonthDelivery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getObjRecord_ST_DeliveryRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkIsItemsExcluded</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkIsExistingItemNameDiscount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createDiscountItem</name>
        <label>createDiscountItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>BillingDate__c</field>
            <value>
                <elementReference>$Record.targetBillingCloseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ST_field_name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ST_item__c</field>
            <value>
                <elementReference>createVal_ST_item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ST_quantity__c</field>
            <value>
                <elementReference>createVal_ST_quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ST_unit__c</field>
            <value>
                <elementReference>createVal_ST_unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ST_unit_price_wao__c</field>
            <value>
                <elementReference>createVal_ST_unit_price_wao</elementReference>
            </value>
        </inputAssignments>
        <object>ST_DeliveryRecord__c</object>
    </recordCreates>
    <recordLookups>
        <name>getObjRecord_ST_DeliveryRecord</name>
        <label>getObjRecord_ST_DeliveryRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopApplyDiscountCalculatingToCurrentMonthDelivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ST_field_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.targetBillingCloseDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>splitSourceRecord__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isOutOfContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Excludedfrombilling_summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ST_DeliveryRecord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updAmountAfterDiscount</name>
        <label>updAmountAfterDiscount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingItemNameDiscountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingDate__c</field>
            <value>
                <elementReference>$Record.targetBillingCloseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ST_quantity__c</field>
            <value>
                <elementReference>createVal_ST_quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ST_unit__c</field>
            <value>
                <elementReference>createVal_ST_unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ST_unit_price_wao__c</field>
            <value>
                <elementReference>createVal_ST_unit_price_wao</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ST_field_ST_ConstructionSite__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIsExistingItem_ST_Discount_Calculating</targetReference>
        </connector>
        <filterFormula>OR(
  AND(
    ISNEW(),
    NOT(ISBLANK(TEXT({!$Record.ST_discount_calculating__c}))),
    NOT(ISBLANK({!$Record.targetBillingCloseDate__c}))
  ),
  ISCHANGED({!$Record.ST_discount_calculating__c}),
  ISCHANGED({!$Record.targetBillingCloseDate__c})
)</filterFormula>
        <object>ST_ConstructionSite__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>existingItemNameDiscountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ST_DeliveryRecordToUpd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ST_DeliveryRecord__c</objectType>
    </variables>
    <variables>
        <name>sumVal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
