force-app/main/default/flows/flowAssignSupplyItemToAsset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setUpdValueForSupplyItem</name>
        <label>「仕入商品」更新用の値を割り当て</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>getTargetSupplyItem.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetSupplyItem.SelectedAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetSupplyItem.SyncFlg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getTargetSupplyItem.ShippingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.syukkabi__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updValueForSupplyItem</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>【納入商品】仕入商品紐付け発生時の処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【納入商品】仕入商品紐付け発生時の処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTargetSupplyItem</name>
        <label>対象「仕入商品」の取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setUpdValueForSupplyItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SupplyItem__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SupplyItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updValueForAsset</name>
        <label>「納入商品」値の更新</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>getTargetSupplyItem.Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>getTargetSupplyItem.SerialNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updValueForSupplyItem</name>
        <label>「仕入商品」値の更新</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>updValueForAsset</targetReference>
        </connector>
        <inputReference>getTargetSupplyItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTargetSupplyItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SupplyItem__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
