force-app/main/default/flows/flowAssignContactToCampaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_about_Axcis2</name>
        <label>SL_about_Axcis2の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_about_Axcis2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelInt_SL_about_Axcis2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_about_cloud2</name>
        <label>「SL_クラウド契約について」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_about_cloud2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelInt_SL_about_cloud2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_about_Pro2_2</name>
        <label>「SL_Pro2カメラについて」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_about_Pro2_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelInt_SL_about_Pro2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_about_Pro3_2</name>
        <label>「SL_Pro3カメラについて」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>2363</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_about_Pro3_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelInt_SL_about_Pro3_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_about_Scan_to_BIM_Stages_SIM_ON2</name>
        <label>「SL_Scan to BIM/Stages/SIM-ONについて」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>3491</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_about_Scan_to_BIM_Stages_SIM_ON2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelInt_SL_about_Scan_to_BIM_Stages_SIM_ON2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_demo</name>
        <label>「SL_実機デモ会希望」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>4055</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_demo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelInt_SL_demo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_others2</name>
        <label>「SL_その他」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>4619</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_others</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelInt_SL_others</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_source_event</name>
        <label>「SL_ソース_イベント」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>8003</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_source_event</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelSrc_SL_source_event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_source_other</name>
        <label>「SL_ソース_その他」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>6311</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_source_other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelSrc_SL_source_other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_source_syoukai</name>
        <label>「SL_ソース_紹介」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>6875</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_source_syoukai</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelSrc_SL_source_syoukai</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_source_tel</name>
        <label>「SL_ソース_電話」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>7439</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_source_tel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelSrc_SL_source_tel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_source_webinar</name>
        <label>「SL_ソース_ウェビナー」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>5747</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_source_webinar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelSrc_SL_source_webinar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToCounterExistingCpnMember_SL_WebContact</name>
        <label>「SL_ソース_WEB問い合わせ」の登録数を割り当て</label>
        <locationX>314</locationX>
        <locationY>5183</locationY>
        <assignmentItems>
            <assignToReference>counterExistingCpnMember</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionExistingCpnMember_fil_SL_WebContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsChangeItemRelSrc_SL_WebContact</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_about_Axcis2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_Axcisについて」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tq12YAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_about_Axcis2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_about_cloud2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_クラウド契約について」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>2819</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tq14YAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_about_cloud2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_about_Pro2_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_Pro2カメラについて」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>1691</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tq11YAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_about_Pro2_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_about_Pro3_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_Pro3カメラについて」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>2255</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tq10YAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_about_Pro3_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_about_Scan_to_BIM_Stages_SIM_ON2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_Scan to BIM/Stages/SIM-ONについて」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>3383</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tq13YAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_about_Scan_to_BIM_Stages_SIM_ON2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_demo</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_実機デモ会希望」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>3947</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC00000AIfa1YAD</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_demo</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_others</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_その他」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>4511</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC00000AIbWQYA1</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_others2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_source_event</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_ソース_イベント」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>7895</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tvgcYAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_source_event</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_source_other</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_ソース_その他」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>6203</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tvgiYAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_source_other</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_source_syoukai</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_ソース_紹介」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>6767</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tvghYAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_source_syoukai</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_source_tel</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_ソース_電話」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>7331</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tvggYAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_source_tel</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_source_webinar</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_ソース_ウェビナー」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>5639</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tvgdYAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_source_webinar</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>collectionExistingCpnMember_fil_SL_WebContact</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>「SL_ソース_WEB問い合わせ」の登録を確認</label>
        <locationX>314</locationX>
        <locationY>5075</locationY>
        <assignNextValueToReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>collectionExistingCpnMember</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2.CampaignId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>701RC000006tvgfYAA</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setValueToCounterExistingCpnMember_SL_WebContact</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>branchIsChangeItem_SL_FirstContact_Detail</name>
        <label>分岐：「初回接点_問い合わせ内容」割り当て対象</label>
        <locationX>314</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Axcis2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItem_SL_FirstContact_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItem_SL_FirstContact_Detail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>setVal_SL_FirstContact_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.firstCpnInterest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setValToFirstCpnInterest</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItem_SL_firstsource</name>
        <label>分岐：「SL_初回ソース」割り当て対象</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>branchIsChangeItem_SL_FirstContact_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItem_SL_firstsource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItem_SL_firstsource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>setVal_SL_firstsource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.firstCpnSource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setValToFirstCpnSource</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelInt_SL_about_Axcis2</name>
        <label>分岐：「SL_Axcisについて」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Pro2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelInt_SL_about_Axcis2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelInt_SL_about_Axcis</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIntCpn_SL_about_Axcis2</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelInt_SL_about_cloud2</name>
        <label>分岐：「SL_クラウド契約について」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>3035</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Scan_to_BIM_Stages_SIM_ON2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_SL_about_cloud2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelInt_SL_about_cloud</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIntCpn_SL_about_cloud2</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelInt_SL_about_Pro2_2</name>
        <label>分岐：「SL_Pro2カメラについて」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>1907</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Pro3_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelInt_SL_about_Pro2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelInt_SL_about_Pro2_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIntCpn_SL_about_Pro2_2</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelInt_SL_about_Pro3_2</name>
        <label>分岐：「SL_Pro3カメラについて」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_cloud2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelInt_SL_about_Pro3_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelInt_SL_about_Pro3_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIntCpn_SL_about_Pro3_2</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelInt_SL_about_Scan_to_BIM_Stages_SIM_ON2</name>
        <label>分岐：「SL_Scan to BIM/Stages/SIM-ONについて」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>3599</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_demo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelInt_SL_about_Scan_to_BIM_Stages_SIM_ON2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelInt_SL_about_Scan_to_BIM_Stages_SIM_ON2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIntCpn_SL_about_Scan_to_BIM_Stages_SIM_ON2</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelInt_SL_demo</name>
        <label>分岐：「SL_実機デモ会希望」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>4163</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_SL_demo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelInt_SL_demo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIntCpn_SL_demo</targetReference>
            </connector>
            <label>1/caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelInt_SL_others</name>
        <label>分岐：「SL_その他」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>4727</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_WebContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_SL_others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelInt_SL_others</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIntCpn_SL_others</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelSrc_SL_source_event</name>
        <label>分岐：「SL_ソース_イベント」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>8111</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelSrc_SL_source_event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelSrc_SL_source_event</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSrcCpn_SL_source_event</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelSrc_SL_source_other</name>
        <label>分岐：「SL_ソース_その他」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>6419</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_syoukai</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelSrc_SL_source_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelSrc_SL_source_other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSrcCpn_SL_source_other</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelSrc_SL_source_syoukai</name>
        <label>分岐：「SL_ソース_紹介」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>6983</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_tel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelSrc_SL_source_syoukai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelSrc_SL_source_syoukai</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSrcCpn_SL_source_syoukai</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelSrc_SL_source_tel</name>
        <label>分岐：「SL_ソース_電話」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>7547</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelSrc_SL_source_tel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelSrc_SL_source_tel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSrcCpn_SL_source_tel</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelSrc_SL_source_webinar</name>
        <label>分岐：「SL_ソース_ウェビナー」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>5855</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelSrc_SL_source_webinar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelSrc_SL_source_webinar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSrcCpn_SL_source_webinar</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsChangeItemRelSrc_SL_WebContact</name>
        <label>分岐：「SL_ソース_WEB問い合わせ」の割り当て対象</label>
        <locationX>314</locationX>
        <locationY>5291</locationY>
        <defaultConnector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_webinar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrue_branchIsChangeItemRelSrc_SL_WebContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeItemRelSrc_SL_WebContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterExistingCpnMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSrcCpn_SL_WebContact</targetReference>
            </connector>
            <label>caseTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isChangeItem_SL_FirstContact_Detail</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record__Prior.SL_FirstContact_Detail__c} != {!$Record.SL_FirstContact_Detail__c}</expression>
    </formulas>
    <formulas>
        <name>isChangeItem_SL_firstsource</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record__Prior.SL_firstsource__c} != {!$Record.SL_firstsource__c}</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelInt_SL_about_Axcis</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!$Record__Prior.SL_about_Axcis__c} != {!$Record.SL_about_Axcis__c}, {!$Record.SL_FirstContact_Detail__c} = &quot;Axcis&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelInt_SL_about_cloud</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!$Record__Prior.SL_about_cloud__c} != {!$Record.SL_about_cloud__c}, {!$Record.SL_FirstContact_Detail__c}  = &quot;クラウド契約&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelInt_SL_about_Pro2_2</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!$Record__Prior.SL_about_Pro2__c} != {!$Record.SL_about_Pro2__c}, {!$Record.SL_FirstContact_Detail__c}  = &quot;Pro2カメラ&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelInt_SL_about_Pro3_2</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!$Record__Prior.SL_about_Pro3__c} != {!$Record.SL_about_Pro3__c}, {!$Record.SL_FirstContact_Detail__c}  = &quot;Pro3カメラ&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelInt_SL_about_Scan_to_BIM_Stages_SIM_ON2</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!$Record__Prior.SL_about_Scan_to_BIM_Stages_SIM_ON__c} != {!$Record.SL_about_Scan_to_BIM_Stages_SIM_ON__c}, {!$Record.SL_FirstContact_Detail__c}  = &quot;Scan to BIM/Stages/SIM-ON&quot;, {!$Record.SL_FirstContact_Detail__c}  = &quot;Scan To BIM&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelInt_SL_demo</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.SL_demo__c} != {!$Record.SL_demo__c}, {!$Record.SL_firstsource__c} = &quot;実機デモ会希望&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelInt_SL_others</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.SL_others__c} != {!$Record.SL_others__c}, {!$Record.SL_FirstContact_Detail__c} = &quot;その他&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelSrc_SL_source_event</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.SL_source_event__c} != {!$Record.SL_source_event__c}, {!$Record.SL_firstsource__c} = &quot;イベント&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelSrc_SL_source_other</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.SL_source_other__c} != {!$Record.SL_source_other__c}, {!$Record.SL_firstsource__c} = &quot;その他&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelSrc_SL_source_syoukai</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.SL_source_syoukai__c} != {!$Record.SL_source_syoukai__c}, {!$Record.SL_firstsource__c} = &quot;紹介&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelSrc_SL_source_tel</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.SL_source_tel__c} != {!$Record.SL_source_tel__c}, {!$Record.SL_firstsource__c} = &quot;電話&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelSrc_SL_source_webinar</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.SL_source_webinar__c} != {!$Record.SL_source_webinar__c}, {!$Record.SL_firstsource__c} = &quot;ウェビナー&quot;)</expression>
    </formulas>
    <formulas>
        <name>isChangeItemRelSrc_SL_WebContact</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Record__Prior.SL_WebContact__c} != {!$Record.SL_WebContact__c}, {!$Record.SL_firstsource__c} = &quot;WEB問い合わせ&quot;)</expression>
    </formulas>
    <formulas>
        <name>setVal_SL_FirstContact_Detail</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.SL_FirstContact_Detail__c}, 
    &quot;Pro3カメラ&quot;, &quot;701RC000006tq10YAA&quot;,
    &quot;Pro2カメラ&quot;, &quot;701RC000006tq11YAA&quot;,
    &quot;Axcis&quot;, &quot;701RC000006tq12YAA&quot;,
    &quot;Scan to BIM/Stages/SIM-ON&quot;, &quot;701RC000006tq13YAA&quot;,
    &quot;クラウド契約&quot;, &quot;701RC000006tq14YAA&quot;,
    &quot;クラウド契約&quot;, &quot;701RC000006tq14YAA&quot;,
    &quot;Scan To BIM&quot;, &quot;701RC000006tq13YAA&quot;,
    &quot;実機デモ会希望&quot;, &quot;701RC00000AIfa1YAD&quot;,
    &quot;その他&quot;, &quot;701RC00000AIbWQYA1&quot;,
    &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>setVal_SL_firstsource</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.SL_firstsource__c}, 
    &quot;イベント&quot;, &quot;701RC000006tvgcYAA&quot;,
    &quot;紹介&quot;, &quot;701RC000006tvghYAA&quot;,
    &quot;電話&quot;, &quot;701RC000006tvggYAA&quot;,
    &quot;WEB問い合わせ&quot;, &quot;701RC000006tvgfYAA&quot;,
    &quot;ウェビナー&quot;, &quot;701RC000006tvgdYAA&quot;,
    &quot;その他&quot;, &quot;701RC000006tvgiYAA&quot;,
    &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>【得意先担当者】指定レコード更新時のCPN割り当て対象 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【得意先担当者】指定レコード更新時のCPN割り当て対象</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>assignIntCpn_SL_about_Axcis2</name>
        <label>「SL_Axcisについて」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>1451</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Pro2_2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Pro2_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tq12YAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignIntCpn_SL_about_cloud2</name>
        <label>「SL_クラウド契約について」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>3143</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Scan_to_BIM_Stages_SIM_ON2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Scan_to_BIM_Stages_SIM_ON2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tq14YAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignIntCpn_SL_about_Pro2_2</name>
        <label>「SL_Pro2カメラについて」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Pro3_2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Pro3_2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tq11YAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignIntCpn_SL_about_Pro3_2</name>
        <label>「SL_Pro3カメラについて」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>2579</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_cloud2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_about_cloud2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tq10YAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignIntCpn_SL_about_Scan_to_BIM_Stages_SIM_ON2</name>
        <label>「SL_Scan to BIM/Stages/SIM-ONについて」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>3707</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_demo</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_WebContact</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tq13YAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignIntCpn_SL_demo</name>
        <label>「実機デモ会希望」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>4271</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_others</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_others</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC00000AIfa1YAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignIntCpn_SL_others</name>
        <label>「SL_その他」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>4835</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_WebContact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_WebContact</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC00000AIbWQYA1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignSrcCpn_SL_source_event</name>
        <label>「SL_ソース_イベント」に関連するCPN割り当て</label>
        <locationX>182</locationX>
        <locationY>8219</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tvgcYAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignSrcCpn_SL_source_other</name>
        <label>「SL_ソース_その他」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>6527</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_syoukai</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_source_syoukai</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tvgiYAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignSrcCpn_SL_source_syoukai</name>
        <label>「SL_ソース_紹介」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>7091</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_tel</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_source_tel</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tvghYAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignSrcCpn_SL_source_tel</name>
        <label>「SL_ソース_電話」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>7655</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_event</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_source_event</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tvggYAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignSrcCpn_SL_source_webinar</name>
        <label>「SL_ソース_ウェビナー」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>5963</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_other</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_source_other</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tvgdYAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>assignSrcCpn_SL_WebContact</name>
        <label>「SL_ソース_WEB問い合わせ」に関連するCPN割り当て</label>
        <locationX>50</locationX>
        <locationY>5399</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_source_webinar</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_source_webinar</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <stringValue>701RC000006tvgfYAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>collectionExistingCpnMember</name>
        <label>取得：対象得意先担当者が割り当てられているキャンペーンメンバー</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>branchIsChangeItem_SL_firstsource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setValToFirstCpnInterest</name>
        <label>ファーストタッチCPN(関心)の割り当て</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Axcis2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionExistingCpnMember_fil_SL_about_Axcis2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>firstCpnInterest__c</field>
            <value>
                <elementReference>setVal_SL_FirstContact_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>setValToFirstCpnSource</name>
        <label>ファーストタッチCPN(ソース)の割り当て</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>branchIsChangeItem_SL_FirstContact_Detail</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>branchIsChangeItem_SL_FirstContact_Detail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>firstCpnSource__c</field>
            <value>
                <elementReference>setVal_SL_firstsource</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>collectionExistingCpnMember</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SL_about_Axcis__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_about_Pro2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_about_Pro3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_about_cloud__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_about_Scan_to_BIM_Stages_SIM_ON__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_WebContact__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_source_webinar__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_source_other__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_source_syoukai__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_source_tel__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_source_event__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_firstsource__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_FirstContact_Detail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>counterExistingCpnMember</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_collectionExistingCpnMember_fil_SL_about_Axcis2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
