force-app/main/default/flows/flowNotifyBuildAppEsMail_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkIsUpdtarget</name>
        <label>checkIsUpdtarget</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isUpdtarget_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isUpdTarget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updRelContactItem</targetReference>
            </connector>
            <label>isUpdtarget_true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>hhmmssTxt</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!$Flow.CurrentDateTime}), 12, 5) &amp; &quot;:00&quot;</expression>
    </formulas>
    <formulas>
        <name>isUpdTarget</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.Account.buildAppMailDeliveryDate__c}) || ( {!$Record.buildAppMailDeliveryDate__c} != {!$Record.Account.buildAppMailDeliveryDate__c} )</expression>
    </formulas>
    <formulas>
        <name>val_buildAppMailDeliveryDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(
    ISBLANK({!$Record.buildAppMailDeliveryDate__c}), 
    {!$Flow.CurrentDateTime}, 
    DATETIMEVALUE(TEXT({!$Record.buildAppMailDeliveryDate__c}) &amp; &quot; &quot; &amp; {!hhmmssTxt}
    )
)</expression>
    </formulas>
    <formulas>
        <name>val_buildAppMailOverviewTxt</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.buildAppMailOverview__c}), &quot;記録なし：BuildAppMail配信実施&quot;, {!$Record.buildAppMailOverview__c})</expression>
    </formulas>
    <interviewLabel>【取引先責任者】非BuildApp部門管理の取引先への通知フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【取引先責任者】非BuildApp部門管理の取引先への通知フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createEvent</name>
        <label>createEvent</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>val_buildAppMailOverviewTxt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>val_buildAppMailDeliveryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005BV000000J75pYAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012BV0000004HuFYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>val_buildAppMailDeliveryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>val_buildAppMailOverviewTxt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>updRelContactItem</name>
        <label>updRelContactItem</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>createEvent</targetReference>
        </connector>
        <inputAssignments>
            <field>buildAppMailDeliveryDate__c</field>
            <value>
                <elementReference>$Record.buildAppMailDeliveryDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>buildAppMailOverview__c</field>
            <value>
                <elementReference>$Record.buildAppMailOverview__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIsUpdtarget</targetReference>
        </connector>
        <filterFormula>NOT( ISBLANK({!$Record.buildAppMailDeliveryDate__c}) )
&amp;&amp;
(
ISBLANK({!$Record__Prior.buildAppMailDeliveryDate__c})
||
({!$Record.buildAppMailDeliveryDate__c} != {!$Record__Prior.buildAppMailDeliveryDate__c})
)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
