force-app/main/default/flows/Flow_Opp_zyutyuurank.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_sekisankyouryokubi</name>
        <label>積算協力判定日に値をセット</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>vsRecOpportunity.EN_sekisankyouryokuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>drankhanteibiniataigaaruka</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setrecordID</name>
        <label>レコード変数にIDをセット</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>vsRecOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1</name>
        <label>Dランク判定日に値をセット</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>vsRecOpportunity.EN_Drankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_D</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3_D</name>
        <label>Cランク判定日に値をセット</label>
        <locationX>138</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>vsRecOpportunity.EN_Crankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setrecordID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>drankhanteibiniataigaaruka</name>
        <label>Dランク判定日に値があるか</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>X2_D</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>zyutyuukakudokgasekisankyouryokukadouka</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>積算協力</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>setrecordID</targetReference>
            </connector>
            <label>受注確度が積算協力かどうか</label>
        </rules>
        <rules>
            <name>drankhanteibiatainashi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EN_Drankhanteibi__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1</targetReference>
            </connector>
            <label>Dランク判定日に値無し</label>
        </rules>
    </decisions>
    <decisions>
        <name>sekisankyouryokuhanteibiniataigaaruka</name>
        <label>積算協力判定日に値があるか</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>drankhanteibiniataigaaruka</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>sekisannkyouryokuhanteibiniatainashi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EN_sekisankyouryokuhanteibi__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_sekisankyouryokubi</targetReference>
            </connector>
            <label>積算協力判定日に値無し</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_D</name>
        <label>Cランク判定日に値があるか</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>setrecordID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dランク</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setrecordID</targetReference>
            </connector>
            <label>受注確度がDランクかどうか</label>
        </rules>
        <rules>
            <name>X1_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vsRecOpportunity.EN_Crankhanteibi__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3_D</targetReference>
            </connector>
            <label>Cランク判定日に値無し</label>
        </rules>
    </decisions>
    <decisions>
        <name>zyutyuukakudohantei</name>
        <label>受注確度に値があるか</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>zyutyuukakudonyuryokuzumi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sekisankyouryokuhanteibiniataigaaruka</targetReference>
            </connector>
            <label>受注確度に値あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【商談】受注確度 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】受注確度</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>OppUpdate</name>
        <label>商談更新</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <inputReference>vsRecOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>zyutyuukakudohantei</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>en_zyutyuukakudo__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>vsRecOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
