force-app/main/default/flows/flowUpdateIntroductionStatusForContactSchedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setNewValueToTargetSchedule</name>
        <label>setNewValueToTargetSchedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>targetContactSchedule.isNextMonthBlank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextMonthBlankNewValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetContactSchedule.filledMonthCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filledMonthCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updTargetContactSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen1</name>
        <label>setNextMonthBlankNewValueWhen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Jan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen10</name>
        <label>setNextMonthBlankNewValueWhen10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Oct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen11</name>
        <label>setNextMonthBlankNewValueWhen11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Nov</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen12</name>
        <label>setNextMonthBlankNewValueWhen12</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Dec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen2</name>
        <label>setNextMonthBlankNewValueWhen2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Feb</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen3</name>
        <label>setNextMonthBlankNewValueWhen3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Mar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen4</name>
        <label>setNextMonthBlankNewValueWhen4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Apr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen5</name>
        <label>setNextMonthBlankNewValueWhen5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_May</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen6</name>
        <label>setNextMonthBlankNewValueWhen6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Jun</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen7</name>
        <label>setNextMonthBlankNewValueWhen7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Jul</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen8</name>
        <label>setNextMonthBlankNewValueWhen8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Aug</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNextMonthBlankNewValueWhen9</name>
        <label>setNextMonthBlankNewValueWhen9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>nextMonthBlankNewValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBlank_Sep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decideTargetMonth</name>
        <label>decideTargetMonth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>setNewValueToTargetSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>when7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen7</targetReference>
            </connector>
            <label>when7</label>
        </rules>
        <rules>
            <name>when8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen8</targetReference>
            </connector>
            <label>when8</label>
        </rules>
        <rules>
            <name>when9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen9</targetReference>
            </connector>
            <label>when9</label>
        </rules>
        <rules>
            <name>when10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen10</targetReference>
            </connector>
            <label>when10</label>
        </rules>
        <rules>
            <name>when11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen11</targetReference>
            </connector>
            <label>when11</label>
        </rules>
        <rules>
            <name>when12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen12</targetReference>
            </connector>
            <label>when12</label>
        </rules>
        <rules>
            <name>when1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen1</targetReference>
            </connector>
            <label>when1</label>
        </rules>
        <rules>
            <name>when2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen2</targetReference>
            </connector>
            <label>when2</label>
        </rules>
        <rules>
            <name>when3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen3</targetReference>
            </connector>
            <label>when3</label>
        </rules>
        <rules>
            <name>when4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen4</targetReference>
            </connector>
            <label>when4</label>
        </rules>
        <rules>
            <name>when5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen5</targetReference>
            </connector>
            <label>when5</label>
        </rules>
        <rules>
            <name>when6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNextMonthBlankNewValueWhen6</targetReference>
            </connector>
            <label>when6</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!startDate}, 12)</expression>
    </formulas>
    <formulas>
        <name>filledMonthCount</name>
        <dataType>Number</dataType>
        <expression>IF(NOT({!isBlank_Jan}), 1, 0) +
IF(NOT({!isBlank_Feb}), 1, 0) +
IF(NOT({!isBlank_Mar}), 1, 0) +
IF(NOT({!isBlank_Apr}), 1, 0) +
IF(NOT({!isBlank_May}), 1, 0) +
IF(NOT({!isBlank_Jun}), 1, 0) +
IF(NOT({!isBlank_Jul}), 1, 0) +
IF(NOT({!isBlank_Aug}), 1, 0) +
IF(NOT({!isBlank_Sep}), 1, 0) +
IF(NOT({!isBlank_Oct}), 1, 0) +
IF(NOT({!isBlank_Nov}), 1, 0) +
IF(NOT({!isBlank_Dec}), 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>isBlank_Apr</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_5_1__c}),
  ISBLANK({!targetContactSchedule.property_5_2__c}),
  ISBLANK({!targetContactSchedule.property_5_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Aug</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_8_1__c}),
  ISBLANK({!targetContactSchedule.property_8_2__c}),
  ISBLANK({!targetContactSchedule.property_8_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Dec</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_12_1__c}),
  ISBLANK({!targetContactSchedule.property_12_2__c}),
  ISBLANK({!targetContactSchedule.property_12_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Feb</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_2_1__c}),
  ISBLANK({!targetContactSchedule.property_2_2__c}),
  ISBLANK({!targetContactSchedule.property_2_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Jan</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_1_1__c}),
  ISBLANK({!targetContactSchedule.property_1_2__c}),
  ISBLANK({!targetContactSchedule.property_1_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Jul</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_7_1__c}),
  ISBLANK({!targetContactSchedule.property_7_2__c}),
  ISBLANK({!targetContactSchedule.property_7_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Jun</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_6_1__c}),
  ISBLANK({!targetContactSchedule.property_6_2__c}),
  ISBLANK({!targetContactSchedule.property_6_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Mar</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_3_1__c}),
  ISBLANK({!targetContactSchedule.property_3_2__c}),
  ISBLANK({!targetContactSchedule.property_3_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_May</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_5_1__c}),
  ISBLANK({!targetContactSchedule.property_5_2__c}),
  ISBLANK({!targetContactSchedule.property_5_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Nov</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_11_1__c}),
  ISBLANK({!targetContactSchedule.property_11_2__c}),
  ISBLANK({!targetContactSchedule.property_11_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Oct</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_10_1__c}),
  ISBLANK({!targetContactSchedule.property_10_2__c}),
  ISBLANK({!targetContactSchedule.property_10_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isBlank_Sep</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  ISBLANK({!targetContactSchedule.property_9_1__c}),
  ISBLANK({!targetContactSchedule.property_9_2__c}),
  ISBLANK({!targetContactSchedule.property_9_3__c})
)</expression>
    </formulas>
    <formulas>
        <name>isTargetSchedule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  $Flow.CurrentDate &gt;= {!startDate},
  $Flow.CurrentDate &lt;= {!endDate}
)</expression>
    </formulas>
    <formulas>
        <name>month</name>
        <dataType>Number</dataType>
        <expression>MONTH($Flow.CurrentDate)+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>{!targetContactSchedule.targetYear__c}</expression>
    </formulas>
    <interviewLabel>【得意先担当者スケジュール】紹介状況の記録 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【得意先担当者スケジュール】紹介状況の記録</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updTargetContactSchedule</name>
        <label>updTargetContactSchedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>targetContactSchedule</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decideTargetMonth</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>filledMonthCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nextMonthBlankNewValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>targetContactSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>contact_schedule__c</objectType>
    </variables>
</Flow>
