force-app/main/default/flows/flowAfterSTDeliveryRecordDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addTempInContractTotal</name>
        <label>addTempInContractTotal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempInContractTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSTDeliveryRecordCollection.ShippingAmountALL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSTDeliveryRecordCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTempOutContractTotal</name>
        <label>addTempOutContractTotal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempOutContractTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSTDeliveryRecordCollection.ShippingAmountALL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopSTDeliveryRecordCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>subtractValueFromTempInContractTotalOnDeletion</name>
        <label>subtractValueFromTempInContractTotalOnDeletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempInContractTotal</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.ShippingAmountALL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updSTConstructionSite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>subtractValueFromTempOutContractTotalOnDeletion</name>
        <label>subtractValueFromTempOutContractTotalOnDeletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempOutContractTotal</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.ShippingAmountALL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updSTConstructionSite</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>branchInOrOutContract</name>
        <label>branchInOrOutContract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>addTempInContractTotal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseOutContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopSTDeliveryRecordCollection.isOutOfContract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTempOutContractTotal</targetReference>
            </connector>
            <label>caseOutContract</label>
        </rules>
    </decisions>
    <decisions>
        <name>decideContractTotalCalcTarget</name>
        <label>decideContractTotalCalcTarget</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isContractTotalCalcAppliedOnDeletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isContractTotalCalcApplicableOnDeletion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSTDeliveryRecordCollection</targetReference>
            </connector>
            <label>isContractTotalCalcAppliedOnDeletion</label>
        </rules>
    </decisions>
    <decisions>
        <name>decideInOrOutContractTotalOnDeletion</name>
        <label>decideInOrOutContractTotalOnDeletion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>subtractValueFromTempInContractTotalOnDeletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseOutContract_deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isOutOfContract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subtractValueFromTempOutContractTotalOnDeletion</targetReference>
            </connector>
            <label>caseOutContract_deleted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isContractTotalCalcApplicableOnDeletion</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.BillingDate__c} == {!$Record.ST_field_name__r.targetBillingCloseDate__c}</expression>
    </formulas>
    <formulas>
        <name>newValDetailTotalInContractRounddown</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!tempInContractTotal})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>newValDetailTotalInContractRounded</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!tempInContractTotal}, 0)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>newValDetailTotalOutContractRounddown</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!tempOutContractTotal})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>newValDetailTotalOutContractRounded</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!tempOutContractTotal}, 0)</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>【納入実績】レコード削除時処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【納入実績】レコード削除時処理</label>
    <loops>
        <name>loopSTDeliveryRecordCollection</name>
        <label>loopSTDeliveryRecordCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getSTDeliveryRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>branchInOrOutContract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decideInOrOutContractTotalOnDeletion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSTDeliveryRecordCollection</name>
        <label>getSTDeliveryRecordCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopSTDeliveryRecordCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ST_field_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ST_field_name__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ST_field_name__r.targetBillingCloseDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ST_DeliveryRecord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updSTConstructionSite</name>
        <label>updSTConstructionSite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>detailTotalInContractRounddown__c</field>
            <value>
                <elementReference>newValDetailTotalInContractRounddown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>detailTotalInContractRounded__c</field>
            <value>
                <elementReference>newValDetailTotalInContractRounded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>detailTotalOutContractRounddown__c</field>
            <value>
                <elementReference>newValDetailTotalOutContractRounddown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>detailTotalOutContractRounded__c</field>
            <value>
                <elementReference>newValDetailTotalOutContractRounded</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ST_field_name__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decideContractTotalCalcTarget</targetReference>
        </connector>
        <object>ST_DeliveryRecord__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tempInContractTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tempOutContractTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
