force-app/main/default/flows/flowContactRecOptOut_buildapp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addRecValueForOptOutCalling_BuildApp</name>
        <label>addRecValueForOptOutCalling_BuildApp</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>newEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchOptOutDm_BuildApp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRecValueForOptOutDm_BuildApp</name>
        <label>addRecValueForOptOutDm_BuildApp</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>newEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchOptOutSales_BuildApp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRecValueForOptOutMail_BuildApp</name>
        <label>addRecValueForOptOutMail_BuildApp</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>newEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchOptOutCalling_BuildApp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRecValueForOptOutSales_BuildApp</name>
        <label>addRecValueForOptOutSales_BuildApp</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>newEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCounter</name>
        <label>setCounter</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>newEvents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecValueForOptOutCalling_BuildApp</name>
        <label>setRecValueForOptOutCalling_BuildApp</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>newEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifyEmailSubjectForOptOutCalling_BuildApp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifyEmailText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>targetRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRecValueForOptOutCalling_BuildApp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecValueForOptOutDm_BuildApp</name>
        <label>setRecValueForOptOutDm_BuildApp</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>newEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifyEmailSubjectForOptOutDm_BuildApp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifyEmailText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>targetRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRecValueForOptOutDm_BuildApp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecValueForOptOutMail_BuildApp</name>
        <label>setRecValueForOptOutMail_BuildApp</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifyEmailSubjectForOptOutMail_BuildApp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifyEmailText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>targetRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRecValueForOptOutMail_BuildApp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecValueForOptOutSales_BuildApp</name>
        <label>setRecValueForOptOutSales_BuildApp</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>newEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifyEmailSubjectForOptOutSales_BuildApp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifyEmailText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>targetRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRecValueForOptOutSales_BuildApp</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>targetNotifyMailAdress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>hiroki-matsui@nohara-inc.co.jp</stringValue>
        </value>
    </constants>
    <constants>
        <name>targetRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012RC000000k0JZ</stringValue>
        </value>
    </constants>
    <decisions>
        <name>branchCounter</name>
        <label>分岐：Counter</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseExistValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createEvent</targetReference>
            </connector>
            <label>行動の新規作成</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchOptOutCalling_BuildApp</name>
        <label>分岐：BuildApp架電拒否</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>branchOptOutDm_BuildApp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueOptOutCalling_BuildApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.optOutCalling_BuildApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.optOutCalling_BuildApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecValueForOptOutCalling_BuildApp</targetReference>
            </connector>
            <label>BuildApp架電拒否</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchOptOutDm_BuildApp</name>
        <label>分岐：BuildAppDM拒否</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>branchOptOutSales_BuildApp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueOptOutDm_BuildApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.optOutDm_BuildApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.optOutDm_BuildApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecValueForOptOutDm_BuildApp</targetReference>
            </connector>
            <label>BuildAppDM拒否</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchOptOutMail_BuildApp</name>
        <label>分岐：BuildAppメール拒否</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>branchOptOutCalling_BuildApp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueOptOutMail_BuildApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.optOutMail_BuildApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.optOutMail_BuildApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecValueForOptOutMail_BuildApp</targetReference>
            </connector>
            <label>BuildAppメール拒否</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchOptOutSales_BuildApp</name>
        <label>分岐：BuildApp営業拒否</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>setCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueOptOutSales_BuildApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.optOutSales_BuildApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.optOutSales_BuildApp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecValueForOptOutSales_BuildApp</targetReference>
            </connector>
            <label>BuildAppSales拒否</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isRelBuildApp</name>
        <dataType>Boolean</dataType>
        <expression>OR(NOT( ISBLANK(TEXT({!$Record.DX_Occupation__c})) ), NOT( ISBLANK(TEXT({!$Record.BuildAppKeyman__c})) ))</expression>
    </formulas>
    <interviewLabel>【取引先責任者】オプトアウト履歴記録・自動通知フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【取引先責任者】オプトアウト履歴記録・自動通知フロー_buildapp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createEvent</name>
        <label>行動の新規作成</label>
        <locationX>50</locationX>
        <locationY>2171</locationY>
        <inputReference>newEvents</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>branchOptOutMail_BuildApp</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>optOutMail_BuildApp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>optOutCalling_BuildApp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>optOutDm_BuildApp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>optOutSales_BuildApp__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>日付_事業名_チャネル_INorOUT</description>
        <name>notifyEmailSubjectForHasOptedOutOfEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>オプトアウト_メール全体
{!$Flow.CurrentDate}_全体_メール_OUT</text>
    </textTemplates>
    <textTemplates>
        <description>日付_事業名_チャネル_INorOUT</description>
        <name>notifyEmailSubjectForOptOutCalling_BuildApp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_BuildApp_架電_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutCalling_BuildAppNews</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_BuildAppNews_架電_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutCalling_ce</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_セメント_架電_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutCalling_en</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_エンジ_架電_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutCalling_st</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_スチール_架電_OUT</text>
    </textTemplates>
    <textTemplates>
        <description>日付_事業名_チャネル_INorOUT</description>
        <name>notifyEmailSubjectForOptOutDm_BuildApp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_BuildApp_DM_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutDm_BuildAppNews</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_BuildAppNews_DM_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutDm_ce</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_セメント_DM_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutDm_en</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_エンジ_DM_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutDm_st</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_スチール_DM_OUT</text>
    </textTemplates>
    <textTemplates>
        <description>日付_事業名_チャネル_INorOUT</description>
        <name>notifyEmailSubjectForOptOutMail_BuildApp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_BuildApp_メール_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutMail_BuildAppNews</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_BuildAppNews_メール_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutMail_ce</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_セメント_メール_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutMail_en</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_エンジ_メール_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutMail_st</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_スチール_メール_OUT</text>
    </textTemplates>
    <textTemplates>
        <description>日付_事業名_チャネル_INorOUT</description>
        <name>notifyEmailSubjectForOptOutSales_BuildApp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_BuildApp_営業_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutSales_BuildAppNews</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_BuildAppNews_営業_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutSales_ce</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_セメント_営業_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutSales_en</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_エンジ_営業_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailSubjectForOptOutSales_st</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Flow.CurrentDate}_スチール_営業_OUT</text>
    </textTemplates>
    <textTemplates>
        <name>notifyEmailText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text># 該当者の情報
- 会社名：{!$Record. Name}
- 姓名：{!$Record.LastName} {!$Record.FirstName}
- メールアドレス：{!$Record.Email}
- 電話番号：{!$Record.Phone}
- 携帯：{!$Record.MobilePhone}
- GUID：{!$Record.Id}
※該当者はLeadオブジェクト</text>
    </textTemplates>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>newEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
