force-app/main/default/flows/flowUpdCounterKpiManagementMatterPort_order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignRecordKpiManagementMatterPort_order</name>
        <label>割当：「MatterPort進捗管理」レコード_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>getUpdTargetKpiRecord_order.estimate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>counterEstimatesFromWeb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUpdTargetKpiRecord_order.order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>counterOrders</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUpdTargetKpiRecord_order.order_from_nonweb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>counterOrdersNonWeb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUpdTargetKpiRecord_order.order_from_web__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>counterOrdersFromWeb</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getUpdTargetKpiRecord_order.opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>counterOppsFromWeb</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchIsExistRecordKpiManagementMatterPort_order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignValues_order</name>
        <label>割当：更新用各種カウンター_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>counterOppsFromWeb</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getTargetMonthOpps_filtterOppFromWeb_order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterEstimatesFromWeb</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getTargetMonthOpps_filtterEstimateOppFromWeb_order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterOrders</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getTargetMonthOpps_filtterOrderOpp_order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterOrdersFromWeb</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getTargetMonthOpps_filtterOrderOppFromWeb_order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignRecordKpiManagementMatterPort_order</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>getTargetMonthOpps_filtterEstimateOppFromWeb_order</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>見積り数（WEB経由）を抽出_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignNextValueToReference>currentItem_getTargetMonthOpps_filtterOppFromWeb_order</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getTargetMonthOppsBySL_mitsumorisyohattyusyoday_order</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_getTargetMonthOpps_filtterOppFromWeb_order.isViaWebChannel__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>getTargetMonthOpps_filtterOrderOpp_order</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>getTargetMonthOpps_filtterOppFromWeb_order</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>商談（WEB経由）を抽出_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNextValueToReference>currentItem_getTargetMonthOpps_filtterOppFromWeb_order</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getTargetMonthOppsByCreatedDate_order</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_getTargetMonthOpps_filtterOppFromWeb_order.isViaWebChannel__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>getTargetMonthOpps_filtterEstimateOppFromWeb_order</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>getTargetMonthOpps_filtterOrderOpp_order</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>受注数（ALL）を抽出_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNextValueToReference>currentItem_getTargetMonthOpps_filtterOppFromWeb_order</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getTargetMonthOppsBySL_hattyusyozxyuryouday_order</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_getTargetMonthOpps_filtterOppFromWeb_order.StageName</leftValueReference>
            <operator>WasSet</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>getTargetMonthOpps_filtterOrderOppFromWeb_order</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>getTargetMonthOpps_filtterOrderOppFromWeb_order</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>受注数（WEB経由）を抽出_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <assignNextValueToReference>currentItem_getTargetMonthOpps_filtterOppFromWeb_order</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getTargetMonthOppsBySL_hattyusyozxyuryouday_order</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_getTargetMonthOpps_filtterOppFromWeb_order.isViaWebChannel__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assignValues_order</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>RecordTypeId_SolutionSales</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012RC0000003dfxYAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>branchIsExistRecordKpiManagementMatterPort_order</name>
        <label>分岐：対象「MatterPort進捗管理」レコードの存在有無_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueIsExistRecordKpiManagementMatterPort_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUpdTargetKpiRecord_order.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updRecordKpiManagementMatterPort_order</targetReference>
            </connector>
            <label>6/「MatterPort進捗管理」レコードが存在_発注書受領日</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchRecordType</name>
        <label>レコードタイプによる分岐</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueIsRecordType_012RC0000003dfxYAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecordType_012RC0000003dfxYAA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUpdTargetKpiRecord_order</targetReference>
            </connector>
            <label>レコードタイプ「ソリューション営業部」</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>counterOrdersNonWeb</name>
        <dataType>Number</dataType>
        <expression>{!counterOrders} - {!counterOrdersFromWeb}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>isRecordType_012RC0000003dfxYAA</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.RecordTypeId} == {!RecordTypeId_SolutionSales}</expression>
    </formulas>
    <formulas>
        <name>targetMonthStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR( DATEVALUE({!$Record.CreatedDate}) ),
    MONTH( DATEVALUE({!$Record.CreatedDate}) ),
    1
)</expression>
    </formulas>
    <formulas>
        <name>targetMonthStartDate_SL_hattyusyozxyuryouday</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR( {!$Record.SL_hattyusyozxyuryouday__c} ),
    MONTH( {!$Record.SL_hattyusyozxyuryouday__c} ),
    1
)</expression>
    </formulas>
    <formulas>
        <name>targetMonthStartDate_SL_mitsumorisyohattyusyoday</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR( {!$Record.SL_mitsumorisyohattyusyoday__c} ),
    MONTH( {!$Record.SL_mitsumorisyohattyusyoday__c} ),
    1
)</expression>
    </formulas>
    <formulas>
        <name>targetNextMonthStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR( DATEVALUE({!$Record.CreatedDate}) ),
    MONTH( DATEVALUE({!$Record.CreatedDate}) ) + 1,
    1
)</expression>
    </formulas>
    <formulas>
        <name>targetNextMonthStartDate_SL_hattyusyozxyuryouday</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR( {!$Record.SL_hattyusyozxyuryouday__c} ),
    MONTH( {!$Record.SL_hattyusyozxyuryouday__c} ) + 1,
    1
)</expression>
    </formulas>
    <formulas>
        <name>targetNextMonthStartDate_SL_mitsumorisyohattyusyoday</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR( {!$Record.SL_mitsumorisyohattyusyoday__c} ),
    MONTH( {!$Record.SL_mitsumorisyohattyusyoday__c} ) + 1,
    1
)</expression>
    </formulas>
    <interviewLabel>【商談】MatterPort進捗管理用数値更新（発注受領） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】MatterPort進捗管理用数値更新（発注受領）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getTargetMonthOppsByCreatedDate_order</name>
        <label>作成日：対象期間の「ソリューション営業部」商談を取得_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTargetMonthOppsBySL_mitsumorisyohattyusyoday_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_SolutionSales</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>targetMonthStartDate_SL_hattyusyozxyuryouday</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>targetNextMonthStartDate_SL_hattyusyozxyuryouday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetMonthOppsBySL_hattyusyozxyuryouday_order</name>
        <label>発注書受領日：対象期間の「ソリューション営業部」商談を取得_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTargetMonthOpps_filtterOppFromWeb_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_SolutionSales</elementReference>
            </value>
        </filters>
        <filters>
            <field>SL_hattyusyozxyuryouday__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>targetMonthStartDate_SL_hattyusyozxyuryouday</elementReference>
            </value>
        </filters>
        <filters>
            <field>SL_hattyusyozxyuryouday__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>targetNextMonthStartDate_SL_hattyusyozxyuryouday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetMonthOppsBySL_mitsumorisyohattyusyoday_order</name>
        <label>見積書・発注書提出日：対象期間の「ソリューション営業部」商談を取得_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTargetMonthOppsBySL_hattyusyozxyuryouday_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId_SolutionSales</elementReference>
            </value>
        </filters>
        <filters>
            <field>SL_mitsumorisyohattyusyoday__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>targetMonthStartDate_SL_hattyusyozxyuryouday</elementReference>
            </value>
        </filters>
        <filters>
            <field>SL_mitsumorisyohattyusyoday__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>targetNextMonthStartDate_SL_hattyusyozxyuryouday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUpdTargetKpiRecord_order</name>
        <label>更新対象の「MatterPort進捗管理」レコードを取得_発注書受領日</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTargetMonthOppsByCreatedDate_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>target_month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetMonthStartDate_SL_hattyusyozxyuryouday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>kpi_management_MatterPort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updRecordKpiManagementMatterPort_order</name>
        <label>更新：「MatterPort進捗管理」レコード_発注書受領日</label>
        <locationX>50</locationX>
        <locationY>1619</locationY>
        <inputReference>getUpdTargetKpiRecord_order</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>branchRecordType</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED({!$Record.StageName}) || NOT(ISCHANGED({!$Record.StageName}))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>counterEstimatesFromWeb</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterOppsFromWeb</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterOrdersFromWeb</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_getTargetMonthOpps_filtterOppFromWeb_order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
