force-app/main/default/flows/flowPartnerEvaluationOnCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setTargetCustomNotify</name>
        <label>setTargetCustomNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>targetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opp__r.ST_ConstructionSupervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getNotifyTarget1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getNotifyTarget2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setTargetMailNotify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTargetMailNotify</name>
        <label>setTargetMailNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opp__r.ST_ConstructionSupervisor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>hasumi-kawabata@nohara-inc.co.jp</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>naohiro-iida@nohara-inc.co.jp</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getNotifyTarget1.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getNotifyTarget2.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invokeSubFlowSteelNotifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_setTargetCustomNotify</name>
        <label>1/setTargetCustomNotify をコピー</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>targetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opp__r.ST_ConstructionSupervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X1_setTargetMailNotify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_setTargetMailNotify</name>
        <label>1/setTargetMailNotify をコピー</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opp__r.ST_ConstructionSupervisor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>hiroki-matsui+1@nohara-inc.co.jp</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>hiroki-matsui+2@nohara-inc.co.jp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invokeSubFlowSteelNotifications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decideIsTest</name>
        <label>decideIsTest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>setTargetCustomNotify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>whenIsTest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_setTargetCustomNotify</targetReference>
            </connector>
            <label>whenIsTest</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isTest</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>【】 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【協力業者評価】新規作成時の処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNotifyTarget1</name>
        <label>getNotifyTarget1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNotifyTarget2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005RC000002145FYAQ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNotifyTarget2</name>
        <label>getNotifyTarget2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decideIsTest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005RC00000GTNjCYAX</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getNotifyTarget1</targetReference>
        </connector>
        <object>PartnerEvaluation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>invokeSubFlowSteelNotifications</name>
        <label>call:【sub】スチール向け各種通知処理</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>subFlowSteelNotifications</flowName>
        <inputAssignments>
            <name>inputNotifyTargetPartnerEvaluation</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notifyType</name>
            <value>
                <stringValue>A_協力業者評価レコード作成通知</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetCustomNotify</name>
            <value>
                <elementReference>targetCustomNotify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetMailNotify</name>
            <value>
                <elementReference>targetMailNotify</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>targetCustomNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetMailNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
