force-app/main/default/flows/flowCreateEventForAeActivity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setValCounterVisitorActivity</name>
        <label>setValCounterVisitorActivity</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>counterGetVisitorActivity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getVisitorActivity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkCounterVisitorActivity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCounterVisitorActivity</name>
        <label>checkCounterVisitorActivity</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>counterVisitorActivity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counterGetVisitorActivity</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createEventForAeActivity</targetReference>
            </connector>
            <label>counterVisitorActivity_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsContactProspect</name>
        <label>checkIsContactProspect</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsContactProspect_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isContactProspect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getVisitorActivity</targetReference>
            </connector>
            <label>IsContactProspect_true</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsMailActivity</name>
        <label>checkIsMailActivity</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isMailActivity_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMailActivity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkIsContactProspect</targetReference>
            </connector>
            <label>isMailActivity_true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dx_katsudou_mokutekiTxt</name>
        <dataType>String</dataType>
        <expression>&quot;マーケメール配信&quot;</expression>
    </formulas>
    <formulas>
        <name>eventOwnerUserId</name>
        <dataType>String</dataType>
        <expression>&quot;005BV000000J75pYAC&quot;</expression>
    </formulas>
    <formulas>
        <name>isContactProspect</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.pd_jp_20151124__AC_Prospect__r.pd_jp_20151124__Contact__r.Id}))</expression>
    </formulas>
    <formulas>
        <name>isMailActivity</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.pd_jp_20151124__activity_name__c} == &quot;メール送信&quot;</expression>
    </formulas>
    <formulas>
        <name>mailUrl</name>
        <dataType>String</dataType>
        <expression>&quot;https://pi.pardot.com/email/read/id/&quot;&amp;{!$Record.pd_jp_20151124__email_id__c}</expression>
    </formulas>
    <formulas>
        <name>subjectTxt</name>
        <dataType>String</dataType>
        <expression>{!$Record.pd_jp_20151124__Email_Title__c}</expression>
    </formulas>
    <formulas>
        <name>whatIdTxt</name>
        <dataType>String</dataType>
        <expression>{!$Record.pd_jp_20151124__AC_Prospect__r.pd_jp_20151124__Account__r.Id}</expression>
    </formulas>
    <formulas>
        <name>whoIdTxt</name>
        <dataType>String</dataType>
        <expression>{!$Record.pd_jp_20151124__AC_Prospect__r.pd_jp_20151124__Contact__r.ID_18_2__c}</expression>
    </formulas>
    <interviewLabel>【】 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【VisitorActivity】AEメール関連行動の作成</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createEventForAeActivity</name>
        <label>createEventForAeActivity</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionTxt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>$Record.pd_jp_20151124__Email_Sent_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>eventOwnerUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012BV0000004HuFYAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.pd_jp_20151124__Email_Sent_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectTxt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>whatIdTxt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>whoIdTxt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dx_katsudou_mokuteki__c</field>
            <value>
                <elementReference>dx_katsudou_mokutekiTxt</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>取引先と取引先責任者のリレーション</description>
        <name>getVisitorActivity</name>
        <label>getVisitorActivity</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setValCounterVisitorActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pd_jp_20151124__Email_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pd_jp_20151124__Email_Title__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pd_jp_20151124__activity_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pd_jp_20151124__activity_name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>relatedAccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>whatIdTxt</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>2.0</numberValue>
        </limit>
        <object>pd_jp_20151124__ABM_VisitorActivity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIsMailActivity</targetReference>
        </connector>
        <object>pd_jp_20151124__ABM_VisitorActivity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>descriptionTxt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>メール件名：{!$Record.pd_jp_20151124__Email_Title__c}
メール本文：{!mailUrl}</text>
    </textTemplates>
    <variables>
        <name>counterGetVisitorActivity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
