force-app/main/default/flows/flowSteelMarketWhenCreateOrUpd.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>branchIsBeforeThanExistingRecord</name>
        <label>分岐：既存レコードとトリガーレコードの比較</label>
        <locationX>748</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>loopToEvaluateSteelMarketRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueIsBeforeThanExistingRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBeforeThanExistingRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updIsMonthlyRepresentativeValue_case2</targetReference>
            </connector>
            <label>トリガーレコードの方が古い</label>
        </rules>
        <rules>
            <name>caseFalseIsBeforeThanExistingRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBeforeThanExistingRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopToEvaluateSteelMarketRecords</targetReference>
            </connector>
            <label>既存のレコードの方が古い</label>
        </rules>
    </decisions>
    <decisions>
        <name>branchIsExistingRecordToEvaluate</name>
        <label>分岐：既存レコードの存在有無</label>
        <locationX>506</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>branchIsBeforeThanExistingRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseNotExistingRecordToEvaluate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isExistingRecordToEvaluate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getSteelMarketRecordsToEvaluate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updIsMonthlyRepresentativeValue_case1</targetReference>
            </connector>
            <label>既存レコードが存在しないケース</label>
        </rules>
    </decisions>
    <description>- 「月次代表値flg」の更新処理</description>
    <environments>Default</environments>
    <formulas>
        <name>isBeforeThanExistingRecord</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Date__c} &lt; {!loopToEvaluateSteelMarketRecords.Date__c}</expression>
    </formulas>
    <formulas>
        <name>isExistingRecordToEvaluate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!loopToEvaluateSteelMarketRecords.Date__c}))</expression>
    </formulas>
    <formulas>
        <name>targetEndDateToEvaluate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!$Record.Date__c})+IF(MONTH({!$Record.Date__c})==12,1,0),
    IF(MONTH({!$Record.Date__c})==12,1,MONTH({!$Record.Date__c})+1),
    1
)-1</expression>
    </formulas>
    <formulas>
        <name>targetStartDateToEvaluate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!$Record.Date__c}),
    MONTH({!$Record.Date__c}),
    1
)</expression>
    </formulas>
    <interviewLabel>【市況報告】新規作成・更新時の処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【市況報告】新規作成・更新時の処理</label>
    <loops>
        <name>loopToEvaluateSteelMarketRecords</name>
        <label>繰り返し：比較対象を全て評価</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>getSteelMarketRecordsToEvaluate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>branchIsExistingRecordToEvaluate</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSteelMarketRecordsToEvaluate</name>
        <label>比較対象の「市況報告」レコードを取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopToEvaluateSteelMarketRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>targetStartDateToEvaluate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>targetEndDateToEvaluate</elementReference>
            </value>
        </filters>
        <filters>
            <field>isMonthlyRepresentativeValue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SteelMarket__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updExistinRecordToEvaluate</name>
        <label>比較した既存レコードの「月次代表値flg」をfalseに変更</label>
        <locationX>528</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>loopToEvaluateSteelMarketRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopToEvaluateSteelMarketRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isMonthlyRepresentativeValue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SteelMarket__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updIsMonthlyRepresentativeValue_case1</name>
        <label>トリガーした「月次代表値flg」をTRUEに変更</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>loopToEvaluateSteelMarketRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>isMonthlyRepresentativeValue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updIsMonthlyRepresentativeValue_case2</name>
        <label>トリガーした「月次代表値flg」をTRUEに変更</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>updExistinRecordToEvaluate</targetReference>
        </connector>
        <inputAssignments>
            <field>isMonthlyRepresentativeValue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSteelMarketRecordsToEvaluate</targetReference>
        </connector>
        <object>SteelMarket__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
