force-app/main/default/flows/flowOppProcessOnCompletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>customNotifyToST_ConstructionSupervisor</name>
        <label>カスタム通知：「工事担当者」通知</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>mailNotify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>customNotifyTypeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>colRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>customNotifySubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>customNotifyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>mailNotify</name>
        <label>メール通知：「工事担当者」通知</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>setNewValueToTriggerOppForNotifyDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>colRecipientMails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderMail</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>mailNotifySubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>{!mailNotifyText}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setColRecipientIds</name>
        <label>setColRecipientIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_ConstructionSupervisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_ConstructionSupervisor__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setColRecipientMails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setColRecipientMails</name>
        <label>setColRecipientMails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colRecipientMails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_ConstructionSupervisor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRecipientMails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_ConstructionSupervisor__r.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decideIsExistToritsukehanN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setIsAssignToritsukehanN</name>
        <label>setIsAssignToritsukehanN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isAssignToritsukehanN</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCreatedPartnerEvaluationRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewValueForPartnerEvaluation1</name>
        <label>setNewValueForPartnerEvaluation1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newValueForPartnerEvaluation1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCreatedPartnerEvaluationRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setIsAssignToritsukehanN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewValueForPartnerEvaluation2</name>
        <label>setNewValueForPartnerEvaluation2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newValueForPartnerEvaluation2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCreatedPartnerEvaluationRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>setIsAssignToritsukehanN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewValueForPartnerEvaluation3</name>
        <label>setNewValueForPartnerEvaluation3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newValueForPartnerEvaluation3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCreatedPartnerEvaluationRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>setIsAssignToritsukehanN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewValueToTriggerOppForConstructionReview</name>
        <label>setNewValueToTriggerOppForConstructionReview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ConstructionReviewMeeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createNewConstructionReviewMeeting.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decideIsExistST_ConstructionSupervisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewValueToTriggerOppForNotifyDate</name>
        <label>setNewValueToTriggerOppForNotifyDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ST_InitialNotifyDate_KankouCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updTriggerOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decideIsAssignToritsukehanN</name>
        <label>decideIsAssignToritsukehanN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>decideIsExistST_ConstructionSupervisor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>whenIsAssignToritsukehanN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAssignToritsukehanN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewConstructionReviewMeeting</targetReference>
            </connector>
            <label>whenIsAssignToritsukehanN</label>
        </rules>
    </decisions>
    <decisions>
        <name>decideIsExistST_ConstructionSupervisor</name>
        <label>decideIsExistST_ConstructionSupervisor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>updTriggerOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>whenIsExistST_ConstructionSupervisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExistST_ConstructionSupervisor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>customNotifyToST_ConstructionSupervisor</targetReference>
            </connector>
            <label>whenIsExistST_ConstructionSupervisor</label>
        </rules>
    </decisions>
    <decisions>
        <name>decideIsExistToritsukehanN</name>
        <label>decideIsExistToritsukehanN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loopCreatedPartnerEvaluationRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>torit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExistToritsukehanN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inv_OppCreatePartner</targetReference>
            </connector>
            <label>torit</label>
        </rules>
    </decisions>
    <decisions>
        <name>decideToritsukehan</name>
        <label>decideToritsukehan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loopCreatedPartnerEvaluationRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>whenToritsukehan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCreatedPartnerEvaluationRecords.Partner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ST_toritsukehan__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNewValueForPartnerEvaluation1</targetReference>
            </connector>
            <label>whenToritsukehan1</label>
        </rules>
        <rules>
            <name>whenToritsukehan2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCreatedPartnerEvaluationRecords.Partner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ST_toritsukehan2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNewValueForPartnerEvaluation2</targetReference>
            </connector>
            <label>whenToritsukehan2</label>
        </rules>
        <rules>
            <name>whenToritsukehan3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCreatedPartnerEvaluationRecords.Partner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ST_toritsukehan3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNewValueForPartnerEvaluation3</targetReference>
            </connector>
            <label>whenToritsukehan3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>customNotifyTypeId</name>
        <dataType>String</dataType>
        <expression>&quot;0MLRC0000032eXV4AY&quot;</expression>
    </formulas>
    <formulas>
        <name>isExistST_ConstructionSupervisor</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.ST_ConstructionSupervisor__c}))</expression>
    </formulas>
    <formulas>
        <name>isExistToritsukehanN</name>
        <dataType>Boolean</dataType>
        <expression>OR(
NOT(ISBLANK({!$Record.ST_toritsukehan__c})), 
NOT(ISBLANK({!$Record.ST_toritsukehan2__c})), 
NOT(ISBLANK({!$Record.ST_toritsukehan3__c}))
)</expression>
    </formulas>
    <formulas>
        <name>senderMail</name>
        <dataType>String</dataType>
        <expression>&quot;hiroki-matsui@nohara-inc.co.jp&quot;</expression>
    </formulas>
    <interviewLabel>【商談】スチール：「完成」フェーズ移行時処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】スチール：「完成」フェーズ移行時処理</label>
    <loops>
        <name>loopCreatedPartnerEvaluationRecords</name>
        <label>loopCreatedPartnerEvaluationRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>createdPartnerEvaluationRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decideToritsukehan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decideIsAssignToritsukehanN</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewConstructionReviewMeeting</name>
        <label>createNewConstructionReviewMeeting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setNewValueToTriggerOppForConstructionReview</targetReference>
        </connector>
        <inputAssignments>
            <field>Opp__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerEvaluation1__c</field>
            <value>
                <elementReference>newValueForPartnerEvaluation1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerEvaluation2__c</field>
            <value>
                <elementReference>newValueForPartnerEvaluation2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartnerEvaluation3__c</field>
            <value>
                <elementReference>newValueForPartnerEvaluation3</elementReference>
            </value>
        </inputAssignments>
        <object>ConstructionReviewMeeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>updTriggerOpp</name>
        <label>updTriggerOpp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setColRecipientIds</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
{!$Record.RecordTypeId} == &quot;012RC000000GnUbYAK&quot;,
TEXT({!$Record.StageName}) == &quot;完成&quot;,
{!$Record.Id} == &quot;006RC00001MQUjdYAH&quot;,
ISBLANK({!$Record.ConstructionReviewMeeting__c})
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>inv_OppCreatePartner</name>
        <label>call:【sub】スチール：協力業者レコード作成処理</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopCreatedPartnerEvaluationRecords</targetReference>
        </connector>
        <flowName>subFlowOppCreatePartner</flowName>
        <inputAssignments>
            <name>targetOpp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>createdPartnerEvaluationRecords</assignToReference>
            <name>createdPartnerEvaluationRecords</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>customNotifySubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>【{!$Record.Account.Name}】の【{!$Record.Name}】でフェーズが完成になりました。</text>
    </textTemplates>
    <textTemplates>
        <name>customNotifyText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>内容を確認いただき、完工チェックを行っていただけますようおねがいいたします。</text>
    </textTemplates>
    <textTemplates>
        <name>mailNotifySubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>現場完成のお知らせ</text>
    </textTemplates>
    <textTemplates>
        <name>mailNotifyText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>お疲れ様です。

【{!$Record.Account.Name}】の【{!$Record.Name}】でフェーズが完成になりました。
下記リンクから内容を確認いただき、完工チェックを行っていただけますようおねがいいたします。

【商談URL】
https://forcecom175.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</text>
    </textTemplates>
    <variables>
        <name>colRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colRecipientMails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdPartnerEvaluationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartnerEvaluation__c</objectType>
    </variables>
    <variables>
        <name>isAssignToritsukehanN</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newValueForPartnerEvaluation1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newValueForPartnerEvaluation2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newValueForPartnerEvaluation3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
