force-app/main/default/flows/flowUpdAccount6CatProposeStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setCounterTargetXxxCollection</name>
        <label>setCounterTargetXxxCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>counterTargetStructuralCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetStructuralCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetReadyMixedConcreteCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetReadyMixedConcreteCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetRebarCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetRebarCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetInsulationCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetInsulationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetGypsumBoardCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetGypsumBoardCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetLightGaugeSteelCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetLightGaugeSteelCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetOtherCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetOtherCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetGypsumBoardCollection_caseX</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetGypsumBoardCollection_caseX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetGypsumBoardCollection_caseO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetGypsumBoardCollection_caseO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetInsulationCollection_caseX</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetInsulationCollection_caseX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetInsulationCollection_caseO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetInsulationCollection_caseO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetLightGaugeSteelCollection_caseX</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetLightGaugeSteelCollection_caseX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetLightGaugeSteelCollection_caseO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetLightGaugeSteelCollection_caseO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetOtherCollection_caseX</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetOtherCollection_caseX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetOtherCollection_caseO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetOtherCollection_caseO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetReadyMixedConcreteCollection_caseX</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetReadyMixedConcreteCollection_caseX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetReadyMixedConcreteCollection_caseO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetReadyMixedConcreteCollection_caseO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetRebarCollection_caseX</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetRebarCollection_caseX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetRebarCollection_caseO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetRebarCollection_caseO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetStructuralCollection_caseX</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetStructuralCollection_caseX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetStructuralCollection_caseO</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetStructuralCollection_caseO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetGypsumBoardCollection_caseNull</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetGypsumBoardCollection_caseNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetInsulationCollection_caseNull</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetInsulationCollection_caseNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetLightGaugeSteelCollection_caseNull</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetLightGaugeSteelCollection_caseNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetOtherCollection_caseNull</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetOtherCollection_caseNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetReadyMixedConcreteCollection_caseNull</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetReadyMixedConcreteCollection_caseNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetRebarCollection_caseNull</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetRebarCollection_caseNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetStructuralCollection_caseNull</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetStructuralCollection_caseNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetOtherCollection_caseSaiyou</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetOtherCollection_caseSaiyou</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetGypsumBoardCollection_caseSaiyou</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetGypsumBoardCollection_caseSaiyou</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetReadyMixedConcreteCollection_caseSaiyou</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>X1_targetReadyMixedConcreteCollection_caseSaiyou</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetInsulationCollection_caseSaiyou</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetInsulationCollection_caseSaiyou</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetLightGaugeSteelCollection_caseSaiyou</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetLightGaugeSteelCollection_caseSaiyou</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetRebarCollection_caseSaiyou</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetRebarCollection_caseSaiyou</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counterTargetStructuralCollection_caseSaiyou</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>targetStructuralCollection_caseSaiyou</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updTargetAccount</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>targetGypsumBoardCollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetGypsumBoardCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetGypsumBoardCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getJU_ProposedProduct</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetGypsumBoardCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>石膏ボード</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetGypsumBoardCollection_caseO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetGypsumBoardCollection_caseNull</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetGypsumBoardCollection_caseNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetGypsumBoardCollection</collectionReference>
        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>未着手</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetGypsumBoardCollection_caseX</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetGypsumBoardCollection_caseO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetGypsumBoardCollection_caseO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetGypsumBoardCollection</collectionReference>
        <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>停滞保留中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>訪問1回目</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>初回見積提出</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>購買決定者検討中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>トライアル</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用一歩手前</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetGypsumBoardCollection_caseSaiyou</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetGypsumBoardCollection_caseSaiyou</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetGypsumBoardCollection_caseSaiyou</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetGypsumBoardCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用（受注）</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetGypsumBoardCollection_caseNull</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetGypsumBoardCollection_caseX</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetGypsumBoardCollection_caseX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetGypsumBoardCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>不採用</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetLightGaugeSteelCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetInsulationCollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetInsulationCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetInsulationCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getJU_ProposedProduct</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetInsulationCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>床断熱材</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetInsulationCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>壁天断熱材</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetInsulationCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>床壁天断熱材</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetInsulationCollection_caseO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetInsulationCollection_caseNull</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetInsulationCollection_caseNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetInsulationCollection</collectionReference>
        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>未着手</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetInsulationCollection_caseX</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetInsulationCollection_caseO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetInsulationCollection_caseO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetInsulationCollection</collectionReference>
        <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>停滞保留中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>訪問1回目</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>初回見積提出</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>購買決定者検討中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>トライアル</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用一歩手前</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetInsulationCollection_caseSaiyou</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetInsulationCollection_caseSaiyou</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetInsulationCollection_caseSaiyou</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetInsulationCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用（受注）</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetInsulationCollection_caseNull</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetInsulationCollection_caseX</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetInsulationCollection_caseX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetInsulationCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>不採用</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetGypsumBoardCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetLightGaugeSteelCollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetLightGaugeSteelCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetLightGaugeSteelCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getJU_ProposedProduct</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetLightGaugeSteelCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>軽天材</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetLightGaugeSteelCollection_caseO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetLightGaugeSteelCollection_caseNull</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetLightGaugeSteelCollection_caseNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetLightGaugeSteelCollection</collectionReference>
        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>未着手</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetLightGaugeSteelCollection_caseX</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetLightGaugeSteelCollection_caseO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetLightGaugeSteelCollection_caseO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetLightGaugeSteelCollection</collectionReference>
        <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>停滞保留中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>訪問1回目</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>初回見積提出</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>購買決定者検討中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>トライアル</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用一歩手前</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetLightGaugeSteelCollection_caseSaiyou</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetLightGaugeSteelCollection_caseSaiyou</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetLightGaugeSteelCollection_caseSaiyou</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetLightGaugeSteelCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用（受注）</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetLightGaugeSteelCollection_caseNull</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetLightGaugeSteelCollection_caseX</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetLightGaugeSteelCollection_caseX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetLightGaugeSteelCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>不採用</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetOtherCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetOtherCollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetOtherCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetOtherCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getJU_ProposedProduct</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>構造プレカット</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>構造パネル</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>羽柄材</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>構造その他</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>生コン</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>鉄筋</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>床断熱材</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>壁天断熱材</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>床壁天断熱材</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>石膏ボード</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetOtherCollection.Category__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>軽天材</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetOtherCollection_caseO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetOtherCollection_caseNull</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetOtherCollection_caseNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetOtherCollection</collectionReference>
        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>未着手</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetOtherCollection_caseX</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetOtherCollection_caseO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetOtherCollection_caseO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetOtherCollection</collectionReference>
        <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>停滞保留中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>訪問1回目</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>初回見積提出</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>購買決定者検討中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>トライアル</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用一歩手前</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <numberValue>365.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetOtherCollection_caseSaiyou</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetOtherCollection_caseSaiyou</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetOtherCollection_caseSaiyou</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetOtherCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用（受注）</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetOtherCollection_caseNull</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetOtherCollection_caseX</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetOtherCollection_caseX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetOtherCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>不採用</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>setCounterTargetXxxCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetReadyMixedConcreteCollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetReadyMixedConcreteCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getJU_ProposedProduct</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>生コン</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetReadyMixedConcreteCollection_caseO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetReadyMixedConcreteCollection_caseNull</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetReadyMixedConcreteCollection_caseNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetReadyMixedConcreteCollection</collectionReference>
        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>未着手</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetReadyMixedConcreteCollection_caseX</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetReadyMixedConcreteCollection_caseO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetReadyMixedConcreteCollection_caseO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetReadyMixedConcreteCollection</collectionReference>
        <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>停滞保留中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>訪問1回目</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>初回見積提出</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>購買決定者検討中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>トライアル</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用一歩手前</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>X1_targetReadyMixedConcreteCollection_caseSaiyou</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetReadyMixedConcreteCollection_caseX</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetReadyMixedConcreteCollection_caseX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetReadyMixedConcreteCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>不採用</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetRebarCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetRebarCollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetRebarCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetRebarCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getJU_ProposedProduct</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetRebarCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>鉄筋</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetRebarCollection_caseO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetRebarCollection_caseNull</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetRebarCollection_caseNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetRebarCollection</collectionReference>
        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>未着手</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetRebarCollection_caseX</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetRebarCollection_caseO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetRebarCollection_caseO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetRebarCollection</collectionReference>
        <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>停滞保留中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>訪問1回目</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>初回見積提出</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>購買決定者検討中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>トライアル</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用一歩手前</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetRebarCollection_caseSaiyou</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetRebarCollection_caseSaiyou</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetRebarCollection_caseSaiyou</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetRebarCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用（受注）</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetRebarCollection_caseNull</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetRebarCollection_caseX</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetRebarCollection_caseX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetRebarCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>不採用</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetInsulationCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetStructuralCollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetStructuralCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetStructuralCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getJU_ProposedProduct</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetStructuralCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>作図積算BPO</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetStructuralCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>構造プレカット</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetStructuralCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>構造パネル</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetStructuralCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>羽柄材</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetStructuralCollection.Category__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>構造その他</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetStructuralCollection_caseO</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetStructuralCollection_caseNull</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetStructuralCollection_caseNull</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetStructuralCollection</collectionReference>
        <conditionLogic>1 OR (2 AND 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>未着手</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetStructuralCollection_caseX</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetStructuralCollection_caseO</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetStructuralCollection_caseO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetStructuralCollection</collectionReference>
        <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR (7 AND 8)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>停滞保留中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>訪問1回目</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>初回見積提出</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>購買決定者検討中</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>トライアル</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用一歩手前</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>検討保留</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.oppStageStagnantDays__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <numberValue>90.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetStructuralCollection_caseSaiyou</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetStructuralCollection_caseSaiyou</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetStructuralCollection_caseSaiyou</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetStructuralCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用（受注）</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetStructuralCollection_caseNull</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>targetStructuralCollection_caseX</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetStructuralCollection_caseX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetStructuralCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>不採用</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetReadyMixedConcreteCollection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>X1_targetReadyMixedConcreteCollection_caseSaiyou</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>targetReadyMixedConcreteCollection_caseSaiyou</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_targetReadyMixedConcreteCollection_caseX</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>targetReadyMixedConcreteCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_targetReadyMixedConcreteCollection_caseX.opportunityStageName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>採用（受注）</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>targetReadyMixedConcreteCollection_caseNull</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>gypsumBoardProposalResult</name>
        <dataType>String</dataType>
        <expression>IF(
    {!counterTargetGypsumBoardCollection_caseSaiyou} &gt; 0,
    &quot;採用済&quot;,
    IF(
    {!counterTargetGypsumBoardCollection_caseO} &gt; 0,
    &quot;O&quot;,
        IF(
            AND(
            {!counterTargetGypsumBoardCollection_caseX} &gt; 0,
            {!counterTargetGypsumBoardCollection_caseO} = 0
            ),
            &quot;X&quot;,
            /* 以降の IF 文、20250127時点で意味がないが、要求仕様にのっとり記述 */
            IF(
            AND(
                {!counterTargetGypsumBoardCollection_caseX} = 0,
                {!counterTargetGypsumBoardCollection_caseO} = 0,
                {!counterTargetGypsumBoardCollection_caseSaiyou} = 0,
                OR(
                {!counterTargetGypsumBoardCollection_caseNull} = 0,
                {!counterTargetGypsumBoardCollection_caseNull} &gt; 0
                )
            ),
                NULL, NULL
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>insulationProposalResult</name>
        <dataType>String</dataType>
        <expression>IF(
    {!counterTargetInsulationCollection_caseSaiyou} &gt; 0,
    &quot;採用済&quot;,
    IF(
    {!counterTargetInsulationCollection_caseO} &gt; 0,
    &quot;O&quot;,
        IF(
            AND(
            {!counterTargetInsulationCollection_caseX} &gt; 0,
            {!counterTargetInsulationCollection_caseO} = 0
            ),
            &quot;X&quot;,
            /* 以降の IF 文、20250127時点で意味がないが、要求仕様にのっとり記述 */
            IF(
            AND(
                {!counterTargetInsulationCollection_caseX} = 0,
                {!counterTargetInsulationCollection_caseO} = 0,
                {!counterTargetInsulationCollection_caseSaiyou} = 0,
                OR(
                {!counterTargetInsulationCollection_caseNull} = 0,
                {!counterTargetInsulationCollection_caseNull} &gt; 0
                )
            ),
                NULL, NULL
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>LightGaugeSteelProposalResult</name>
        <dataType>String</dataType>
        <expression>IF(
    {!counterTargetLightGaugeSteelCollection_caseSaiyou} &gt; 0,
    &quot;採用済&quot;,
    IF(
    {!counterTargetLightGaugeSteelCollection_caseO} &gt; 0,
    &quot;O&quot;,
        IF(
            AND(
            {!counterTargetLightGaugeSteelCollection_caseX} &gt; 0,
            {!counterTargetLightGaugeSteelCollection_caseO} = 0
            ),
            &quot;X&quot;,
            /* 以降の IF 文、20250127時点で意味がないが、要求仕様にのっとり記述 */
            IF(
            AND(
                {!counterTargetLightGaugeSteelCollection_caseX} = 0,
                {!counterTargetLightGaugeSteelCollection_caseO} = 0,
                {!counterTargetLightGaugeSteelCollection_caseSaiyou} = 0,
                OR(
                {!counterTargetLightGaugeSteelCollection_caseNull} = 0,
                {!counterTargetLightGaugeSteelCollection_caseNull} &gt; 0
                )
            ),
                NULL, NULL
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>otherProposalResult</name>
        <dataType>String</dataType>
        <expression>IF(
    {!counterTargetOtherCollection_caseSaiyou} &gt; 0,
    &quot;採用済&quot;,
    IF(
    {!counterTargetOtherCollection_caseO} &gt; 0,
    &quot;O&quot;,
        IF(
            AND(
            {!counterTargetOtherCollection_caseX} &gt; 0,
            {!counterTargetOtherCollection_caseO} = 0
            ),
            &quot;X&quot;,
            /* 以降の IF 文、20250127時点で意味がないが、要求仕様にのっとり記述 */
            IF(
            AND(
                {!counterTargetOtherCollection_caseX} = 0,
                {!counterTargetOtherCollection_caseO} = 0,
                {!counterTargetOtherCollection_caseSaiyou} = 0,
                OR(
                {!counterTargetOtherCollection_caseNull} = 0,
                {!counterTargetOtherCollection_caseNull} &gt; 0
                )
            ),
                NULL, NULL
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>readyMixedConcreteProposalResult</name>
        <dataType>String</dataType>
        <expression>IF(
    {!counterTargetReadyMixedConcreteCollection_caseSaiyou} &gt; 0,
    &quot;採用済&quot;,
    IF(
    {!counterTargetReadyMixedConcreteCollection_caseO} &gt; 0,
    &quot;O&quot;,
        IF(
            AND(
            {!counterTargetReadyMixedConcreteCollection_caseX} &gt; 0,
            {!counterTargetReadyMixedConcreteCollection_caseO} = 0
            ),
            &quot;X&quot;,
            /* 以降の IF 文、20250127時点で意味がないが、要求仕様にのっとり記述 */
            IF(
            AND(
                {!counterTargetReadyMixedConcreteCollection_caseX} = 0,
                {!counterTargetReadyMixedConcreteCollection_caseO} = 0,
                {!counterTargetReadyMixedConcreteCollection_caseSaiyou} = 0,
                OR(
                {!counterTargetReadyMixedConcreteCollection_caseNull} = 0,
                {!counterTargetReadyMixedConcreteCollection_caseNull} &gt; 0
                )
            ),
                NULL, NULL
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>rebarProposalResult</name>
        <dataType>String</dataType>
        <expression>IF(
    {!counterTargetRebarCollection_caseSaiyou} &gt; 0,
    &quot;採用済&quot;,
    IF(
    {!counterTargetRebarCollection_caseO} &gt; 0,
    &quot;O&quot;,
        IF(
            AND(
            {!counterTargetRebarCollection_caseX} &gt; 0,
            {!counterTargetRebarCollection_caseO} = 0
            ),
            &quot;X&quot;,
            /* 以降の IF 文、20250127時点で意味がないが、要求仕様にのっとり記述 */
            IF(
            AND(
                {!counterTargetRebarCollection_caseX} = 0,
                {!counterTargetRebarCollection_caseO} = 0,
                {!counterTargetRebarCollection_caseSaiyou} = 0,
                OR(
                {!counterTargetRebarCollection_caseNull} = 0,
                {!counterTargetRebarCollection_caseNull} &gt; 0
                )
            ),
                NULL, NULL
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>structuralProposalResult</name>
        <dataType>String</dataType>
        <expression>IF(
    {!counterTargetStructuralCollection_caseSaiyou} &gt; 0,
    &quot;採用済&quot;,
    IF(
    {!counterTargetStructuralCollection_caseO} &gt; 0,
    &quot;O&quot;,
        IF(
            AND(
            {!counterTargetStructuralCollection_caseX} &gt; 0,
            {!counterTargetStructuralCollection_caseO} = 0
            ),
            &quot;X&quot;,
            /* 以降の IF 文、20250127時点で意味がないが、要求仕様にのっとり記述 */
            IF(
            AND(
                {!counterTargetStructuralCollection_caseX} = 0,
                {!counterTargetStructuralCollection_caseO} = 0,
                {!counterTargetStructuralCollection_caseSaiyou} = 0,
                OR(
                {!counterTargetStructuralCollection_caseNull} = 0,
                {!counterTargetStructuralCollection_caseNull} &gt; 0
                )
            ),
                NULL, NULL
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>targetAccountId</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!inputAccountId})),
  {!inputAccountId},
  {!inputOpportunity.AccountId}
)</expression>
    </formulas>
    <interviewLabel>2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【提案商品/取引先】6カテ商品提案状況記録</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getJU_ProposedProduct</name>
        <label>getJU_ProposedProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>targetStructuralCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>accountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>JU_ProposedProduct__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updTargetAccount</name>
        <label>updTargetAccount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>proposalStatusGypsumBoa__c</field>
            <value>
                <elementReference>gypsumBoardProposalResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>proposalStatusInsulation__c</field>
            <value>
                <elementReference>insulationProposalResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>proposalStatusLightGaugeS__c</field>
            <value>
                <elementReference>LightGaugeSteelProposalResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>proposalStatusOther__c</field>
            <value>
                <elementReference>otherProposalResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>proposalStatusReadyMixedConcrete__c</field>
            <value>
                <elementReference>readyMixedConcreteProposalResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>proposalStatusRebar__c</field>
            <value>
                <elementReference>rebarProposalResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>proposalStatusStructural__c</field>
            <value>
                <elementReference>structuralProposalResult</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getJU_ProposedProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counterTargetGypsumBoardCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetGypsumBoardCollection_caseNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetGypsumBoardCollection_caseO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetGypsumBoardCollection_caseSaiyou</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>counterTargetGypsumBoardCollection_caseX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetInsulationCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetInsulationCollection_caseNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetInsulationCollection_caseO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetInsulationCollection_caseSaiyou</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>counterTargetInsulationCollection_caseX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetLightGaugeSteelCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetLightGaugeSteelCollection_caseNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetLightGaugeSteelCollection_caseO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetLightGaugeSteelCollection_caseSaiyou</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>counterTargetLightGaugeSteelCollection_caseX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetOtherCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetOtherCollection_caseNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetOtherCollection_caseO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetOtherCollection_caseSaiyou</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>counterTargetOtherCollection_caseX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetReadyMixedConcreteCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetReadyMixedConcreteCollection_caseNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetReadyMixedConcreteCollection_caseO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetReadyMixedConcreteCollection_caseSaiyou</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>counterTargetReadyMixedConcreteCollection_caseX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetRebarCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetRebarCollection_caseNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetRebarCollection_caseO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetRebarCollection_caseSaiyou</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>counterTargetRebarCollection_caseX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetStructuralCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetStructuralCollection_caseNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetStructuralCollection_caseO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterTargetStructuralCollection_caseSaiyou</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>counterTargetStructuralCollection_caseX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_targetGypsumBoardCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JU_ProposedProduct__c</objectType>
    </variables>
    <variables>
        <name>currentItem_targetInsulationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JU_ProposedProduct__c</objectType>
    </variables>
    <variables>
        <name>currentItem_targetLightGaugeSteelCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JU_ProposedProduct__c</objectType>
    </variables>
    <variables>
        <name>currentItem_targetOtherCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JU_ProposedProduct__c</objectType>
    </variables>
    <variables>
        <name>currentItem_targetReadyMixedConcreteCollection_caseX</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JU_ProposedProduct__c</objectType>
    </variables>
    <variables>
        <name>currentItem_targetRebarCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JU_ProposedProduct__c</objectType>
    </variables>
    <variables>
        <name>currentItem_targetStructuralCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>JU_ProposedProduct__c</objectType>
    </variables>
    <variables>
        <name>inputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
