force-app/main/default/flows/flowBulkPartitionSchedulerAccount_P2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>【取引先】一括処理 分割実行フロー（P2） / flowBulkPartitionSchedulerAccount_P2</description>
    <environments>Default</environments>
    <interviewLabel>【取引先】一括処理 分割実行フロー（P2） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【取引先】一括処理 分割実行フロー（P2）</label>
    <loops>
        <name>loopByGetOpp</name>
        <label>loopByGetOpp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>invokeFlowOpportunitySixCategoryProposedProducts</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOpp</name>
        <label>getOpp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopByGetOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125h000000Y9ROAA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>proposedProductCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpp</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 9</filterLogic>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>8</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>D</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>F</stringValue>
            </value>
        </filters>
        <filters>
            <field>filteredOpportunityCount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2026-02-14</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>invokeFlowOpportunitySixCategoryProposedProducts</name>
        <label>呼び出し：【商談】6カテ提案商品の記録</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>loopByGetOpp</targetReference>
        </connector>
        <flowName>flowOpportunitySixCategoryProposedProducts</flowName>
        <inputAssignments>
            <name>inputOpp</name>
            <value>
                <elementReference>loopByGetOpp</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
