force-app/main/default/flows/flowAssignPrimarySortOrderToDeliveryRecordForProductsWithoutPresetSortOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addStepToSortNum_nonProduct</name>
        <label>addStepToSortNum_nonProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sortNumForNonProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sortOrderIncrementStepForNonProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewPrimarySortOrderValue_nonProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addStepToSortNum_Product</name>
        <label>addStepToSortNum_Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sortNumForProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sortOrderIncrementStepForProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setNewPrimarySortOrderValue_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDeliveryRecordCollectionToUpd_nonProduct</name>
        <label>setDeliveryRecordCollectionToUpd_nonProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>deliveryRecordCollectionToUpd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopInputDeliveryRecord_nonProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInputDeliveryRecord_nonProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDeliveryRecordCollectionToUpd_Product</name>
        <label>setDeliveryRecordCollectionToUpd_Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>deliveryRecordCollectionToUpd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopInputDeliveryRecord_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInputDeliveryRecord_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPrimarySortOrderValue_nonProduct</name>
        <label>setNewPrimarySortOrderValue_nonProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loopInputDeliveryRecord_nonProduct.primarySortOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>index_nonProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopInputDeliveryRecord_nonProduct.flowUpdateOccurred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newValueToFlowUpdateOccurred_nonProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setDeliveryRecordCollectionToUpd_nonProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPrimarySortOrderValue_Product</name>
        <label>setNewPrimarySortOrderValue_Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loopInputDeliveryRecord_Product.primarySortOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>index_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopInputDeliveryRecord_Product.flowUpdateOccurred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newValueToFlowUpdateOccurred_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setDeliveryRecordCollectionToUpd_Product</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sortInputDeliveryRecord_nonProduct_ByST_unit_price</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sortInputDeliveryRecord_nonProduct_ByST_unit_price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>inputDeliveryRecord_nonProduct</collectionReference>
        <connector>
            <targetReference>loopInputDeliveryRecord_nonProduct</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>nonProductSortOrder__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ST_unit_price__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>sortInputDeliveryRecord_Product_ByST_unit_price</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sortInputDeliveryRecord_Product_ByST_unit_price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>inputDeliveryRecord_Product</collectionReference>
        <connector>
            <targetReference>loopInputDeliveryRecord_Product</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ST_unit_price__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>index_nonProduct</name>
        <dataType>Number</dataType>
        <expression>{!index_Product}+ {!sortNumForNonProduct}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>index_Product</name>
        <dataType>Number</dataType>
        <expression>{!inputStartIndex} + {!sortNumForProduct}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newValueToFlowUpdateOccurred_nonProduct</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!loopInputDeliveryRecord_nonProduct.flowUpdateOccurred__c})</expression>
    </formulas>
    <formulas>
        <name>newValueToFlowUpdateOccurred_Product</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!loopInputDeliveryRecord_Product.flowUpdateOccurred__c})</expression>
    </formulas>
    <formulas>
        <name>sortOrderIncrementStepForNonProduct</name>
        <dataType>Number</dataType>
        <expression>0.1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>sortOrderIncrementStepForProduct</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>【納入実績】規定値なし製品に関連する正規ソート順の割り当て {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【納入実績】規定値なし製品に関連する正規ソート順の割り当て</label>
    <loops>
        <name>loopInputDeliveryRecord_nonProduct</name>
        <label>loopInputDeliveryRecord_nonProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>inputDeliveryRecord_nonProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addStepToSortNum_nonProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateDeliveryRecordsFromCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopInputDeliveryRecord_Product</name>
        <label>loopInputDeliveryRecord_Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>inputDeliveryRecord_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addStepToSortNum_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sortInputDeliveryRecord_nonProduct_ByST_unit_price</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateDeliveryRecordsFromCollection</name>
        <label>updateDeliveryRecordsFromCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>deliveryRecordCollectionToUpd</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sortInputDeliveryRecord_Product_ByST_unit_price</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>deliveryRecordCollectionToUpd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ST_DeliveryRecord__c</objectType>
    </variables>
    <variables>
        <name>inputDeliveryRecord_nonProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ST_DeliveryRecord__c</objectType>
    </variables>
    <variables>
        <name>inputDeliveryRecord_Product</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ST_DeliveryRecord__c</objectType>
    </variables>
    <variables>
        <name>inputStartIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sortNumForNonProduct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sortNumForProduct</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
