force-app/main/default/flows/flowBulkPartitionSchedulerOpp_P4.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setCounter</name>
        <label>setCounter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decideCounter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decideCounter</name>
        <label>decideCounter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invokeFlowOpportunitySixCategoryProposedProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>whenZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>whenZero</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【商談】一括処理 分割実行フロー（P4） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】一括処理 分割実行フロー（P4）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get</name>
        <label>get</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oppotunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>2.0</numberValue>
        </limit>
        <object>JU_ProposedProduct__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>F</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>G</stringValue>
            </value>
        </filters>
        <filters>
            <field>partitionKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>H</stringValue>
            </value>
        </filters>
        <filters>
            <field>sixCategoryProposedProducts__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125h000000Y9ROAA0</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2026-02-14</startDate>
            <startTime>01:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>invokeFlowOpportunitySixCategoryProposedProducts</name>
        <label>呼び出し：【商談】6カテ提案商品の記録</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>flowOpportunitySixCategoryProposedProducts</flowName>
        <inputAssignments>
            <name>inputOpp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
