force-app/main/default/flows/flowCreateSteelConstrDeptOpp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addIndividualRecordToCreateCollection</name>
        <label>一括作成用：個別レコードを更新用コレクションに追加</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>createRecordsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>valIndividualRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>incrementLoopCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incrementLoopCounter</name>
        <label>Loopカウンターをインクリメント(*初期値 = 0)</label>
        <locationX>396</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>loopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>branchJudgeContinueLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCounterToCreate</name>
        <label>カウンターに値をセット</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>counterToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCreationItem_Steel_delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToContinueLoop</name>
        <label>ループ変数を追加</label>
        <locationX>264</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>counterToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCreationItem_Steel_delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValueToIndividualRecord</name>
        <label>一括作成用：個別レコードを記録</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>valIndividualRecord.targetDeliveryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateToSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>valIndividualRecord.Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addIndividualRecordToCreateCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>branchJudgeContinueLoop</name>
        <label>ループ継続判定</label>
        <locationX>396</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>loopCreationItem_Steel_delivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseContinueLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCounter</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setValueToContinueLoop</targetReference>
            </connector>
            <label>ループ継続</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateToSet</name>
        <dataType>Date</dataType>
        <expression>DATE( 
    CASE( 
        MONTH( ADDMONTHS(TODAY(), {!loopCounter}) ), 
        12, YEAR( ADDMONTHS(TODAY(), {!loopCounter}) ) + 1, 
        YEAR( ADDMONTHS(TODAY(), {!loopCounter}) )
    ), 
    CASE( 
        MONTH( ADDMONTHS(TODAY(), {!loopCounter}) ), 
        12, 1, 
        MONTH( ADDMONTHS(TODAY(), {!loopCounter}) ) + 1
    ), 
    1 
) - 1</expression>
    </formulas>
    <interviewLabel>【商談】スチール_工事部商談新規作成時の処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】スチール_工事部商談新規作成時の処理</label>
    <loops>
        <name>loopCreationItem_Steel_delivery</name>
        <label>繰り返し：「納品トン数オブジェクト」の作成処理</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>counterToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setValueToIndividualRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createRecords</name>
        <label>一括作成：納品トン数オブジェクト</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <inputReference>createRecordsCollection</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setCounterToCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RC000000GnUbYAK</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>「納品トン数オブジェクト（Steel_delivery__c）の作成数を管理
&gt; 「納品トン数オブジェクト（Steel_delivery__c）」のレコードを20レコード作成したい。（作成時の月を含めて20カ月分）</description>
        <name>counterToCreate</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>createRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Steel_delivery__c</objectType>
    </variables>
    <variables>
        <name>loopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>valIndividualRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Steel_delivery__c</objectType>
    </variables>
</Flow>
