force-app/main/default/flows/flowRemindContact_schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>remindMail</name>
        <label>リマインドメール送信</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>testMailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>mailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>mailText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>mailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ご担当の得意先担当者の次回物件ヒアリングをお願いいたします。</stringValue>
        </value>
    </constants>
    <decisions>
        <name>branchByIsDateRemind</name>
        <label>リマインド処理日か判定</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>trueCaseIsDateRemind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isDateRemind</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>remindMail</targetReference>
            </connector>
            <label>リマインド処理日</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>15日か？判定</description>
        <name>isDateRemind</name>
        <dataType>Boolean</dataType>
        <expression>day(today()) = 15</expression>
    </formulas>
    <formulas>
        <name>mailAddress</name>
        <dataType>String</dataType>
        <expression>&apos;shinji-nagai@nohara-inc.co.jp, hiroki-matsui@nohara-inc.co.jp,daisuke-ushijima@nohara-inc.co.jp,&apos; &amp; {!$Record.contactCS__r.CW_OwnerId__r.Email}</expression>
    </formulas>
    <formulas>
        <name>targetContactId18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Record.contactCS__r.Id})</expression>
    </formulas>
    <formulas>
        <name>testMailAddress</name>
        <dataType>String</dataType>
        <expression>&quot;hiroki-matsui@nohara-inc.co.jp&quot;</expression>
    </formulas>
    <interviewLabel>【】 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【得意先担当者スケジュール】事務作業メールリマインド</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>branchByIsDateRemind</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isTargetRemindOfficeWork__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>contact_schedule__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-03-10</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>mailText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.contactCS__r.Account.Name} 
{!$Record.contactCS__r.LastName} {!$Record.contactCS__r.FirstName} 様について

予定が現在事務作業のみとなっております。
次回物件ヒアリングをお願いいたします。

*URL
https://forcecom175.lightning.force.com/lightning/r/Contact/{!targetContactId18}/view</text>
    </textTemplates>
</Flow>
