force-app/main/default/flows/flowSTConstructionSiteOnTargetBillingCloseDateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addTempInContractTotal</name>
        <label>addTempInContractTotal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempInContractTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOutContractCollection.ShippingAmountALL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOutContractCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTempOutContractTotal</name>
        <label>addTempOutContractTotal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempOutContractTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOutContractCollection.ShippingAmountALL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOutContractCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>branchInOrOutContract</name>
        <label>branchInOrOutContract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>addTempInContractTotal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseOutContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOutContractCollection.isOutOfContract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTempOutContractTotal</targetReference>
            </connector>
            <label>caseOutContract</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>newValDetailTotalInContractRounddown</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!tempInContractTotal})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>newValDetailTotalInContractRounded</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!tempInContractTotal}, 0)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>newValDetailTotalOutContractRounddown</name>
        <dataType>Currency</dataType>
        <expression>FLOOR({!tempOutContractTotal})</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>newValDetailTotalOutContractRounded</name>
        <dataType>Currency</dataType>
        <expression>ROUND({!tempOutContractTotal}, 0)</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>【現場】「対象請求締日」更新時処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【現場】「対象請求締日」更新時処理</label>
    <loops>
        <name>loopOutContractCollection</name>
        <label>loopOutContractCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getAllCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>branchInOrOutContract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updSTConstructionSite</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllCollection</name>
        <label>getAllCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOutContractCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.targetBillingCloseDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ST_field_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ST_DeliveryRecord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updSTConstructionSite</name>
        <label>updSTConstructionSite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>detailTotalInContractRounddown__c</field>
            <value>
                <elementReference>newValDetailTotalInContractRounddown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>detailTotalInContractRounded__c</field>
            <value>
                <elementReference>newValDetailTotalInContractRounded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>detailTotalOutContractRounddown__c</field>
            <value>
                <elementReference>newValDetailTotalOutContractRounddown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>detailTotalOutContractRounded__c</field>
            <value>
                <elementReference>newValDetailTotalOutContractRounded</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllCollection</targetReference>
        </connector>
        <filterFormula>AND(
  NOT(ISBLANK({!$Record.targetBillingCloseDate__c})),

  OR(
    /* 対象請求締日が更新された場合 */
    {!$Record.targetBillingCloseDate__c} &lt;&gt; {!$Record__Prior.targetBillingCloseDate__c}, 
    
    /* 割引計算パターン（Picklist） */
    TEXT({!$Record.ST_discount_calculating__c}) &lt;&gt; TEXT({!$Record__Prior.ST_discount_calculating__c}),

    /* 調整金（Number / Currency） */
    {!$Record.AdjustmentMoney__c} &lt;&gt; {!$Record__Prior.AdjustmentMoney__c},

    /* 消費税率（Number：例 0.10） */
    {!$Record.consumptionTaxRate__c} &lt;&gt; {!$Record__Prior.consumptionTaxRate__c},
    
    /* 対象請求締日が入力済みで、新規作成された場合 */
    AND(
      ISNEW(),
      NOT(ISBLANK({!$Record.consumptionTaxRate__c})) 
    )
  )
)</filterFormula>
        <object>ST_ConstructionSite__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tempInContractTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tempOutContractTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
