force-app/main/default/flows/flowOnInvoiceContractTrueUpdate_ConstructionSite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setNewValCurrentItem_false</name>
        <label>setNewValCurrentItem_false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loopCollection_ST_ConstructionSite_false.Billed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setUpdCollection_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewValCurrentItem_true</name>
        <label>setNewValCurrentItem_true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loopCollection_ST_ConstructionSite_true.Billed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setUpdCollection_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdCollection_false</name>
        <label>setUpdCollection_false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updValCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCollection_ST_ConstructionSite_false</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCollection_ST_ConstructionSite_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdCollection_true</name>
        <label>setUpdCollection_true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updValCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCollection_ST_ConstructionSite_true</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCollection_ST_ConstructionSite_true</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIsInvoiceContractTriggered</name>
        <label>checkIsInvoiceContractTriggered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>updCollection_ST_ConstructionSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueIsInvoiceContractTriggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvoiceContractTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCollection_ST_ConstructionSite_false</targetReference>
            </connector>
            <label>caseTrueIsInvoiceContractTriggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIsInvoiceOutsideContractTriggered</name>
        <label>checkIsInvoiceOutsideContractTriggered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>checkIsInvoiceContractTriggered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseTrueIsInvoiceOutsideContractTriggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvoiceOutsideContractTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCollection_ST_ConstructionSite_true</targetReference>
            </connector>
            <label>caseTrueIsInvoiceOutsideContractTriggered</label>
        </rules>
    </decisions>
    <decisions>
        <name>resetItemOfST_ConstructionSite</name>
        <label>resetItemOfST_ConstructionSite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>case1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvoiceContractTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isInvoiceOutsideContractTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resetCase1</targetReference>
            </connector>
            <label>case1</label>
        </rules>
        <rules>
            <name>case2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvoiceContractTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isInvoiceOutsideContractTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resetCase2</targetReference>
            </connector>
            <label>case2</label>
        </rules>
        <rules>
            <name>case3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInvoiceContractTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isInvoiceOutsideContractTriggered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resetCase3</targetReference>
            </connector>
            <label>case3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isInvoiceContractTriggered</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  $Record.Invoice_contract__c = TRUE,
  OR(
    ISNEW(),
    ISCHANGED($Record.Invoice_contract__c)
  )
)</expression>
    </formulas>
    <formulas>
        <name>isInvoiceOutsideContractTriggered</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  $Record.Invoice_OutsideTheContract__c = TRUE,
  OR(
    ISNEW(),
    ISCHANGED($Record.Invoice_OutsideTheContract__c)
  )
)</expression>
    </formulas>
    <interviewLabel>【現場】「請求書出力_契約内」項目true更新時の処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【現場】「請求書出力_契約内」項目true更新時の処理</label>
    <loops>
        <name>loopCollection_ST_ConstructionSite_false</name>
        <label>loopCollection_ST_ConstructionSite_false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getCollection_ST_ConstructionSite_false</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setNewValCurrentItem_false</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updCollection_ST_ConstructionSite</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopCollection_ST_ConstructionSite_true</name>
        <label>loopCollection_ST_ConstructionSite_true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getCollection_ST_ConstructionSite_true</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setNewValCurrentItem_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkIsInvoiceContractTriggered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCollection_ST_ConstructionSite_false</name>
        <label>getCollection_ST_ConstructionSite_false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopCollection_ST_ConstructionSite_false</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.targetBillingCloseDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Excludedfrombilling_summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isOutOfContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ST_field_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ST_DeliveryRecord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCollection_ST_ConstructionSite_true</name>
        <label>getCollection_ST_ConstructionSite_true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopCollection_ST_ConstructionSite_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.targetBillingCloseDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Excludedfrombilling_summary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isOutOfContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ST_field_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ST_DeliveryRecord__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>resetCase1</name>
        <label>resetCase1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Invoice_contract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>resetCase2</name>
        <label>resetCase2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Invoice_OutsideTheContract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>resetCase3</name>
        <label>resetCase3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Invoice_OutsideTheContract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_contract__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updCollection_ST_ConstructionSite</name>
        <label>updCollection_ST_ConstructionSite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>resetItemOfST_ConstructionSite</targetReference>
        </connector>
        <inputReference>updValCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIsInvoiceOutsideContractTriggered</targetReference>
        </connector>
        <filterFormula>OR(
  /* 請求書出力_契約内 */
  AND(
    {!$Record.Invoice_contract__c} = TRUE,
    OR(
      ISNEW(),
      ISCHANGED({!$Record.Invoice_contract__c})
    )
  ),

  /* 請求書出力_契約外 */
  AND(
    {!$Record.Invoice_OutsideTheContract__c} = TRUE,
    OR(
      ISNEW(),
      ISCHANGED({!$Record.Invoice_OutsideTheContract__c})
    )
  )
)</filterFormula>
        <object>ST_ConstructionSite__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updValCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ST_DeliveryRecord__c</objectType>
    </variables>
</Flow>
