force-app/main/default/flows/for_input_rate_aggregate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetCountX0107</name>
        <label>割り当て</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CountX01_07</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GETX01_07</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>input_count_to_trading_target</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>入力率集計用 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【取引先】入力率集計用</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GETX01_07</name>
        <label>採番01から07までを取得</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetCountX0107</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>ShareConfirmation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>02</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>03</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>04</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>06</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>07</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IssueHearing2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>input_count_to_trading_target</name>
        <label>取引先に件数を入力</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>input_rate_IssueHearing2__c</field>
            <value>
                <elementReference>var_CountX01_07</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GETX01_07</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ShareConfirmation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IssueHearing2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CountX01_07</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
