force-app/main/default/flows/IssueHearing2AccountmaterialsConfirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment</name>
        <label>割り当て_カウント</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Hearing</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision</name>
        <label>シェア確認完了日に値が入っているか？</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Hearing.ShareConfirmation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment</targetReference>
            </connector>
            <label>Filled</label>
        </rules>
    </decisions>
    <description>■対象Obj：取引先
・項目作成：資材確認完了日
・「課題ヒアリング（見積作成/発注形態）」Objで、
採番01、02、03、04、05、06、07となっているレコードすべての
「シェア確認完了日」に日付が入ったら、
取引先Objの「資材確認完了日」に今日の日付を入力（上書き×）</description>
    <environments>Default</environments>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>【取引先】 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【課題ヒアリング（見積作成/発注形態）】資材確認完了日</label>
    <loops>
        <name>Loop_Hearing</name>
        <label>取得した課題ヒアリングのレコード</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updatematerials</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecords</name>
        <label>課題ヒアリング（同一取引先 + 採番01〜07）</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Hearing</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>02</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>03</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>04</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>06</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>07</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IssueHearing2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updatematerials</name>
        <label>取引先レコードの更新</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>materialsConfirmation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>materialsConfirmation__c</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecords</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>ShareConfirmation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>02</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>03</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>04</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>05</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>06</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>07</stringValue>
            </value>
        </filters>
        <object>IssueHearing2__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>700</triggerOrder>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
