force-app/main/default/flows/JU_Event_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ImSet1</name>
        <label>重要</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>impVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>imChk1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdIm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1</name>
        <label>重要</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>impVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>imChk3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdIm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2</name>
        <label>重要</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>impVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>imChk2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdIm</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>chkKanren</name>
        <label>関連先チェック</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UpdIm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>OppChk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectOpp</targetReference>
            </connector>
            <label>関連先：商談</label>
        </rules>
        <rules>
            <name>conChk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectCon</targetReference>
            </connector>
            <label>関連先：取引先担当者</label>
        </rules>
        <rules>
            <name>accChk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectAcc</targetReference>
            </connector>
            <label>関連先：取引先</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>imChk</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISBLANK(TEXT({!$Record.Account.JU_AccountType__c})),false,
IF(ISPICKVAL({!$Record.Account.JU_AccountType__c},&apos;戦略ターゲット&apos;),true,false))</expression>
    </formulas>
    <formulas>
        <name>imChk1</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISBLANK(TEXT({!$Record.Account.JU_AccountType__c})),false,
IF ( ISPICKVAL({!selectOpp.Account.JU_AccountType__c},&apos;戦略ターゲット&apos;)  ,true, false))</expression>
    </formulas>
    <formulas>
        <name>imChk2</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISBLANK(TEXT({!$Record.Account.JU_AccountType__c})),false,
IF ( ISPICKVAL({!SelectCon.Account.JU_AccountType__c},&apos;戦略ターゲット&apos;)  ,true, false))</expression>
    </formulas>
    <formulas>
        <name>imChk3</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISBLANK(TEXT({!$Record.Account.JU_AccountType__c})),false,
IF ( ISPICKVAL({!SelectAcc.JU_AccountType__c},&apos;戦略ターゲット&apos;)  ,true, false))</expression>
    </formulas>
    <interviewLabel>【行動】作成_住環境 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【行動】作成_住環境</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SelectAcc</name>
        <label>取引先取得</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SelectCon</name>
        <label>取引先担当者：取引先取得</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>selectOpp</name>
        <label>商談：取引先取得</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ImSet1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdIm</name>
        <label>重要更新</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Important__c</field>
            <value>
                <elementReference>impVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>chkKanren</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125h000000YEnRAAW</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>impVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
