force-app/main/default/flows/JU_Opportunity_6categorySum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>JU_category</name>
        <label>6カテゴリ種別チェック</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JU_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01.基礎資材_生コン</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6</targetReference>
            </connector>
            <label>01.基礎資材_生コン</label>
        </rules>
        <rules>
            <name>X02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JU_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02.基礎資材_鉄筋</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7</targetReference>
            </connector>
            <label>02.基礎資材_鉄筋</label>
        </rules>
        <rules>
            <name>X03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JU_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>03.構造材</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1</targetReference>
            </connector>
            <label>03.構造材</label>
        </rules>
        <rules>
            <name>X04</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JU_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>04.断熱材</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2</targetReference>
            </connector>
            <label>04.断熱材</label>
        </rules>
        <rules>
            <name>X05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JU_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>05.石膏ボード</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3</targetReference>
            </connector>
            <label>05.石膏ボード</label>
        </rules>
        <rules>
            <name>X06</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JU_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>06.鋼製下地</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4</targetReference>
            </connector>
            <label>06.鋼製下地</label>
        </rules>
        <rules>
            <name>X07</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JU_category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>07.外構</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5</targetReference>
            </connector>
            <label>07.外構</label>
        </rules>
    </decisions>
    <decisions>
        <name>PhaseChk</name>
        <label>フェーズチェック</label>
        <locationX>1568</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>Ph1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>訪問1回目</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JU_category</targetReference>
            </connector>
            <label>訪問一回目</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>JU_kisosizaiStatusK1</name>
        <dataType>String</dataType>
        <expression>IF ( TEXT({!$Record.Account.JU_kisosizai_2StatusK__c}) == &apos;◯&apos; , &apos;◯&apos; ,TEXT({!$Record.Account.JU_kisosizaiStatusK__c}))</expression>
    </formulas>
    <formulas>
        <name>JU_kisosizaiStatusK2</name>
        <dataType>String</dataType>
        <expression>IF ( TEXT({!$Record.Account.JU_kisosizai_1StatusK__c}) == &apos;◯&apos; , &apos;◯&apos; ,TEXT({!$Record.Account.JU_kisosizaiStatusK__c}))</expression>
    </formulas>
    <interviewLabel>【商談】住環境_6カテゴリ集計 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】住環境_6カテゴリ集計</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>X1</name>
        <label>仮提案状況更新</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JU_kouzouzaiteianStatusK__c</field>
            <value>
                <stringValue>◯</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>X2</name>
        <label>仮提案状況更新</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JU_dannetsuzaiStatusK__c</field>
            <value>
                <stringValue>◯</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>X3</name>
        <label>仮提案状況更新</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JU_sekkouboadStatusK__c</field>
            <value>
                <stringValue>◯</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>X4</name>
        <label>仮提案状況更新</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JU_tesseisitadiStatusK__c</field>
            <value>
                <stringValue>◯</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>X5</name>
        <label>仮提案状況更新</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JU_zaikouStatusK__c</field>
            <value>
                <stringValue>◯</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>X6</name>
        <label>仮提案状況更新</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JU_kisosizaiStatusK__c</field>
            <value>
                <elementReference>JU_kisosizaiStatusK1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JU_kisosizai_1StatusK__c</field>
            <value>
                <stringValue>◯</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>X7</name>
        <label>仮提案状況更新</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JU_kisosizaiStatusK__c</field>
            <value>
                <elementReference>JU_kisosizaiStatusK2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JU_kisosizai_2StatusK__c</field>
            <value>
                <stringValue>◯</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PhaseChk</targetReference>
        </connector>
        <filterFormula>AND ( {!$Record.RecordType.DeveloperName}  == &apos;Jukankyo&apos;,
OR ( ISNEW() , ISCHANGED({!$Record.JU_category__c}) ,ISCHANGED({!$Record.StageName})))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Status1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
