force-app/main/default/flows/JU_Opportunity_Upd.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>ChkDetail</name>
        <label>停滞明細入力チェック</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UpdNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>停滞明細なし</defaultConnectorLabel>
        <rules>
            <name>Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.JU_teitaimeisai__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>X1</targetReference>
            </connector>
            <label>停滞明細あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【商談】住環境_編集 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】住環境_編集</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdNull</name>
        <label>停滞明細入力日空更新</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>JU_teitaimeisai_date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X1</name>
        <label>レコードを更新 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>JU_teitaimeisai_date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChkDetail</targetReference>
        </connector>
        <filterFormula>AND ( {!$Record.RecordType.DeveloperName} == &apos;Jukankyo&apos;
, OR(ISNEW() , ISCHANGED( {!$Record.JU_teitaimeisai__c})))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
