force-app/main/default/flows/Lead_CreateUpdate_SetLeadStatusChengedDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetLeadValiable_Id</name>
        <label>リード変数のIDをセット</label>
        <locationX>1700</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLeadStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatusNewEnterDate</name>
        <label>新規入力日の設定</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_New_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>リード状況が育成でかつ、新規入力日が空白の場合、新規入力日の日付も埋めて設定する。</description>
        <name>SetStatusNewEnterDateNurturing</name>
        <label>新規入力日の設定</label>
        <locationX>1282</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_New_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckStatusValuationNurturing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>リード状況が取引開始済みでかつ、新規入力日が空白の場合、新規入力日の日付も埋めて設定する。</description>
        <name>SetStatusNewEnterDateQualified</name>
        <label>新規入力日の設定</label>
        <locationX>2514</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_New_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckStatusValuationQualified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>リード状況が評価中でかつ、新規入力日が空白の場合、新規入力日の日付も埋めて設定する。</description>
        <name>SetStatusNewEnterDateValuation</name>
        <label>新規入力日の設定</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_New_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatusNurturingEnterDate</name>
        <label>育成入力日の設定</label>
        <locationX>1414</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_Nurturing_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckStatusNewNurturing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>リード状況が取引開始済みでかつ、育成入力日が空白の場合、育成入力日の日付も埋めて設定する。</description>
        <name>SetStatusNurturingEnterDateQualified</name>
        <label>育成入力日の設定</label>
        <locationX>2514</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_Nurturing_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatusQualifiedEnterDate</name>
        <label>取引開始済み入力日の設定</label>
        <locationX>2646</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_Qualified_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckStatusNewQualified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatusUnqualifiedEnterDate</name>
        <label>対象外入力日の設定</label>
        <locationX>1986</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_Unqualified_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatusValuationEnterDate</name>
        <label>評価中入力日の設定</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_Valuation_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckStatusNewValuation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>リード状況が育成でかつ、評価中入力日が空白の場合、評価中入力日の日付も埋めて設定する。</description>
        <name>SetStatusValuationEnterDateNurturing</name>
        <label>評価中入力日の設定</label>
        <locationX>1282</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_Valuation_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>リード状況が取引開始済みでかつ、評価中入力日が空白の場合、評価中入力日の日付も埋めて設定する。</description>
        <name>SetStatusValuationEnterDateQualified</name>
        <label>評価中入力日の設定</label>
        <locationX>2514</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>tempLeadRecord.Status_Valuation_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckStatusNurturingQualified</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckLeadStatus</name>
        <label>リード状況のチェック</label>
        <locationX>1700</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>StatusNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>新規</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusNew</targetReference>
            </connector>
            <label>新規</label>
        </rules>
        <rules>
            <name>StatusValuation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>評価中</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusValuation</targetReference>
            </connector>
            <label>評価中</label>
        </rules>
        <rules>
            <name>StatusNurturing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>育成</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusNurturing</targetReference>
            </connector>
            <label>育成</label>
        </rules>
        <rules>
            <name>StatusUnqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>対象外</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusUnqualified</targetReference>
            </connector>
            <label>対象外</label>
        </rules>
        <rules>
            <name>StatusQualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckStatusQualified</targetReference>
            </connector>
            <label>取引開始済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusNew</name>
        <label>新規入力日が空白か</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusNewIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_New_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusNewEnterDate</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <description>リード状況が育成でかつ、新規入力日が空白の場合、新規入力日の日付も埋めて設定する。</description>
        <name>CheckStatusNewNurturing</name>
        <label>新規入力日が空白か</label>
        <locationX>1414</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>CheckStatusValuationNurturing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusNewIsNullNurturing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_New_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusNewEnterDateNurturing</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <description>リード状況が取引開始済みでかつ、新規入力日が空白の場合、新規入力日の日付も埋めて設定する。</description>
        <name>CheckStatusNewQualified</name>
        <label>新規入力日が空白か</label>
        <locationX>2646</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>CheckStatusValuationQualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusNewIsNullQualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_New_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusNewEnterDateQualified</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <description>リード状況が評価中でかつ、新規入力日が空白の場合、新規入力日の日付も埋めて設定する。</description>
        <name>CheckStatusNewValuation</name>
        <label>新規入力日が空白か</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>UpdateLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusNewIsNullValuation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_New_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusNewEnterDateValuation</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusNurturing</name>
        <label>育成入力日が空白か</label>
        <locationX>1568</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusNurturingIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Nurturing_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusNurturingEnterDate</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <description>リード状況が取引開始済みでかつ、育成入力日が空白の場合、育成入力日の日付も埋めて設定する。</description>
        <name>CheckStatusNurturingQualified</name>
        <label>育成入力日が空白か</label>
        <locationX>2646</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>UpdateLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusNurturingIsNullQualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Nurturing_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusNurturingEnterDateQualified</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusQualified</name>
        <label>取引開始済み入力日が空白か</label>
        <locationX>2800</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusQualifiedIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Qualified_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusQualifiedEnterDate</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusUnqualified</name>
        <label>対象外入力日が空白か</label>
        <locationX>2118</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusUnqualifiedIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Unqualified_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusUnqualifiedEnterDate</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusValuation</name>
        <label>評価中入力日が空白か</label>
        <locationX>864</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusValuationIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Valuation_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusValuationEnterDate</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <description>リード状況が育成でかつ、評価中入力日が空白の場合、評価中入力日の日付も埋めて設定する。</description>
        <name>CheckStatusValuationNurturing</name>
        <label>評価中入力日が空白か</label>
        <locationX>1414</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>UpdateLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusValuationIsNullNurturing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Valuation_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusValuationEnterDateNurturing</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <description>リード状況が取引開始済みでかつ、評価中入力日が空白の場合、評価中入力日の日付も埋めて設定する。</description>
        <name>CheckStatusValuationQualified</name>
        <label>評価中入力日が空白か</label>
        <locationX>2646</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>CheckStatusNurturingQualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>値あり</defaultConnectorLabel>
        <rules>
            <name>StatusValuationIsNullQualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status_Valuation_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStatusValuationEnterDateQualified</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <description>リード状況が変更された日付を各入力日項目登録する。状況をスキップして変更した場合は、その間の入力日項目をその変更日を埋めて登録する。</description>
    <environments>Default</environments>
    <interviewLabel>【リード】作成・更新_リード状況が変更された日付をセット {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【リード】作成・更新_リード状況が変更された日付を記録</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateLead</name>
        <label>リードを更新</label>
        <locationX>1700</locationX>
        <locationY>1823</locationY>
        <inputReference>tempLeadRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>1574</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetLeadValiable_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RC0000003Bq9YAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>リード更新用の変数</description>
        <name>tempLeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
