force-app/main/default/flows/Lead_Update_CreateLeadHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MailAlert</name>
        <label>メールアラート</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Decision_Exist_SL_camera_quotation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>hiroki-matsui@nohara-inc.co.jp,t.goto@tgtech.day</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!vsTextMailTitle}のリードが作成されました</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tTextMail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>リード作成時に問合せチェックボックスが入っていたら、内容と日付をセット</description>
        <name>Comment1</name>
        <label>コメント</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>vsTextComment01</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>リード作成時に問合せチェックボックスが入っていたら、内容と日付をセット</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetLeadValiable_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetHistoryValiable</name>
        <label>履歴レコード用変数に割当て</label>
        <locationX>314</locationX>
        <locationY>3047</locationY>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_bussinesplan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_bussinesplan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_proffesionalplan_20_150_10__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_proffesionalplan_20_150_10__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_starterplan_5_20_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_starterplan_5_20_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Leica_BLK360_G1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Leica_BLK360_G1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Pro2_rental_sankyaku_undai_carrycase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Pro2_rental_sankyaku_undai_carrycase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Axis_undai_sankyaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Axis_undai_sankyaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Pro2_ALTA_FLY_49T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Pro2_ALTA_FLY_49T__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Pro2_DS_30__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Pro2_DS_30__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Pro2_500_DX_N__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Pro2_500_DX_N__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Pro2_starterkit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Pro2_starterkit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Pro2camera__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Pro2camera__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_pro3_acceleration_kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_pro3_acceleration_kit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_others__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_others__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_photograph_edit_support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_photograph_edit_support__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Achievementsofseminarmovie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Achievementsofseminarmovie__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_cloud_contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_cloud_contract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_camera_quotation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_camera_quotation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_WebContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_WebContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_ShootingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_ShootingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_SpaceCreateDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_SpaceCreateDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_TermDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_TermDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_PhotographyCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_PhotographyCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_FirstQuateDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_FirstQuateDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_BillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_BillingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_QuestionClassification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_QuestionClassification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SL_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSolutionSalesLeadHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLeadValiable_Id</name>
        <label>リード変数のIDをセット</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>vsRecLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decition_ContactDetail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMailTitle_CameraQuote</name>
        <label>メール件名用</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vsTextMailTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>カメラお見積り</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MailAlert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMailTitle_CloudContact</name>
        <label>メール件名用</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vsTextMailTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>クラウド契約</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MailAlert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSL_CameraQuote_EnterDate</name>
        <label>カメラお見積り入力日をセット</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>vsRecLead.SL_CameraQuote_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_CameraQuote_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X12</name>
        <label>過去のセミナー動画入力日をセット</label>
        <locationX>182</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>vsRecLead.SL_SeminorMovie_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_SeminorMovie_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X15</name>
        <label>撮影/編集/サポート入力日をセット</label>
        <locationX>182</locationX>
        <locationY>2555</locationY>
        <assignmentItems>
            <assignToReference>vsRecLead.SL_Shooting_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Shooting_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X18</name>
        <label>その他入力日をセット</label>
        <locationX>182</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>vsRecLead.SL_Other_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Other_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetHistoryValiable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3</name>
        <label>クラウド契約入力日をセット</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>vsRecLead.SL_CloudContract_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_CloudContract_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X6</name>
        <label>ScanToBIM入力日をセット</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>vsRecLead.SL_scantobimnyuuryokubi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_scantobimnyuuryokubi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X9</name>
        <label>ご質問入力日をセット</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>vsRecLead.SL_Question_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSolutionLeadHistory.SL_Question_EnterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X11</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Exist_SL_camera_quotation</name>
        <label>カメラお見積りにチェックがあるか</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>X2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックなし</defaultConnectorLabel>
        <rules>
            <name>Exist_SL_camera_quotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SL_camera_quotation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_camera_quotation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_CameraQuote_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSL_CameraQuote_EnterDate</targetReference>
            </connector>
            <label>チェックあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decition_ContactDetail</name>
        <label>問い合わせ内容</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Exist_SL_camera_quotation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>CameraQuotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SL_camera_quotation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_camera_quotation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMailTitle_CameraQuote</targetReference>
            </connector>
            <label>カメラお見積り</label>
        </rules>
        <rules>
            <name>CloudContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SL_cloud_contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_cloud_contract__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMailTitle_CloudContact</targetReference>
            </connector>
            <label>クラウド契約</label>
        </rules>
    </decisions>
    <decisions>
        <name>X11</name>
        <label>過去のセミナー動画にチェックがあるか</label>
        <locationX>314</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>X14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックなし</defaultConnectorLabel>
        <rules>
            <name>X10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SL_Achievementsofseminarmovie__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_Achievementsofseminarmovie__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_SeminorMovie_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X12</targetReference>
            </connector>
            <label>チェックあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X14</name>
        <label>撮影/編集/サポートにチェックがあるか</label>
        <locationX>314</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>X17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックなし</defaultConnectorLabel>
        <rules>
            <name>X13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SL_photograph_edit_support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_photograph_edit_support__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_ShootingDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X15</targetReference>
            </connector>
            <label>チェックあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X17</name>
        <label>その他にチェックがあるか</label>
        <locationX>314</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>SetHistoryValiable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックなし</defaultConnectorLabel>
        <rules>
            <name>X16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SL_others__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_others__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_Other_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X18</targetReference>
            </connector>
            <label>チェックあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2</name>
        <label>クラウド契約にチェックがあるか</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>X5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックなし</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SL_cloud_contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_cloud_contract__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_CloudContract_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3</targetReference>
            </connector>
            <label>チェックあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X5</name>
        <label>ScanToBIMにチェックがあるか</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>X8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックなし</defaultConnectorLabel>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SL_ScanToBIM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_ScanToBIM__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_scantobimnyuuryokubi__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6</targetReference>
            </connector>
            <label>チェックあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>X8</name>
        <label>ご質問にチェックがあるか</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>X11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>チェックなし</defaultConnectorLabel>
        <rules>
            <name>X7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SL_question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_question__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SL_Question_EnterDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X9</targetReference>
            </connector>
            <label>チェックあり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【リード】更新_リード履歴にレコードを作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【リード】更新_リード履歴にレコードを作成</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateSolutionSalesLeadHistory</name>
        <label>ソリューション営業リード履歴を作成</label>
        <locationX>314</locationX>
        <locationY>3155</locationY>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
        <inputReference>vsRecSolutionLeadHistory</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>UpdateLead</name>
        <label>リードを更新</label>
        <locationX>314</locationX>
        <locationY>3263</locationY>
        <inputReference>vsRecLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comment1</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 )</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RC0000003Bq9YAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SL_bussinesplan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_proffesionalplan_20_150_10__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_starterplan_5_20_3__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_Leica_BLK360_G1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_Pro2_rental_sankyaku_undai_carrycase__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_Axis_undai_sankyaku__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_Pro2_ALTA_FLY_49T__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_Pro2_DS_30__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_Pro2_500_DX_N__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_Pro2_starterkit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_Pro2camera__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_pro3_acceleration_kit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_others__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_photograph_edit_support__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_Achievementsofseminarmovie__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_question__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_cloud_contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_camera_quotation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SL_WebContact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>tTextMail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>各位

問い合わせ内容「{!vsTextMailTitle}」のリードが作成されました。
ご確認をお願いします。​

リードURL：
https://forcecom175.lightning.force.com/lightning/r/Lead/{!vsRecLead.Id}/view

​</text>
    </textTemplates>
    <variables>
        <name>vsRecLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vsRecSolutionLeadHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SolutionSalesLeadHistory__c</objectType>
    </variables>
    <variables>
        <name>vsTextComment01</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vsTextMailTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
