force-app/main/default/flows/NHR_JU_Category_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Chk</name>
        <label>カテゴリーチェック</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Upd7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>chk1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>生コン</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>鉄筋</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd1</targetReference>
            </connector>
            <label>基礎資材</label>
        </rules>
        <rules>
            <name>chk2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>構造プレカット</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>構造パネル</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd2</targetReference>
            </connector>
            <label>構造材</label>
        </rules>
        <rules>
            <name>chk3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>床断熱材</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>壁天断熱材</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>床壁天断熱材</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd3</targetReference>
            </connector>
            <label>断熱材</label>
        </rules>
        <rules>
            <name>chk4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>石膏ボード</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd4</targetReference>
            </connector>
            <label>石膏ボード</label>
        </rules>
        <rules>
            <name>chk5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>軽天材</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd5</targetReference>
            </connector>
            <label>鋼製下地</label>
        </rules>
        <rules>
            <name>chk6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>外構資材</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd6</targetReference>
            </connector>
            <label>外構</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F_Category</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.OppStatus__c}
,&apos;未着手&apos;, &apos;1&apos;
,&apos;訪問1回目&apos;, &apos;2&apos;
,&apos;見積提出&apos;, &apos;2&apos;
,&apos;購買決定者検討中&apos;, &apos;2&apos;
,&apos;トライアル&apos;, &apos;2&apos;
,&apos;採用一歩手前&apos;, &apos;2&apos;
,&apos;採用（受注）&apos;, &apos;3&apos;
,&apos;失注&apos;, IF( {!$Flow.CurrentDate} - {!$Record.FirstEstimates__c} &gt; 365 , &apos;1&apos; ,&apos;0&apos;)
,&apos;検討保留&apos;, IF( {!$Flow.CurrentDate} - {!$Record.FirstEstimates__c} &gt; 365 , &apos;1&apos; ,&apos;0&apos;)
,&apos;停滞保留&apos;, &apos;2&apos;
,&apos;提案不可&apos;, &apos;4&apos;
,&apos;9&apos;)</expression>
    </formulas>
    <interviewLabel>【】 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【住環境_カテゴリ別】新規処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Upd1</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Category2__c</field>
            <value>
                <elementReference>F_Category</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd2</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Category3__c</field>
            <value>
                <elementReference>F_Category</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd3</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Category4__c</field>
            <value>
                <elementReference>F_Category</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd4</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Category1__c</field>
            <value>
                <elementReference>F_Category</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd5</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Category5__c</field>
            <value>
                <elementReference>F_Category</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd6</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Category6__c</field>
            <value>
                <elementReference>F_Category</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Upd7</name>
        <label>更新</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Category9__c</field>
            <value>
                <elementReference>F_Category</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Chk</targetReference>
        </connector>
        <object>JU_Category__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
