force-app/main/default/flows/NHR_Opp_Jukankyo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set10</name>
        <label>割当</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.JU_bpo_lostday__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set2</name>
        <label>割当</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.JU_FirstVisitDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase2_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set3</name>
        <label>割当</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.JU_FirstVisitDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase2_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FirstEstimates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase3_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set4</name>
        <label>割当</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.JU_FirstVisitDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase2_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FirstEstimates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase3_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_PurchaseDecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase4_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set5</name>
        <label>割当</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.JU_FirstVisitDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase2_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FirstEstimates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase3_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_PurchaseDecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase4_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_TrialDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase5_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set6</name>
        <label>割当</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.JU_FirstVisitDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase2_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FirstEstimates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase3_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_PurchaseDecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase4_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_TrialDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase5_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_OneStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase6_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set7</name>
        <label>割当</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.JU_FirstVisitDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase2_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FirstEstimates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase3_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_PurchaseDecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase4_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_TrialDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase5_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_OneStepDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase6_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.JU_Saiyoubi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phase7_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set8</name>
        <label>割当</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.JU_StaPendingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set9</name>
        <label>割当</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.JU_CancelDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>StatusChk</name>
        <label>ステータスチェック</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>P1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>未着手</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>未着手</label>
        </rules>
        <rules>
            <name>P2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>訪問1回目</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set2</targetReference>
            </connector>
            <label>訪問1回目</label>
        </rules>
        <rules>
            <name>P3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>初回見積提出</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set3</targetReference>
            </connector>
            <label>初回見積提出</label>
        </rules>
        <rules>
            <name>P4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>購買決定者検討中</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set4</targetReference>
            </connector>
            <label>購買決定者検討中</label>
        </rules>
        <rules>
            <name>P5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>トライアル</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set5</targetReference>
            </connector>
            <label>トライアル</label>
        </rules>
        <rules>
            <name>P6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>採用一歩手前</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set6</targetReference>
            </connector>
            <label>採用一歩手前</label>
        </rules>
        <rules>
            <name>P7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>停滞保留中</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set8</targetReference>
            </connector>
            <label>停滞保留中</label>
        </rules>
        <rules>
            <name>P9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>検討保留</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set9</targetReference>
            </connector>
            <label>検討保留</label>
        </rules>
        <rules>
            <name>P10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>不採用</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set10</targetReference>
            </connector>
            <label>不採用</label>
        </rules>
        <rules>
            <name>P11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>採用（受注）</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOrChangeStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set7</targetReference>
            </connector>
            <label>採用（受注）</label>
        </rules>
    </decisions>
    <description>・ステータス変更日記憶</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNewOrChangeStage</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISNEW() ,  ISCHANGED({!$Record.StageName}))</expression>
    </formulas>
    <formulas>
        <description>訪問1回目日</description>
        <name>phase2_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.JU_FirstVisitDate__c}) , {!$Flow.CurrentDate} , {!$Record.JU_FirstVisitDate__c})</expression>
    </formulas>
    <formulas>
        <description>初回見積提出日</description>
        <name>phase3_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.FirstEstimates__c}) , {!$Flow.CurrentDate} , {!$Record.FirstEstimates__c})</expression>
    </formulas>
    <formulas>
        <description>購買決定者検討中日</description>
        <name>phase4_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.JU_PurchaseDecisionDate__c}) , {!$Flow.CurrentDate} , {!$Record.JU_PurchaseDecisionDate__c})</expression>
    </formulas>
    <formulas>
        <description>トライアル日</description>
        <name>phase5_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.JU_TrialDate__c}) , {!$Flow.CurrentDate} , {!$Record.JU_TrialDate__c})</expression>
    </formulas>
    <formulas>
        <description>採用一歩手前日</description>
        <name>phase6_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.JU_OneStepDate__c}) , {!$Flow.CurrentDate} , {!$Record.JU_OneStepDate__c})</expression>
    </formulas>
    <formulas>
        <description>採用日</description>
        <name>phase7_date</name>
        <dataType>Date</dataType>
        <expression>if ( ISNULL({!$Record.JU_Saiyoubi__c}) , {!$Flow.CurrentDate} , {!$Record.JU_Saiyoubi__c})</expression>
    </formulas>
    <interviewLabel>【商談】住環境_作成・更新時の処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】住環境_作成・更新時の処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdOpp</name>
        <label>更新</label>
        <locationX>1106</locationX>
        <locationY>623</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusChk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125h000000Y9ROAA0</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
