force-app/main/default/flows/NHR_Event_DX_WordFieldUpd.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>NameReset</name>
        <label>名前加工</label>
        <locationX>600</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>DX_Name_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_DX_Name_Text_Reset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChkUpd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NameSet</name>
        <label>名前設定</label>
        <locationX>952</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>DX_Name_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>F_DX_Name_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConvenerParam</name>
        <label>被招集者設定</label>
        <locationX>688</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>DX_Nhr_Participants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>F_DX_Nhr_Participants</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInitialValue</name>
        <label>初期値設定</label>
        <locationX>732</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>DX_Nhr_Participants</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOwnerIds.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetConveners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetWhatName1</name>
        <label>関連先名設定</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>WhatName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWhatInfo.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetWhatName2</name>
        <label>関連先名設定</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>WhatName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWhatInfo2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upd</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChkTarget</name>
        <label>対象チェック</label>
        <locationX>952</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Convener</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.RelationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUserInfo</targetReference>
            </connector>
            <label>被招集者</label>
        </rules>
        <rules>
            <name>NameChk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.RelationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContacts</targetReference>
            </connector>
            <label>名前</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChkUpd</name>
        <label>更新チェック</label>
        <locationX>732</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>更新しない</defaultConnectorLabel>
        <rules>
            <name>UpdProcess</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DX_Nhr_Participants</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DX_Nhr_Participants__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DX_Name_Text</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DX_Name_Text__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.WhatId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhatChk</targetReference>
            </connector>
            <label>更新する</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConvenerChk</name>
        <label>被招集者チェック</label>
        <locationX>732</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>ChkUpd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>被招集者なし</defaultConnectorLabel>
        <rules>
            <name>ConvenerIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetConveners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>被招集者あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>ObjChk</name>
        <label>関連先チェック</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Upd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Obj001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWhatInfo</targetReference>
            </connector>
            <label>取引先</label>
        </rules>
        <rules>
            <name>Obj006</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWhatInfo2</targetReference>
            </connector>
            <label>商談</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatChk</name>
        <label>関連先変更チェック</label>
        <locationX>534</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Upd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>WhatChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.WhatId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObjChk</targetReference>
            </connector>
            <label>関連先変更あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F_DX_Name_Text</name>
        <dataType>String</dataType>
        <expression>{!GetContacts.Name} &amp; &apos;、&apos;</expression>
    </formulas>
    <formulas>
        <name>F_DX_Name_Text_Reset</name>
        <dataType>String</dataType>
        <expression>LEFT({!DX_Name_Text}, LEN({!DX_Name_Text}) - 1)</expression>
    </formulas>
    <formulas>
        <name>F_DX_Nhr_Participants</name>
        <dataType>String</dataType>
        <expression>&apos;、&apos; &amp; {!GetUserInfo.Name}</expression>
    </formulas>
    <interviewLabel>【行動】DX_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【行動】DX_Word出力項目更新</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>600</locationX>
        <locationY>755</locationY>
        <collectionReference>GetConveners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChkTarget</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NameReset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContacts</name>
        <label>責任者取得</label>
        <locationX>952</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NameSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop.RelationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetConveners</name>
        <label>被招集者取得</label>
        <locationX>732</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConvenerChk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOwnerIds</name>
        <label>割り当て先取得</label>
        <locationX>732</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetInitialValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserInfo</name>
        <label>ユーザ情報取得</label>
        <locationX>688</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetConvenerParam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop.RelationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWhatInfo</name>
        <label>関連先取得</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetWhatName1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWhatInfo2</name>
        <label>関連先取得</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetWhatName2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upd</name>
        <label>更新</label>
        <locationX>534</locationX>
        <locationY>2255</locationY>
        <inputAssignments>
            <field>DX_Name_Text__c</field>
            <value>
                <elementReference>DX_Name_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DX_Nhr_Participants__c</field>
            <value>
                <elementReference>DX_Nhr_Participants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatName__c</field>
            <value>
                <elementReference>WhatName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOwnerIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsChild</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DX_Name_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DX_Nhr_Participants</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
