force-app/main/default/flows/OppCreateEstimateLog.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignKey</name>
        <label>判定用KEY作成</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCategory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignGetChild.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCategory</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignGetChild</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision</name>
        <label>決定</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Create_EstimateLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>decision_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>初回見積</stringValue>
                </rightValue>
            </conditions>
            <label>見積履歴レコードあり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_arari1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount}*({!$Record.mitsumoririekiritsu__c}/100)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>【商談】見積履歴レコード作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】見積履歴レコード作成</label>
    <loops>
        <name>assignGetChild</name>
        <label>取得した情報の割り当て</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetChild</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignKey</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EstimateLog</name>
        <label>見積履歴レコード作成</label>
        <locationX>308</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>初回見積</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimatememo__c</field>
            <value>
                <elementReference>$Record.CW_EstimatedContent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oppcategory__c</field>
            <value>
                <elementReference>$Record.cw_syoudansyubetsu__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oppestimate__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mitsumoririekiritsu__c</field>
            <value>
                <elementReference>$Record.mitsumoririekiritsu__c</elementReference>
            </value>
        </inputAssignments>
        <object>EstimateLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetChild</name>
        <label>紐づく子レコード情報を取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignGetChild</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oppestimate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EstimateLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opp</name>
        <label>トリガーレコード更新</label>
        <locationX>308</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>arari1__c</field>
            <value>
                <elementReference>formula_arari1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetChild</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>mitsumoririekiritsu__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125h000000Y9RTAA0</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
