force-app/main/default/flows/OppPhaseChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decision_status</name>
        <label>ステータスの値確認</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NT_phase01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>見積提出</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_2</targetReference>
            </connector>
            <label>見積提出</label>
        </rules>
        <rules>
            <name>NT_phase02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatus2</targetReference>
            </connector>
            <label>受注.</label>
        </rules>
        <rules>
            <name>NT_phase03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>検討保留</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatus3</targetReference>
            </connector>
            <label>検討保留</label>
        </rules>
        <rules>
            <name>NT_phase04</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>完了</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatus4</targetReference>
            </connector>
            <label>完了</label>
        </rules>
        <rules>
            <name>NT_phase05</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>失注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatus5</targetReference>
            </connector>
            <label>失注</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>now</name>
        <dataType>Date</dataType>
        <expression>NOW()+ 9/24</expression>
    </formulas>
    <interviewLabel>【商談】フェーズ変更日取得 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】フェーズ変更日取得_NT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateStatus2</name>
        <label>ステータス更新日2</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>en_zyutyuubi__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus3</name>
        <label>ステータス更新日3</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>JU_CancelDate__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus4</name>
        <label>ステータス更新日4</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ju_syoudan_kanryoubi__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatus5</name>
        <label>ステータス更新日5</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>EN_sittyuuhanteibi__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X2_2</name>
        <label>ステータス更新日1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>FirstEstimates__c</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_status</targetReference>
        </connector>
        <filterFormula>({!$Record.RecordType.Name}=&quot;マテコ&quot;&amp;&amp;ISNEW())
||
({!$Record.RecordType.Name}=&quot;マテコ&quot;&amp;&amp;ISCHANGED({!$Record.StageName}))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
