force-app/main/default/flows/OppUpdateEstimated_AmountDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>UniqueName</name>
        <label>割り当て</label>
        <locationX>264</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>var_TotalRevenue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.EstimatedAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>calculation</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.Theme__r.Estimated_Amount__c}, 0) - BLANKVALUE({!var_TotalRevenue}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>【】 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】テーマ概算金額更新_商談削除時</label>
    <loops>
        <name>Loop</name>
        <label>ループ</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <collectionReference>GetOppRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UniqueName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateThema</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOppRecords</name>
        <label>関連商談の取得</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Theme__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Theme__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EstimatedAmount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RC0000015RevYAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Theme__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getThemeID</name>
        <label>テーマIDの取得</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOppRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Theme__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Theme__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateThema</name>
        <label>テーマレコードの更新</label>
        <locationX>176</locationX>
        <locationY>803</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getThemeID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RemainingEstimateAmount__c</field>
            <value>
                <elementReference>calculation</elementReference>
            </value>
        </inputAssignments>
        <object>Theme__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getThemeID</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_TotalRevenue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
