force-app/main/default/flows/Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_30_A2</name>
        <label>メール通知</label>
        <locationX>50</locationX>
        <locationY>4919</locationY>
        <actionName>Event.Juju_ActionEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SetSendid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event.Juju_ActionEmail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_30_A3</name>
        <label>行動通知</label>
        <locationX>50</locationX>
        <locationY>5135</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0MLBV00000000Iy4AI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>sendUserIdList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>行動が共有されました。</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Alert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetSendid</name>
        <label>送信先設定</label>
        <locationX>50</locationX>
        <locationY>5027</locationY>
        <assignmentItems>
            <assignToReference>sendUserIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ka_tuchisaki__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_30_A3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myRule_1</name>
        <label>住環境得意先課題１入力時</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_住環境得意先課題１入力時</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_住環境得意先課題１入力時</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>CSWEB得意先課題２入力時</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>myRule_17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CSWEB得意先課題２入力時</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE_CSWEB得意先課題２入力時</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_17</name>
        <label>住環境活動作成時</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_住環境活動作成時</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jyukankyo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_住環境活動作成時</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19</name>
        <label>CSWEB活動作成時</label>
        <locationX>182</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>myRule_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CSWEB活動作成時</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>訪問</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSWEB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>TRUE_CSWEB活動作成時</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_21</name>
        <label>エンジ行動作成時</label>
        <locationX>182</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>myRule_23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_エンジ行動作成時</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EN_syubetsu__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>訪問</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>TRUE_エンジ行動作成時</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_23</name>
        <label>エンジ課題１入力時</label>
        <locationX>182</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>myRule_27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_エンジ課題１入力時</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>TRUE_エンジ課題１入力時</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_27</name>
        <label>エンジ課題２入力時</label>
        <locationX>182</locationX>
        <locationY>3479</locationY>
        <defaultConnector>
            <targetReference>X1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_エンジ課題２入力時</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>TRUE_エンジ課題２入力時</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_30</name>
        <label>通知先にユーザー名あり</label>
        <locationX>182</locationX>
        <locationY>4703</locationY>
        <defaultConnectorLabel>FALSE_通知先にユーザー名あり</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jyukankyo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ka_tuchisaki__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_通知先にユーザー名あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>住環境得意先課題2入力時</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_住環境得意先課題2入力時</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TRUE_住環境得意先課題2入力時</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>CSWEB得意先課題１入力時</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CSWEB得意先課題１入力時</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>TRUE_CSWEB得意先課題１入力時</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1</name>
        <label>ソリューション課題１入力時</label>
        <locationX>182</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>X2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_ソリューション課題１入力時</defaultConnectorLabel>
        <rules>
            <name>X1_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Todo</targetReference>
            </connector>
            <label>TRUE_ソリューション課題１入力時</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2</name>
        <label>2/エンジ課題２入力時 をコピー</label>
        <locationX>182</locationX>
        <locationY>4295</locationY>
        <defaultConnector>
            <targetReference>myRule_30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_ソリューション課題２入力時</defaultConnectorLabel>
        <rules>
            <name>X2_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Todo</targetReference>
            </connector>
            <label>TRUE_ソリューション課題２入力時</label>
        </rules>
    </decisions>
    <description>複数の条件を使用して 【行動】作成・更新時 プロセスから移行されました。</description>
    <environments>Default</environments>
    <formulas>
        <name>Alert</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp; &apos;に関する行動を&apos; &amp; {!$Record.Owner:User.LastName} &amp;{!$Record.Owner:User.FirstName}&amp;&apos;が作成しました。&apos;</expression>
    </formulas>
    <formulas>
        <name>formula_10_myRule_23_A1_4526195496</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>formula_11_myRule_27_A1_8934002425</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( ({!$Record.Deadline2__c} - 7)- (9/24))</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_1_A1_3022933962</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( ({!$Record.Deadline1__c} - 7)- (9/24))</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_1_A1_3563942163</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_5_A1_7458534590</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( ({!$Record.Deadline2__c} - 7)- (9/24))</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_5_A1_7338565520</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_9_A1_0251055826</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( ({!$Record.Deadline1__c} - 3)- (9/24))</expression>
    </formulas>
    <formulas>
        <name>formula_6_myRule_9_A1_9087694138</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp;&quot;様の課題対応1&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_7_myRule_13_A1_7077407510</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( ({!$Record.Deadline2__c} - 3)- (9/24))</expression>
    </formulas>
    <formulas>
        <name>formula_8_myRule_13_A1_2038523261</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} &amp;&quot;様の課題対応2&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_9_myRule_23_A1_8293677884</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE( ({!$Record.Deadline1__c} - 7)- (9/24))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.AccountTask1__c})), NOT(ISBLANK({!$Record.DeadLine1__c})),{!$Record.AccountTask1Flag__c=FALSE} ,{!$Record.RecordType.Name=&quot;住環境&quot;} )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.AccountTask2__c})), NOT(ISBLANK({!$Record.DeadLine2__c})),{!$Record.AccountTask2Flag__c=FALSE} ,{!$Record.RecordType.Name=&quot;CSWEB&quot;} )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.AccountTask1__c})), NOT(ISBLANK({!$Record.DeadLine1__c})),{!$Record.AccountTask1Flag__c=FALSE} ,{!$Record.RecordType.DeveloperName=&quot;Solution&quot;} )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.AccountTask2__c})), NOT(ISBLANK({!$Record.DeadLine2__c})),{!$Record.AccountTask2Flag__c=FALSE} ,{!$Record.RecordType.DeveloperName=&quot;Solution&quot;} )</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.AccountTask2__c})), NOT(ISBLANK({!$Record.DeadLine2__c})),{!$Record.AccountTask2Flag__c=FALSE} ,{!$Record.RecordType.Name=&quot;住環境&quot;})</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!$Record.AccountTask1__c})), NOT(ISBLANK({!$Record.DeadLine1__c})),{!$Record.AccountTask1Flag__c=FALSE} ,{!$Record.RecordType.Name=&quot;CSWEB&quot;} )</expression>
    </formulas>
    <label>【行動】作成・更新時</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_13_A1</name>
        <label>得意先課題作成（ToDo）</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.DeadLine2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.AccountTask2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_7_myRule_13_A1_7077407510</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>対応中</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_8_myRule_13_A1_2038523261</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>得意先課題</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>得意先課題作成（ToDo）</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.DeadLine1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.AccountTask1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_1_myRule_1_A1_3022933962</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>対応中</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_3563942163</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>得意先課題</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_23_A1</name>
        <label>課題作成(Todo)</label>
        <locationX>50</locationX>
        <locationY>3179</locationY>
        <connector>
            <targetReference>myRule_23_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.DeadLine1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.AccountTask1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012RC000000B6IDYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_9_myRule_23_A1_8293677884</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>対応中</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_10_myRule_23_A1_4526195496</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>得意先課題</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_27_A1</name>
        <label>課題作成(Todo)</label>
        <locationX>50</locationX>
        <locationY>3587</locationY>
        <connector>
            <targetReference>myRule_27_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.DeadLine2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.AccountTask2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012RC000000B6IDYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_11_myRule_27_A1_8934002425</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>対応中</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>得意先課題</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_5_A1</name>
        <label>得意先課題2作成（ToDo）</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.DeadLine2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.AccountTask2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_3_myRule_5_A1_7458534590</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>対応中</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_4_myRule_5_A1_7338565520</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>得意先課題</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_9_A1</name>
        <label>得意先課題作成（ToDo）</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.DeadLine1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.AccountTask1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_5_myRule_9_A1_0251055826</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>対応中</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_6_myRule_9_A1_9087694138</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>得意先課題</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X1_Todo</name>
        <label>課題作成(Todo)</label>
        <locationX>50</locationX>
        <locationY>3995</locationY>
        <connector>
            <targetReference>X1_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.DeadLine1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.AccountTask1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012RC000000EsTZYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_9_myRule_23_A1_8293677884</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>対応中</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_10_myRule_23_A1_4526195496</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>得意先課題</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>X2_Todo</name>
        <label>課題作成(Todo)</label>
        <locationX>50</locationX>
        <locationY>4403</locationY>
        <connector>
            <targetReference>X1_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.DeadLine2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.AccountTask2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012RC000000EsTZYA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formula_11_myRule_27_A1_8934002425</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>対応中</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>得意先課題</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>myRule_13_A2</name>
        <label>作成済みフラグ2にチェック</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>myRule_17</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountTask2Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_17_A1</name>
        <label>最終訪問日設定</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>myRule_17_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JU_LastVisitDay__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JU_LastVisitDay__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Who</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_17_A2</name>
        <label>最終訪問日設定(初回)</label>
        <locationX>50</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>myRule_19</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JU_LastVisitDay__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>JU_LastVisitDay__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Who</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A1</name>
        <label>最終訪問日設定</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CW_LastVisitDay__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CW_LastVisitDay__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Who</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A2</name>
        <label>最終訪問日設定(初回)</label>
        <locationX>50</locationX>
        <locationY>2579</locationY>
        <connector>
            <targetReference>myRule_21</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CW_LastVisitDay__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CW_LastVisitDay__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Who</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A2</name>
        <label>作成済みフラグにチェック</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountTask1Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_21_A1</name>
        <label>最終訪問日設定</label>
        <locationX>50</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>myRule_23</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>en_saisyuhoumonbi__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>en_saisyuhoumonbi__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Who</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_23_A2</name>
        <label>作成済みフラグ1にチェック</label>
        <locationX>50</locationX>
        <locationY>3287</locationY>
        <connector>
            <targetReference>myRule_27</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountTask1Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_27_A2</name>
        <label>作成済みフラグ2にチェック</label>
        <locationX>50</locationX>
        <locationY>3695</locationY>
        <connector>
            <targetReference>X1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountTask2Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_30_A1</name>
        <label>通知先メールアドレスを更新</label>
        <locationX>50</locationX>
        <locationY>4811</locationY>
        <connector>
            <targetReference>myRule_30_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>tuchisakimail__c</field>
            <value>
                <elementReference>$Record.ka_tuchisaki__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_5_A2</name>
        <label>作成済みフラグ2にチェック</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountTask2Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_9_A2</name>
        <label>作成済みフラグ1にチェック</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>myRule_13</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountTask1Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X1_1</name>
        <label>作成済みフラグ1にチェック</label>
        <locationX>50</locationX>
        <locationY>4103</locationY>
        <connector>
            <targetReference>X2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountTask1Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X1_2</name>
        <label>作成済みフラグ2にチェック</label>
        <locationX>50</locationX>
        <locationY>4511</locationY>
        <connector>
            <targetReference>myRule_30</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountTask2Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sendUserIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
