force-app/main/default/flows/property_account_pointTally_del.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CreatedPointCheck</name>
        <label>ポイント付与済かチェック</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>CreatedPoint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Point__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectCreatedPoint</targetReference>
            </connector>
            <label>ポイント付与済</label>
        </rules>
    </decisions>
    <description>物件/得意先が削除される際に、ポイント削除</description>
    <environments>Default</environments>
    <interviewLabel>物件/得意先_ポイント集計処理(削除) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>物件/得意先_ポイント集計処理(削除)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DelPoint</name>
        <label>ポイント削除</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputReference>SelectCreatedPoint</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>SelectCreatedPoint</name>
        <label>付与済ポイント取得</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DelPoint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Point__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Point__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreatedPointCheck</targetReference>
        </connector>
        <object>property_account__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
