force-app/main/default/flows/property_pointTally_zyutyusaki.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetPoint</name>
        <label>ポイント設定</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>NewPointRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.zyutyusaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPointRecord.ContactPointFrom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.zyutyusakigenbatantousya__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPointRecord.UpdDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPointRecord.UpdUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPointRecord.Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPointRecord.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePoint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPointZyouhougen</name>
        <label>ポイント内容更新（元請）</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SelectPointzyouhougen.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.zyutyusaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectPointzyouhougen.ContactPointFrom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.zyutyusakigenbatantousya__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectPointzyouhougen.UpdDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectPointzyouhougen.UpdUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectPointzyouhougen.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdPointZyouhougen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DelCheckJyouhougen</name>
        <label>削除判断(元請)</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>SetPointZyouhougen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>変更</defaultConnectorLabel>
        <rules>
            <name>DelJyouhougen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zyutyusakigenbatantousya__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zyutyusaki__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DelPointZyouhougen</targetReference>
            </connector>
            <label>削除</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistenceCheckJyouhougen</name>
        <label>存在チェック(元請)</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>NewPoint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ポイント付与未(元請)</defaultConnectorLabel>
        <rules>
            <name>PointAwardedJyouhougen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Point_zyutyusaki__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectPointzyouhougen</targetReference>
            </connector>
            <label>ポイント付与済(元請)</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewPoint</name>
        <label>新規ポイント(情報源)</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>PointCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zyutyusakigenbatantousya__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zyutyusaki__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPoint</targetReference>
            </connector>
            <label>ポイント付与(元請)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>物件_元請_ポイント集計処理(新規・更新) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>物件_元請_ポイント集計処理(新規・更新)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreatePoint</name>
        <label>ポイント新規作成</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>LinkToPoint</targetReference>
        </connector>
        <inputReference>NewPointRecord</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DelPointZyouhougen</name>
        <label>ポイント削除(元請)</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>SelectPointzyouhougen</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>SelectPointzyouhougen</name>
        <label>付与済ポイント取得(元請)</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DelCheckJyouhougen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Point_zyutyusaki__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Point__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>LinkToPoint</name>
        <label>ポイントと紐付く</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Point_zyutyusaki__c</field>
            <value>
                <elementReference>NewPointRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdPointZyouhougen</name>
        <label>ポイント更新(元請)</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>SelectPointzyouhougen</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ExistenceCheckJyouhougen</targetReference>
        </connector>
        <filterFormula>OR (ISNEW() ,ISCHANGED( {!$Record.zyutyusakigenbatantousya__c} ),ISCHANGED( {!$Record.zyutyusaki__c}))</filterFormula>
        <object>property__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewPointRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Point__c</objectType>
    </variables>
</Flow>
