force-app/main/default/flows/scheduledFlowSteelOverdueCompletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>dec_IsTargetDate</name>
        <label>dec_IsTargetDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>whenIsTargetDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_IsTargetDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>invokeSubFlowNotifyCompletionDateExceeded</targetReference>
            </connector>
            <label>whenIsTargetDate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_IsTargetDate</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.ST_syukou__c} = {!$Flow.CurrentDate} - 1</expression>
    </formulas>
    <interviewLabel>【商談】スチール：竣工日超過判定バッチ処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】スチール：竣工日超過判定バッチ処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_IsTargetDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordTypeId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RC000000GnUb</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完成</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>失注</stringValue>
            </value>
        </filters>
        <filters>
            <field>ST_SalesRepresentative__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-04-14</startDate>
            <startTime>09:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>invokeSubFlowNotifyCompletionDateExceeded</name>
        <label>call：【sub】スチール：竣工日超過通知処理</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>subFlowNotifyCompletionDateExceeded</flowName>
        <inputAssignments>
            <name>inputOpp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
