force-app/main/default/flows/scheduleFlowOppKankouCheckDailyRemind.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addTargetCustomNotify</name>
        <label>addTargetCustomNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>targetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_ConstructionSupervisor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_ConstructionSupervisor__r.Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTargetMailNotify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTargetMailNotify</name>
        <label>addTargetMailNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_ConstructionSupervisor__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_ConstructionSupervisor__r.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invokeSubFlowSteelNotifications</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>【商談】完工チェック_リマインド処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】完工チェック_リマインド処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>addTargetCustomNotify</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9) AND 10</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RC000000GnUbYAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>完成</stringValue>
            </value>
        </filters>
        <filters>
            <field>ST_IsTarget_KankouCheck__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CompletionCertificateReceived__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StatusChangedToCompleted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AdditionalSettlementCompleted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AllInvoicesIssuedToCustomer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LaborPaymentToSubcontractorCompleted__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AllMaterialsWarehousedByFactory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>006RC00001MQUjdYAH</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-04-20</startDate>
            <startTime>06:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>invokeSubFlowSteelNotifications</name>
        <label>呼び出し:【sub】スチール向け各種通知処理</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>subFlowSteelNotifications</flowName>
        <inputAssignments>
            <name>inputNotifyTargetOpp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notifyType</name>
            <value>
                <stringValue>C_完了後記録不備リマインド</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetCustomNotify</name>
            <value>
                <elementReference>targetCustomNotify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetMailNotify</name>
            <value>
                <elementReference>targetMailNotify</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>targetCustomNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetMailNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
