force-app/main/default/flows/scheduleFlowOppSyukouOverdueDailyRemind.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addTargetCustomNotify</name>
        <label>addTargetCustomNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>targetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_SalesRepresentative__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_SalesRepresentative__r.Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTargetMailNotify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTargetMailNotify</name>
        <label>addTargetMailNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_SalesRepresentative__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ST_SalesRepresentative__r.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invokeSubFlowSteelNotifications</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>【商談】竣工日超過リマインド（日次バッチ） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】竣工日超過リマインド（日次バッチ）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>addTargetCustomNotify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RC000000GnUbYAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>完了</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>失注</stringValue>
            </value>
        </filters>
        <filters>
            <field>ST_IsTarget_SyukouOverdue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>006RC00001MQUjdYAH</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-04-20</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>invokeSubFlowSteelNotifications</name>
        <label>呼び出し:【sub】スチール向け各種通知処理</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>subFlowSteelNotifications</flowName>
        <inputAssignments>
            <name>inputNotifyTargetOpp</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>notifyType</name>
            <value>
                <stringValue>B_竣工日超過リマインド</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetCustomNotify</name>
            <value>
                <elementReference>targetCustomNotify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetMailNotify</name>
            <value>
                <elementReference>targetMailNotify</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>targetCustomNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetMailNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
