force-app/main/default/flows/schedFlowAccountCreateAEMailFromVisitorActivity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setCollectionEventForCreate_caseBlank</name>
        <label>setCollectionEventForCreate_caseBlank</label>
        <locationX>270</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>collectionEventForCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempValEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setRecVal_tempValSubject_tempValWhatIdTxt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCounterAccountContactRelation</name>
        <label>setCounterAccountContactRelation</label>
        <locationX>622</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>counterAccountContactRelation</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>counterValAccountContactRelation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setTempValSubject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewEvent</name>
        <label>setNewEvent</label>
        <locationX>270</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>tempValEvent.DX_outline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DX_outlineTxt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempValEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCheckTargetVisitorActivity.pd_jp_20151124__Email_Sent_At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempValEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventOwnerUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempValEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempValEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCheckTargetVisitorActivity.pd_jp_20151124__Email_Sent_At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempValEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempValSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempValEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempValWhatIdTxt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempValEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>whoIdTxt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempValEvent.dx_katsudou_mokuteki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dx_katsudou_mokutekiTxt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempValEvent.channelType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>メール</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setCollectionEventForCreate_caseBlank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecVal_tempValSubject_tempValWhatIdTxt</name>
        <label>setRecVal_tempValSubject_tempValWhatIdTxt</label>
        <locationX>270</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>recVal_tempValSubject_tempValWhatIdTxt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curVal_tempValSubject_tempValWhatIdTxt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCheckTargetVisitorActivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTempValSubject</name>
        <label>setTempValSubject</label>
        <locationX>622</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>tempValSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCheckTargetVisitorActivity.pd_jp_20151124__Email_Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setTempValWhatIdTxt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTempValWhatIdTxt</name>
        <label>setTempValWhatIdTxt</label>
        <locationX>622</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>tempValWhatIdTxt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountContactRelation.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTargetVisitorActivity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setValToCounterCollectionEventForCreate</name>
        <label>setValToCounterCollectionEventForCreate</label>
        <locationX>182</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>counterCollectionEventForCreate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionEventForCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkCounterCollectionEventForCreate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCounterCollectionEventForCreate</name>
        <label>checkCounterCollectionEventForCreate</label>
        <locationX>182</locationX>
        <locationY>1716</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseNotZero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counterCollectionEventForCreate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewEvent</targetReference>
            </connector>
            <label>caseNotZero</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTargetVisitorActivity</name>
        <label>checkTargetVisitorActivity</label>
        <locationX>622</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>loopCheckTargetVisitorActivity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCheckTargetVisitorActivity.pd_jp_20151124__Email_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recVal_tempValSubject_tempValWhatIdTxt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterAccountContactRelation</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNewEvent</targetReference>
            </connector>
            <label>caseBlank</label>
        </rules>
        <rules>
            <name>caseIsPrepTarget_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCheckTargetVisitorActivity.pd_jp_20151124__Email_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isPrepTarget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterAccountContactRelation</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>setNewEvent</targetReference>
            </connector>
            <label>caseIsPrepTarget_true</label>
        </rules>
        <rules>
            <name>caseIsPrepTarget_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCheckTargetVisitorActivity.pd_jp_20151124__Email_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isPrepTarget</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>counterAccountContactRelation</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopCheckTargetVisitorActivity</targetReference>
            </connector>
            <label>caseIsPrepTarget_false</label>
        </rules>
    </decisions>
    <description>行動の作成先を子取引先に設定</description>
    <environments>Default</environments>
    <formulas>
        <name>curVal_tempValSubject_tempValWhatIdTxt</name>
        <dataType>String</dataType>
        <expression>{!tempValSubject}+&quot;_&quot;+{!tempValWhatIdTxt}+&quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>dx_katsudou_mokutekiTxt</name>
        <dataType>String</dataType>
        <expression>&quot;マーケメール配信&quot;</expression>
    </formulas>
    <formulas>
        <name>eventOwnerUserId</name>
        <dataType>String</dataType>
        <expression>&quot;005BV000000J75pYAC&quot;</expression>
    </formulas>
    <formulas>
        <name>eventRecordTypeId</name>
        <dataType>String</dataType>
        <expression>&quot;012BV0000004HuFYAU&quot;</expression>
    </formulas>
    <formulas>
        <name>isPrepTarget</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS(
    {!recVal_tempValSubject_tempValWhatIdTxt},
    {!curVal_tempValSubject_tempValWhatIdTxt}
))</expression>
    </formulas>
    <formulas>
        <name>isTestTargetRecord</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!loopCheckTargetVisitorActivity.pd_jp_20151124__AC_Prospect__r.pd_jp_20151124__Contact__r.Id} == &quot;003RC000006SawVYAS&quot;, 
{!loopCheckTargetVisitorActivity.pd_jp_20151124__AC_Prospect__r.pd_jp_20151124__Contact__r.Id} == &quot;003RC000004CcyWYAS&quot;
)</expression>
    </formulas>
    <formulas>
        <name>mailUrl</name>
        <dataType>String</dataType>
        <expression>&quot;https://pi.pardot.com/email/read/id/&quot;&amp;{!loopCheckTargetVisitorActivity.pd_jp_20151124__email_id__c}</expression>
    </formulas>
    <formulas>
        <name>subjectTxt</name>
        <dataType>String</dataType>
        <expression>{!loopCheckTargetVisitorActivity.pd_jp_20151124__Email_Title__c}</expression>
    </formulas>
    <formulas>
        <name>targetEmailSentDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 1</expression>
    </formulas>
    <formulas>
        <name>targetEndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT($Flow.CurrentDate) &amp; &quot; 00:00:00&quot;) - (9/24)</expression>
    </formulas>
    <formulas>
        <name>targetStartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT($Flow.CurrentDate - 1) &amp; &quot; 00:00:00&quot;) - (9/24)</expression>
    </formulas>
    <formulas>
        <name>whatIdTxt</name>
        <dataType>String</dataType>
        <expression>{!loopCheckTargetVisitorActivity.pd_jp_20151124__AC_Prospect__r.pd_jp_20151124__Account__r.Id}</expression>
    </formulas>
    <formulas>
        <name>whoIdTxt</name>
        <dataType>String</dataType>
        <expression>{!loopCheckTargetVisitorActivity.pd_jp_20151124__AC_Prospect__r.pd_jp_20151124__Contact__r.ID_18_2__c}</expression>
    </formulas>
    <interviewLabel>【取引先】VisitorActivityによるAEメール関連行動の作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【取引先】VisitorActivityによるAEメール関連行動の作成</label>
    <loops>
        <name>loopCheckTargetVisitorActivity</name>
        <label>loopCheckTargetVisitorActivity</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>getTargetVisitorActivity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getAccountContactRelation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setValToCounterCollectionEventForCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewEvent</name>
        <label>createNewEvent</label>
        <locationX>50</locationX>
        <locationY>1824</locationY>
        <inputReference>collectionEventForCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>counterValAccountContactRelation</name>
        <label>counterValAccountContactRelation</label>
        <locationX>622</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCounterAccountContactRelation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopCheckTargetVisitorActivity.pd_jp_20151124__AC_Prospect__r.pd_jp_20151124__Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>2.0</numberValue>
        </limit>
        <object>AccountContactRelation</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountContactRelation</name>
        <label>getAccountContactRelation</label>
        <locationX>622</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>counterValAccountContactRelation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopCheckTargetVisitorActivity.pd_jp_20151124__AC_Prospect__r.pd_jp_20151124__Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTargetVisitorActivity</name>
        <label>getTargetVisitorActivity</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopCheckTargetVisitorActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>relatedAccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pd_jp_20151124__activity_name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetActivityName</elementReference>
            </value>
        </filters>
        <filters>
            <field>pd_jp_20151124__Email_Sent_At__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>targetStartDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>pd_jp_20151124__Email_Sent_At__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>targetEndDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pd_jp_20151124__ABM_VisitorActivity__c</object>
        <sortField>pd_jp_20151124__Email_Title__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTargetVisitorActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isNotificationTarget__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-06</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DX_outlineTxt</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>メール件名：{!loopCheckTargetVisitorActivity.pd_jp_20151124__Email_Title__c}
メール本文：{!mailUrl}</text>
    </textTemplates>
    <variables>
        <name>collectionEventForCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>counterAccountContactRelation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>counterCollectionEventForCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recVal_tempValSubject_tempValWhatIdTxt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetActivityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>メール送信</stringValue>
        </value>
    </variables>
    <variables>
        <name>tempValEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>tempValSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempValWhatIdTxt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
