force-app/main/default/flows/SL_Opportunity_Schedule_UpdLostOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set</name>
        <label>割り当て</label>
        <locationX>270</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>loop.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>失注</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetUpdList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdList</name>
        <label>更新対象割り当て</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>UpdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>更新対象チェック</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>UpdIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upd</targetReference>
            </connector>
            <label>更新あり</label>
        </rules>
    </decisions>
    <description>「見積有効期限日」に日付が変わって、フェーズが見積書・発注書提出フェーズのままの場合は「失注」に変更</description>
    <environments>Default</environments>
    <interviewLabel>【商談】 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【商談】ソリューション_自動失注変更</label>
    <loops>
        <name>loop</name>
        <label>ループ</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>SelectOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SelectOpp</name>
        <label>見積有効期限の商談一覧取得</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012RC0000003dfxYAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SL_mitsumoriyuukoukigen__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>見積書・発注書提出</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upd</name>
        <label>更新</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <inputReference>UpdList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectOpp</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-05</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
