force-app/main/default/flows/subFlowNotifyCompletionDateExceeded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>customNotify</name>
        <label>customNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>mailNotify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0MLRC0000033Run4AE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>colTargetCustomNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>customNotifySubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>customNotifyText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>inputOpp.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>mailNotify</name>
        <label>mailNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>setIsCompletionDelayNotified</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>colTargetMailNotify</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>senderMail</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>mailNotifySubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>{!mailNotifyText}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addColTargetCustomNotify</name>
        <label>addColTargetCustomNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colTargetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inputOpp.ST_SalesRepresentative__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTargetCustomNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inputOpp.ST_SalesRepresentative__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addColTargetMailNotify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addColTargetMailNotify</name>
        <label>addColTargetMailNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colTargetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inputOpp.ST_SalesRepresentative__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTargetMailNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inputOpp.ST_SalesRepresentative__r.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decideIsTargetNotify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setIsCompletionDelayNotified</name>
        <label>setIsCompletionDelayNotified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inputOpp.isCompletionDelayNotified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputOpp.ST_InitialNotifyDate_SyukouOverdue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updInputOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decideIsTargetNotify</name>
        <label>decideIsTargetNotify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>whenIsTargetNotify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTargetNotify</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputOpp.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>006RC00001MQUjdYAH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>customNotify</targetReference>
            </connector>
            <label>whenIsTargetNotify</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isTargetNotify</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!inputOpp.isCompletionDelayNotified__c} == FALSE,
NOT(ISBLANK( {!inputOpp.ST_syukou__c} )), {!inputOpp.ST_syukou__c} = $Flow.CurrentDate - 1, NOT(ISBLANK({!inputOpp.ST_SalesRepresentative__c})))</expression>
    </formulas>
    <formulas>
        <name>senderMail</name>
        <dataType>String</dataType>
        <expression>&quot;hiroki-matsui@nohara-inc.co.jp&quot;</expression>
    </formulas>
    <interviewLabel>【sub】スチール：竣工日超過通知処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【sub】スチール：竣工日超過通知処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updInputOpp</name>
        <label>updInputOpp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>inputOpp</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>addColTargetCustomNotify</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>customNotifySubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>【{!inputOpp.Account.Name}】の【{!inputOpp.Name}】で竣工日が超過しています。</text>
    </textTemplates>
    <textTemplates>
        <name>customNotifyText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>内容を確認いただき、フェーズを「完成」に更新いただけますようおねがいいたします。</text>
    </textTemplates>
    <textTemplates>
        <name>mailNotifySubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>商談竣工日超過</text>
    </textTemplates>
    <textTemplates>
        <name>mailNotifyText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>お疲れ様です。

【{!inputOpp.Account.Name}】の【{!inputOpp.Name}】で竣工日が超過しています。
下記リンクから内容を確認いただき、フェーズを「完成」に更新いただけますようおねがいいたします。

【商談URL】
https://forcecom175.lightning.force.com/lightning/r/Opportunity/{!inputOpp.Id}/view</text>
    </textTemplates>
    <variables>
        <name>colTargetCustomNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTargetMailNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
