force-app/main/default/flows/subFlowOppCreatePartner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addCreatePartnerEvaluationRecords</name>
        <label>addCreatePartnerEvaluationRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>createdPartnerEvaluationRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tmpPartnerEvaluation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopFiltColAccountIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setColAccountIds</name>
        <label>setColAccountIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fm_Check1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fm_Check2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fm_Check3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filtColAccountIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTmpPartnerEvaluation</name>
        <label>setTmpPartnerEvaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tmpPartnerEvaluation.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopFiltColAccountIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpPartnerEvaluation.Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>targetOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tmpPartnerEvaluation.Foreman__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tmpForemanValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCreatePartnerEvaluationRecords</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filtColAccountIds</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filtColAccountIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_filtColAccountIds</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colAccountIds</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filtColAccountIds</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>DUMMY</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopFiltColAccountIds</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>fm_Check1</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!targetOpp.ST_toritsukehan__c}), &quot;DUMMY&quot;, {!targetOpp.ST_toritsukehan__c})</expression>
    </formulas>
    <formulas>
        <name>fm_Check2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!targetOpp.ST_toritsukehan2__c}), &quot;DUMMY&quot;, {!targetOpp.ST_toritsukehan2__c})</expression>
    </formulas>
    <formulas>
        <name>fm_Check3</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!targetOpp.ST_toritsukehan3__c}), &quot;DUMMY&quot;, {!targetOpp.ST_toritsukehan3__c})</expression>
    </formulas>
    <formulas>
        <name>tmpForemanValue</name>
        <dataType>String</dataType>
        <expression>IF({!loopFiltColAccountIds} = {!targetOpp.ST_toritsukehan__c}, {!targetOpp.ST_Foreman1__c},
IF({!loopFiltColAccountIds} = {!targetOpp.ST_toritsukehan2__c}, {!targetOpp.ST_Foreman2__c},
IF({!loopFiltColAccountIds} = {!targetOpp.ST_toritsukehan3__c}, {!targetOpp.ST_Foreman3__c},
&quot;&quot;)))</expression>
    </formulas>
    <interviewLabel>【sub】スチール：協力業者レコード作成処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【sub】スチール：協力業者レコード作成処理</label>
    <loops>
        <name>loopFiltColAccountIds</name>
        <label>loopFiltColAccountIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>filtColAccountIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setTmpPartnerEvaluation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createPartnerEvaluationRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createPartnerEvaluationRecords</name>
        <label>createPartnerEvaluationRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>createdPartnerEvaluationRecords</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>setColAccountIds</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdPartnerEvaluationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PartnerEvaluation__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filtColAccountIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>tmpPartnerEvaluation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartnerEvaluation__c</objectType>
    </variables>
</Flow>
