force-app/main/default/flows/SummaryReportFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add</name>
        <label>Add</label>
        <locationX>758</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>updateEventList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add2</name>
        <label>Add2</label>
        <locationX>969</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>updateTodoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add3</name>
        <label>Add3</label>
        <locationX>722</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>DelEventList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add4</name>
        <label>Add4</label>
        <locationX>669</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>DeleteTaskList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set</name>
        <label>Set</label>
        <locationX>671</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Loop.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set2</name>
        <label>Set2</label>
        <locationX>1021</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>Loop2.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set3</name>
        <label>Set3</label>
        <locationX>620</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>Loop3.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set4</name>
        <label>Set4</label>
        <locationX>549</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Loop4.SummaryReport__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add4</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exist</name>
        <label>Exist</label>
        <locationX>384</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Select_Todo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Exist_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>Exist Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist2</name>
        <label>Exist2</label>
        <locationX>661</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ExistTodo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Todo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop2</targetReference>
            </connector>
            <label>ExistTodo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist3</name>
        <label>Exist3</label>
        <locationX>388</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>Select_DeleteTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Exist_DelEv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_DeleteEvent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop3</targetReference>
            </connector>
            <label>Exist DelEv</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist4</name>
        <label>Exist4</label>
        <locationX>264</locationX>
        <locationY>765</locationY>
        <defaultConnector>
            <targetReference>Select_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ExistDelTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_DeleteTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop4</targetReference>
            </connector>
            <label>ExistDelTask</label>
        </rules>
    </decisions>
    <formulas>
        <name>From</name>
        <dataType>Number</dataType>
        <expression>value(
left(text({!$Record.From__c}), 4)
&amp;
mid(text({!$Record.From__c}), 6, 2)
&amp;
mid(text({!$Record.From__c}), 9, 2)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>To</name>
        <dataType>Number</dataType>
        <expression>value(
left(text({!$Record.To__c}), 4)
&amp;
mid(text({!$Record.To__c}), 6, 2)
&amp;
mid(text({!$Record.To__c}), 9, 2)
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SummaryReportFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SummaryReportFlow</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>415</locationX>
        <locationY>91</locationY>
        <collectionReference>Select_Event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2</name>
        <label>Loop2</label>
        <locationX>817</locationX>
        <locationY>283</locationY>
        <collectionReference>Select_Todo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop3</name>
        <label>Loop3</label>
        <locationX>498</locationX>
        <locationY>622</locationY>
        <collectionReference>Select_DeleteEvent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop4</name>
        <label>Loop4</label>
        <locationX>441</locationX>
        <locationY>736</locationY>
        <collectionReference>Select_DeleteTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Select_DeleteEvent</name>
        <label>Select DeleteEvent</label>
        <locationX>107</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SummaryReport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsChild</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsRecurrence2</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Select_DeleteTask</name>
        <label>Select DeleteTask</label>
        <locationX>39</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SummaryReport__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Select_Event</name>
        <label>Select Event</label>
        <locationX>297</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DateValue__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>From</elementReference>
            </value>
        </filters>
        <filters>
            <field>DateValue__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>To</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsChild</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsRecurrence2</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SummaryReport__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Select_Todo</name>
        <label>Select Todo</label>
        <locationX>531</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DateValue__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>From</elementReference>
            </value>
        </filters>
        <filters>
            <field>DateValue__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>To</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SummaryReport__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>更新</label>
        <locationX>573</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Select_Todo</targetReference>
        </connector>
        <inputReference>updateEventList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update2</name>
        <label>Update2</label>
        <locationX>761</locationX>
        <locationY>512</locationY>
        <inputReference>updateTodoList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update3</name>
        <label>Update3</label>
        <locationX>294</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>Select_DeleteTask</targetReference>
        </connector>
        <inputReference>DelEventList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update4</name>
        <label>Update4</label>
        <locationX>197</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Select_Event</targetReference>
        </connector>
        <inputReference>DeleteTaskList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Select_DeleteEvent</targetReference>
        </connector>
        <object>SummaryReport__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DeleteTaskList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>DelEventList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>updateEventList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>updateTodoList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
