force-app/main/default/flows/SupplyItem_Update_ReferenceProductFamilyAndAssetRelationFlg.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>商品カテゴリ</description>
        <name>SetSupplyItemRecordValiable1</name>
        <label>仕入商品レコード変数に値をセット</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAssetNotAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>納入商品指定済</description>
        <name>SetSupplyItemRecordValiable2</name>
        <label>仕入商品レコード変数に値をセット</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.SelectedAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSupplyItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetvSupplyItemValiable</name>
        <label>仕入商品レコード変数に値をセット</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAssetNotAssignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vsRecSupplyItem.SelectedAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_AllocatedAsset</name>
        <label>納入商品に割当があるか</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>SetvSupplyItemValiable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Allocated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSupplyItemRecordValiable2</targetReference>
            </connector>
            <label>割当済み</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【仕入商品】作成時_商品カテゴリ参照＆納入商品関連付けフラグ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【仕入商品】更新時_商品カテゴリ参照＆納入商品関連付けフラグ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAssetNotAssignment</name>
        <label>仕入商品が割当たっていない納入商品を取得</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_AllocatedAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SupplyItem__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductItem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012BS000000BBL7YAO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <sortField>AssetNameNum__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAsset</name>
        <label>納入商品を更新</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>UpdateSupplyItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAssetNotAssignment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SupplyItem__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSupplyItem</name>
        <label>仕入商品レコードを更新</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <inputReference>vsRecSupplyItem</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetSupplyItemRecordValiable1</targetReference>
        </connector>
        <object>SupplyItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vsRecSupplyItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SupplyItem__c</objectType>
    </variables>
</Flow>
