force-app/main/default/flows/surveyResponseRecordFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendNotification</name>
        <label>アンケート結果作成完了を通知</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>updIsSurveyResultLogTarget</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>test_notificationTargetEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>アンケート回答記録完了：CS_マテコン評価</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>「CS_マテコン氷菓」について
アンケート回答の記録が完了しました。</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkLastAnsweredSurveyName</name>
        <label>最終回答アンケート名による分岐</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>updIsSurveyResultLogTarget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>caseMaterialconcierge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.lastAnsweredSurveyName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CS_マテコン評価</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createSurveyResult</targetReference>
            </connector>
            <label>CS_マテコン評価</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>notificationTargetEmail</name>
        <dataType>String</dataType>
        <expression>&quot;hideki-eiraku@nohara-inc.co.jp, yuki-kitahara@nohara-inc.co.jp&quot;</expression>
    </formulas>
    <formulas>
        <name>test_notificationTargetEmail</name>
        <dataType>String</dataType>
        <expression>&quot;hiroki-matsui@nohara-inc.co.jp&quot;</expression>
    </formulas>
    <interviewLabel>【アンケート】アンケート記録フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【アンケート】アンケート記録フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createSurveyResult</name>
        <label>createSurveyResult</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sendNotification</targetReference>
        </connector>
        <inputAssignments>
            <field>AdditionalFeedback__c</field>
            <value>
                <elementReference>$Record.surveyItem7__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EfficiencyImprovedWork__c</field>
            <value>
                <elementReference>$Record.surveyItem3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EfficiencyNoImpactReason__c</field>
            <value>
                <elementReference>$Record.surveyItem4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposalSatisfaction__c</field>
            <value>
                <elementReference>$Record.surveyItem1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposalSpeedReason__c</field>
            <value>
                <elementReference>$Record.surveyItem6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProposalSpeedSatisfaction__c</field>
            <value>
                <elementReference>$Record.surveyItem5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceEfficiencyImpact__c</field>
            <value>
                <elementReference>$Record.surveyItem2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyName__c</field>
            <value>
                <elementReference>$Record.lastAnsweredSurveyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>surveyContact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyResult__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>updIsSurveyResultLogTarget</name>
        <label>updIsSurveyResultLogTarget</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>isSurveyResultLogTarget__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkLastAnsweredSurveyName</targetReference>
        </connector>
        <filterFormula>AND(
  {!$Record.isSurveyResultLogTarget__c} = TRUE,
  ISCHANGED({!$Record.surveyResponseDate__c})
)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
