force-app/main/default/flows/UniqueName1111.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>perception_relation</name>
        <label>パーセプションが紐づいているかどうか</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>UniqueNamegggg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>レコードなし</defaultConnectorLabel>
        <rules>
            <name>record_ari</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getperception</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>レコード有</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>【得意先担当者】パーセプションレコード作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>【得意先担当者】パーセプションレコード作成</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>perceptionrecorcreate</name>
        <label>パーセプションレコード作成</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp__c</field>
            <value>
                <elementReference>UniqueNamegggg.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>perception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getperception</name>
        <label>パーセプションレコードを取得</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>perception_relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>perception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UniqueNamegggg</name>
        <label>商談情報取得</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>perceptionrecorcreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012BV0000004Hr6YAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getperception</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DX_Keyman__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A</stringValue>
            </value>
        </filters>
        <filters>
            <field>DX_Keyman__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B</stringValue>
            </value>
        </filters>
        <filters>
            <field>DX_Keyman__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
