force-app/main/default/flows/ZyutyuukakudoUpd.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetArankhanteibi</name>
        <label>Aランク</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>$Record.EN_Arankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Brankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Crankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Drankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_sekisankyouryokuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sekisankyouryokuhanteibi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetBrankhanteibi</name>
        <label>Bランク</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.EN_Brankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Crankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Drankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_sekisankyouryokuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sekisankyouryokuhanteibi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCrankhanteibi</name>
        <label>Cランク</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.EN_Crankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Drankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_sekisankyouryokuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sekisankyouryokuhanteibi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDrankhanteibi</name>
        <label>Dランク</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.EN_Drankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_sekisankyouryokuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sekisankyouryokuhanteibi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSekisankyouryokuhanteibi</name>
        <label>積算</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.EN_sekisankyouryokuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sekisankyouryokuhanteibi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSittyuuhanteibi</name>
        <label>失注日更新</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.EN_sittyuuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetZitaihanteibi</name>
        <label>辞退日更新</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.EN_zitaihanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetZyutyuuhanteibi</name>
        <label>受注</label>
        <locationX>1898</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.EN_Arankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Brankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Crankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Drankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_sekisankyouryokuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sekisankyouryokuhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_zyutyuuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zyutyuuhanteibi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetZyutyuukakuteihanteibi</name>
        <label>受注確定</label>
        <locationX>2162</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.EN_Arankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Brankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Crankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_Drankhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Drankhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_sekisankyouryokuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sekisankyouryokuhanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_zyutyuukakuteihanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zyutyuukakuteihanteibi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EN_zyutyuuhanteibi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zyutyuuhanteibi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdDate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check1</name>
        <label>失注</label>
        <locationX>313</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Status1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>失注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSittyuuhanteibi</targetReference>
            </connector>
            <label>失注</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check2</name>
        <label>辞退</label>
        <locationX>576</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Stasus2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>辞退</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetZitaihanteibi</targetReference>
            </connector>
            <label>辞退</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check3</name>
        <label>積算</label>
        <locationX>839</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Status3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>積算協力</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSekisankyouryokuhanteibi</targetReference>
            </connector>
            <label>積算</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check4</name>
        <label>Dランク</label>
        <locationX>1101</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Status4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dランク</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDrankhanteibi</targetReference>
            </connector>
            <label>Dランク</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check5</name>
        <label>Cランク</label>
        <locationX>1361</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Status5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cランク</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCrankhanteibi</targetReference>
            </connector>
            <label>Cランク</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check6</name>
        <label>Bランク</label>
        <locationX>1617</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Check7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Status6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bランク</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetBrankhanteibi</targetReference>
            </connector>
            <label>Bランク</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check7</name>
        <label>Aランク</label>
        <locationX>1865</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Check8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Status7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aランク</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetArankhanteibi</targetReference>
            </connector>
            <label>Aランク</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check8</name>
        <label>受注</label>
        <locationX>2096</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Check9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Status8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetZyutyuuhanteibi</targetReference>
            </connector>
            <label>受注</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check9</name>
        <label>受注確定</label>
        <locationX>2294</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>UpdDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Status9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.en_zyutyuukakudo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>受注確定</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetZyutyuukakuteihanteibi</targetReference>
            </connector>
            <label>受注確定</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Arankhanteibi</name>
        <dataType>Date</dataType>
        <expression>IF (ISNULL({!$Record.EN_Arankhanteibi__c}) , TODAY() ,{!$Record.EN_Arankhanteibi__c})</expression>
    </formulas>
    <formulas>
        <name>Brankhanteibi</name>
        <dataType>Date</dataType>
        <expression>IF (ISNULL({!$Record.EN_Brankhanteibi__c}) , TODAY() ,{!$Record.EN_Brankhanteibi__c})</expression>
    </formulas>
    <formulas>
        <name>Crankhanteibi</name>
        <dataType>Date</dataType>
        <expression>IF (ISNULL({!$Record.EN_Crankhanteibi__c}) , TODAY() ,{!$Record.EN_Crankhanteibi__c})</expression>
    </formulas>
    <formulas>
        <name>Drankhanteibi</name>
        <dataType>Date</dataType>
        <expression>IF (ISNULL({!$Record.EN_Drankhanteibi__c}) , TODAY() ,{!$Record.EN_Drankhanteibi__c})</expression>
    </formulas>
    <formulas>
        <name>sekisankyouryokuhanteibi</name>
        <dataType>Date</dataType>
        <expression>IF (ISNULL({!$Record.EN_sekisankyouryokuhanteibi__c}) , TODAY() ,{!$Record.EN_sekisankyouryokuhanteibi__c})</expression>
    </formulas>
    <formulas>
        <name>zyutyuuhanteibi</name>
        <dataType>Date</dataType>
        <expression>IF (ISNULL({!$Record.EN_zyutyuuhanteibi__c}) , TODAY() ,{!$Record.EN_zyutyuuhanteibi__c})</expression>
    </formulas>
    <formulas>
        <name>zyutyuukakuteihanteibi</name>
        <dataType>Date</dataType>
        <expression>IF (ISNULL({!$Record.EN_zyutyuukakuteihanteibi__c}) , TODAY() ,{!$Record.EN_zyutyuukakuteihanteibi__c})</expression>
    </formulas>
    <interviewLabel>受注確度判定日更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>受注確度判定日更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdDate</name>
        <label>受注確度判定日更新</label>
        <locationX>313</locationX>
        <locationY>2159</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>187</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check1</targetReference>
        </connector>
        <filterFormula>AND( OR ( ISNEW() , ISCHANGED( {!$Record.en_zyutyuukakudo__c}) ) , NOT(ISBLANK({!$Record.en_zyutyuukakudo__c})) )</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
